<apex:page id="Page" standardcontroller="contact_rule__c" recordSetVar="CR" extensions="ContactRole">
<STYLE>  
        .hintstyle {  
            position:absolute;  
            background:#EEEEEE;  
            border:1px solid black;  
            padding:2px;
             
        }  
</STYLE> 

<script type="text/javascript">        
        
         var hintcontainer = null;
         var hinttext="";  
   function showhint(obj) {  
      if (hintcontainer==null) {
        hinttext= "+5 热情鼓吹<BR>+4 强烈支持<BR>+3 支持<BR>+2 感兴趣<BR>+1 愿意跟随<BR>-1 可能不抵制<BR>-2 不感兴趣<BR>-3 消极<BR>-4 十分消极<BR>-5 反对";  
         hintcontainer = document.createElement("div");  
         hintcontainer.className="hintstyle";
         hintcontainer.innerHTML=hinttext;
         obj.appendChild(hintcontainer);  
      }  
      obj.onmouseout = hidehint;  
      obj.onmousemove=movehint; 

        
   }  
   function movehint(e) {  
       if (!e) e = event; 
       
       hintcontainer.style.display="";  
   }  
   function hidehint() {  
      hintcontainer.style.display="none";  
   }  

   function checkForSelection(input)
    {
        var inputElements= document.getElementsByTagName("input");
        
        for(var i=0; i<inputElements.length; i++)
        {
            
            if(input.checked==true && input!=inputElements[i]){
                
                    inputElements[i].checked=false;
              
               }
                
    } 
    }      
      
 </script> 
<apex:sectionHeader title="联系人角色 {!opportunityName}" />
<apex:form id="Form">
<apex:pageBlock id="Block" >

<apex:pageBlockButtons >
<apex:commandButton value="Save." action="{!save}"/>
<apex:commandButton value="Cancel" action="{!cancel}"/>
</apex:pageBlockButtons>


<apex:pageBlockTable value="{!contactRoles}" var="con">


<apex:column >
            <apex:facet name="header"><Strong>主要</Strong></apex:facet>                        
            <apex:inputCheckbox onclick="checkForSelection(this)" value="{!con.IsPrimary__c}"/>
</apex:column>

<apex:column >
<apex:facet name="header"><Strong>姓名</Strong></apex:facet>   
        <apex:inputField style="{width:80px}" value="{!con.Contact__c}"/>            
</apex:column>


<apex:column > 
<apex:facet name="header"><Strong>职位</Strong></apex:facet>  
        <apex:inputField value="{!con.Title__c}"/>            
</apex:column>


<apex:column >   
        <apex:facet name="header"><Strong>角色</Strong></apex:facet>
        <apex:inputField style="{width:80px}" value="{!con.Role__c}"/>            
</apex:column>


<apex:column >
<apex:facet name="header">
<Strong>影响力</Strong>
</apex:facet>   
        <apex:inputField style="{width:60px}" value="{!con.Influence__c}"/>            
</apex:column>


<apex:column >
<apex:facet name="header"><Strong>接受变<br/>化模式</Strong></apex:facet>   
        <apex:inputField style="{width:60px}" value="{!con.ChangeMode__c}"/>            
</apex:column>


<apex:column >  
<apex:facet name="header"><Strong>模式依据</Strong></apex:facet> 
        <apex:inputField style="{width:80px}" value="{!con.ModeProof__c}"/>            
</apex:column>


<apex:column > 
<apex:facet name="header"> 评分
<A href="javascript:void(0);"  onmouseover="showhint(this)">  ?</A>
</apex:facet>  
       <apex:inputField style="{width:40px}" value="{!con.Grade__c}"/>            
</apex:column>



<apex:column > 
<apex:facet name="header"><Strong>支持评<br/>级依据</Strong></apex:facet>  
        <apex:inputField style="{width:80px}" value="{!con.SupportProof__c}"/>            
</apex:column>


<apex:column > 
<apex:facet name="header"><Strong>每月可治<br/>疗ESRD</Strong></apex:facet>  
        <apex:inputField style="{width:60px}" value="{!con.Pa_Month__c}"/>            
</apex:column>

<apex:column > 
<apex:facet name="header"><Strong>占总<br/>ESRD</Strong></apex:facet>  
        <apex:inputField value="{!con.ESRD_Percent__c}"/>            
</apex:column>


<apex:column > 
<apex:facet name="header"><Strong>推荐进<br/>入肾科</Strong></apex:facet>  
        <apex:inputField style="{width:60px}" value="{!con.Rec_Renal__c}"/>            
</apex:column>


<apex:column > 
<apex:facet name="header"><Strong>推荐率</Strong></apex:facet>  
        <apex:inputField value="{!con.Rec_rate__c}"/>            
</apex:column>


<apex:column > 
<apex:facet name="header"><Strong>需透析治<br/>疗ESRD</Strong></apex:facet>  
        <apex:inputField style="{width:60px}" value="{!con.Dialyse_ESRD__c}"/>            
</apex:column>


Dialyse_Percent__c
<apex:column > 
<apex:facet name="header"><Strong>占肾科<br/>总数%</Strong></apex:facet>  
        <apex:inputField value="{!con.Dialyse_Percent__c}"/>            
</apex:column>


<apex:column > 
<apex:facet name="header"><Strong>进入腹<br/>透治疗</Strong></apex:facet>  
        <apex:inputField style="{width:60px}" value="{!con.PD_No__c}"/>            
</apex:column>

<apex:column > 
<apex:facet name="header"><Strong>PD Take<br/>on rate</Strong></apex:facet>  
        <apex:inputField value="{!con.PD_Take_on_rate__c}"/>            
</apex:column>

</apex:pageBlockTable>
</apex:pageBlock>
</apex:form>

  
</apex:page>