<apex:page standardController="PM_Patient__c" showHeader="false" extensions="PM_VisitPatientDevController"  id="pt">
<!-- 病人拜访总表 -->
<!-- Created by 郝彬 -->
<apex:includeScript value="{!URLFOR($Resource.jquery)}" />
<apex:includeScript value="{!URLFOR($Resource.jquery_bgiframe1)}" />
<apex:includeScript value="{!URLFOR($Resource.multiselect)}" />
<apex:stylesheet value="{!URLFOR($Resource.multiselectcss)}"  /> 

<apex:includeScript value="/soap/ajax/27.0/connection.js"/>
<apex:includeScript value="/soap/ajax/27.0/apex.js"/> 
<script type="text/javascript">
var __sfdcSessionId = '{!GETSESSIONID()}';
</script>
<script src="../../soap/ajax/27.0/connection.js" type="text/javascript"></script>
<style type="text/css">
.contexts
{
width:20px; 
}
.values
{
width:100px;
}
.lblfont{ color:#4a4a56 !important;white-space: nowrap;font-size: 91%;font-weight: bold;}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script>
var AreaAllList;
var ProvinceAllList;
var PM_ProvinceAllList;
var CityAllList;
var isFirst = "true";
$(document).ready(function(){
 $("#BigArea,#Province,#City,#County,#PatientProvince,#PatientCity,#PatientCounty,#InHospital,#SonArea,#BestVisitTime").multiSelect({ noneSelected: '', oneOrMoreSelected:'*' });
 $("#BigArea,#Province,#City,#County,#PatientProvince,#PatientCity,#PatientCounty,#InHospital,#SonArea,#BestVisitTime").width(80);
  $("#BigArea,#Province,#City,#County,#PatientProvince,#PatientCity,#PatientCounty,#InHospital,#SonArea,#BestVisitTime").height(16);
 var div = document.getElementById("mydiv");
 var divs = document.getElementById("img_pt");
 if (div.style.display != 'none') { 
     div.style.display = 'none';  
     divs.className ='showListButton';
 } else {
     div.style.display = 'block'; 
     divs.className = 'hideListButton';
 } 
 
 LoadArea();
})
function goToDetail(item)
{
  //window.open("/apex/PM_PatientDetailsDev?id="+item);
  window.open("/apex/PM_PatientVisitDetail?id="+item);
}
function ChangeSelect()
{
//document.getElementById("content").text;
}
function LoadArea()
{
   //绑定大区
    sforce.connection.sessionId = '{!$Api.Session_ID}';
    var sqlstr="select Name from Region__c   Order By Name ";
    var stateBigArea = { 
        tabId: "BigArea"
    };
    var callbackBigArea = {
        onSuccess: loaderResults,
        onFailure: queryFailed,
        source: stateBigArea
    };
    sforce.connection.query(sqlstr,callbackBigArea);
    //绑定省份
    var sqlstr1="select Name,Region__r.Name from Provinces__c Order By Name ";
    var stateProvince = { 
        tabId: "Province"
    };
    var callbackProvince = {
        onSuccess: loaderResults,
        onFailure: queryFailed,
        source: stateProvince
    };
    sforce.connection.query(sqlstr1,callbackProvince);
    //绑定业务省份
    var sqlstr1="select Name,PM_Region__r.Name from PM_Province__c Order By Name ";
    var stateProvince = { 
        tabId: "PM_Province"
    };
    var callbackProvince = {
        onSuccess: loaderResults,
        onFailure: queryFailed,
        source: stateProvince
    };
    sforce.connection.query(sqlstr1,callbackProvince);
    //绑定城市
    var sqlstr2="select Name,PM_Province__r.Name,PM_Province__r.PM_Region__r.Name,BelongToProvince__r.Name,BelongToProvince__r.Region__r.Name from Cities__c Order By Name";
    var stateCity = { 
        tabId: "City"
    };
    var callbackCity = {
        onSuccess: loaderResults,
        onFailure: queryFailed,
        source: stateCity
    };
    sforce.connection.query(sqlstr2,callbackCity);
}
//失败
function queryFailed(error, source) {alert('联动失败，原因：'+error);}
//成功
function layoutResults(queryResult, source) 
{
	var records = queryResult.getArray('records');
 	$("#"+source.tabId).empty();
    for (var i=0; i< records.length; i++) 
    {
    	if(source.tabId == 'InHospital'&&records[i].PMMNib__r==null)
    	{
    		continue;
    	}
        $("#"+source.tabId).append('<option value="'+records[i].Name+'">'+records[i].Name+'</option>');
    }
    $("#"+source.tabId).multiSelect({noneSelected: '', oneOrMoreSelected:'*'});
    $("#"+source.tabId).width(80);
    $("#"+source.tabId).height(16);
    if(source.tabId == 'InHospital')
    {
    	document.getElementById("pt:f:bl:messageIcon").style.display = "none";
    }
    if(source.tabId=="PatientCounty")
    {
    	document.getElementById("pt:f:bl:messageIcon3").style.display = "none";
    }
    if(source.tabId=="County")
    {
    	document.getElementById("pt:f:bl:messageIcon4").style.display = "none";
    }
}
//loader task
function loaderResults(queryResult, source) 
{
	if(source.tabId=="BigArea")
	{
	 	AreaAllList = queryResult.getArray('records');
	}
	else if(source.tabId == "Province")
	{
		ProvinceAllList = queryResult.getArray('records');
	}
	else if(source.tabId == "PM_Province")
	{
		PM_ProvinceAllList = queryResult.getArray('records');
		
	}
	else if(source.tabId == "City")
	{
		CityAllList = queryResult.getArray('records');
		
	}
	
}
//多选列表初始化
function pickListloading()
{
	pickListFill('BigArea',AreaAllList);
	pickListFill('Province',PM_ProvinceAllList);
	pickListFill('PatientProvince',ProvinceAllList);
	pickListFill('City',CityAllList);
	pickListFill('PatientCity',CityAllList);
}
//多选列表填充方法
function pickListFill(tabId,sObList)
{
	$("#"+tabId).empty();
    for (var i=0; i< sObList.length; i++) 
    {
        $("#"+tabId).append('<option value="'+sObList[i].Name+'">'+sObList[i].Name+'</option>');
    }
    $("#"+tabId).multiSelect({noneSelected: '', oneOrMoreSelected:'*'});
    $("#"+tabId).width(80);
    $("#"+tabId).height(16);
}
//通过选中的大区，查询选中大区的省份
function ChangeAreaAsy(tabId)
{
	var provincePickList = new Array();
	var cityPickList = new Array();
	//大区条件
	var area;
    if ( document.all && "object" == typeof( window.external ) )//IE浏览器
    {  
        area=document.getElementById("BigArea").innerText;
    }
    else//其他浏览器
    {
        area=document.getElementById("BigArea").text;
    }
    if(area == null || area == '')
    {
    	if(tabId != "Province")
    	{
    		pickListFill('Province',ProvinceAllList);
    	}
    	if(tabId != "City")
    	{
    		pickListFill('City',CityAllList);
    	}
    	return;
    }
    //省份
    if(tabId != "Province")
    {
	    for(var i=0;i<PM_ProvinceAllList.length;i++)
	    {
	       if(PM_ProvinceAllList[i].PM_Region__r == null || area.indexOf(PM_ProvinceAllList[i].PM_Region__r.Name) == -1)
	       {
	       		continue;
	       }
	       provincePickList.push(PM_ProvinceAllList[i]);
	    }
	    
	    pickListFill("Province",provincePickList);
    }
      //城市
    if(tabId != "City")
    {
        for(var i=0;i<CityAllList.length;i++)
        {
           if(CityAllList[i].PM_Province__r.PM_Region__r == null ||area.indexOf(CityAllList[i].PM_Province__r.PM_Region__r.Name) == -1)
           {
                continue;
           }
           cityPickList.push(CityAllList[i]);
        }
        pickListFill("City",cityPickList);
    }
}
//通过选中的省份，查询选中省份的城市
function ChangeProvinceAsy(provId,tabId)
{
	var cityPickList = new Array();
	var countyPickList = new Array();
	var province;
	if ( document.all && "object" == typeof( window.external ) )//IE浏览器
    {  
        province=document.getElementById(provId).innerText;
    }
    else//其他浏览器
    {
        province=document.getElementById(provId).text;
    }
    if(provId=="Province"&&(province == null || province == ""))
    {
    	if(tabId != null && tabId != '')
    	{
    		ChangeAreaAsy(tabId);
    	}
    	else
    	{
    		ChangeAreaAsy(provId);
    	}
    	return;
    }
    else if(provId=="PatientProvince" && (province == null || province == ""))
    {
    	if(tabId != "PatientCity")
    	{
    		pickListFill('PatientCity',CityAllList);
    	}
    	return;
    }
	 //城市
    for(var i=0;i<CityAllList.length;i++)
    {
       if(provId == 'Province')
       {
	       if(province.indexOf(CityAllList[i].PM_Province__r.Name) == -1)
	       {
	            continue;
	       }
	       cityPickList.push(CityAllList[i]);
       }
       else
       {
       	   if(province.indexOf(CityAllList[i].BelongToProvince__r.Name) == -1)
	       {
	            continue;
	       }
	       cityPickList.push(CityAllList[i]);
       }
    }
    if(tabId != "City" && provId =="Province")
    {
    	pickListFill("City",cityPickList);
    }
    else if(tabId != "PatientCity" && provId =="PatientProvince")
    {
    	pickListFill("PatientCity",cityPickList);
    }
}
//通过选中的大区、省份、城市、县，查询医院
function ChangeHospitalAsy()
{
	document.getElementById("pt:f:bl:messageIcon").style.display = "block";
	//大区堆栈
    var area;
    if ( document.all && "object" == typeof( window.external ) )//IE浏览器
    {  
        area=document.getElementById("BigArea").innerText;
    }
    else//其他浏览器
    {
        area=document.getElementById("BigArea").text;
    }
    var areaList=area.split(', ');
    var areas = "";
    for(var i=0;i<areaList.length;i++)
    {
       if(areas=="")
       {
         areas="'"+areaList[i]+"'";
       }
       else
       {
         areas+=",'"+areaList[i]+"'";
       }
    }
    //省份堆栈
    var province;
    if ( document.all && "object" == typeof( window.external ) )//IE浏览器
    {  
        province=document.getElementById("Province").innerText;
    }
    else//其他浏览器
    {
        province=document.getElementById("Province").text;
    }
    var provinceList = province.split(', ');
    var provinces="";
    for(var i=0;i<provinceList.length;i++)
    {
       if(provinces=="")
       {
         provinces="'"+provinceList[i]+"'";
       }
       else
       {
         provinces+=",'"+provinceList[i]+"'";
       }
    }
    //城市堆栈
    var city;
    if ( document.all && "object" == typeof( window.external ) )//IE浏览器
    {  
        city=document.getElementById("City").innerText;
    }
    else//其他浏览器
    {
        city=document.getElementById("City").text;
    }
    var cityList=city.split(', ');
    var cities="";
    for(var i=0;i<cityList.length;i++)
    {
       if(cities=="")
       {
         cities="'"+cityList[i]+"'";
       }
       else
       {
         cities+=",'"+cityList[i]+"'";
       }
    }
    //县堆栈
    var county;
    if ( document.all && "object" == typeof( window.external ) )//IE浏览器
    {  
        county=document.getElementById("County").innerText;
    }
    else//其他浏览器
    {
        county=document.getElementById("County").text;
    }
    var countyList=county.split(', ');
    var counties="";
    for(var i=0;i<countyList.length;i++)
    {
       if(counties=="")
       {
         counties="'"+countyList[i]+"'";
       }
       else
       {
         counties+=",'"+countyList[i]+"'";
       }
    }
    var sql ="select Name,(Select Id From PMMNib__r limit 1) from Account Where RecordType.DeveloperName = 'RecordType' and  RecordType.SobjectType = 'Account'  ";
    if(counties != null && counties != "''" && counties != "'Select options'")
    {
        sql += " and Country__r.Name in ("+counties+") ";
    }
    else if(cities != null && cities != "''" && cities != "'Select options'")
    {
        sql += " and Cities__r.Name in ("+cities+") ";
    }
    else if(provinces != null && provinces != "''" && provinces != "'Select options'")
    {
        sql += " and PM_Province__r.Name in ("+provinces+") ";
    }
    else if(areas != null && areas != "''" && areas != "'Select options'")
    {
        sql += " and Region__r.Name in ("+areas+") ";
    }
    sql += " Order by Name ";
    var stateInHos = { 
		tabId: "InHospital"
	};
	var callbackInHos = {
		onSuccess: layoutResults,
		onFailure: queryFailed,
		source: stateInHos
	};
	sforce.connection.query(sql,callbackInHos);
}
//通过选中的大区、省份、城市查询县
function ChangeCountyAsy(tabId)
{
	if(tabId=="Patient")
    {
    	document.getElementById("pt:f:bl:messageIcon3").style.display = "block";
    }
    else
    {
    	document.getElementById("pt:f:bl:messageIcon4").style.display = "block";
    }
	
    //大区堆栈
    var area;
    if(tabId=="")
    {
	    if ( document.all && "object" == typeof( window.external ) )//IE浏览器
	    {  
	        area=document.getElementById("BigArea").innerText;
	    }
	    else//其他浏览器
	    {
	        area=document.getElementById("BigArea").text;
	    }
	    var areaList=area.split(', ');
	    var areas = "";
	    for(var i=0;i<areaList.length;i++)
	    {
	       if(areas=="")
	       {
	         areas="'"+areaList[i]+"'";
	       }
	       else
	       {
	         areas+=",'"+areaList[i]+"'";
	       }
	    }
    }
    //省份堆栈
    var province;
    if ( document.all && "object" == typeof( window.external ) )//IE浏览器
    {  
        province=document.getElementById(tabId+"Province").innerText;
    }
    else//其他浏览器
    {
        province=document.getElementById(tabId+"Province").text;
    }
    var provinceList = province.split(', ');
    var provinces="";
    for(var i=0;i<provinceList.length;i++)
    {
       if(provinces=="")
       {
         provinces="'"+provinceList[i]+"'";
       }
       else
       {
         provinces+=",'"+provinceList[i]+"'";
       }
    }
    //城市堆栈
    var city;
    if ( document.all && "object" == typeof( window.external ) )//IE浏览器
    {  
        city=document.getElementById(tabId+"City").innerText;
    }
    else//其他浏览器
    {
        city=document.getElementById(tabId+"City").text;
    }
    var cityList=city.split(', ');
    var cities="";
    for(var i=0;i<cityList.length;i++)
    {
       if(cities=="")
       {
         cities="'"+cityList[i]+"'";
       }
       else
       {
         cities+=",'"+cityList[i]+"'";
       }
    }
    var sql ="select Name from Country__c Where Name != null ";
    if(areas != null && areas != "''" && areas != "'Select options'")
    {
        sql += " and City__r.PM_Province__r.PM_Region__r.Name in ("+areas+") ";
    }
    if(provinces != null && provinces != "''" && provinces != "'Select options'")
    {
        sql += " and City__r.PM_Province__r.Name in ("+provinces+") ";
    }
    if(cities != null && cities != "''" && cities != "'Select options'")
    {
        sql += " and City__r.Name in ("+cities+") ";
    }
    sql += " Order by Name ";
    if(tabId=="Patient")
    {
    	var stateCounty = { 
        tabId: "PatientCounty"
	    };
	    var callbackCounty = {
	        onSuccess: layoutResults,
	        onFailure: queryFailed,
	        source: stateCounty
	    };
	    sforce.connection.query(sql,callbackCounty);
    }
    else
    {
    	var stateCounty = { 
        tabId: "County"
	    };
	    var callbackCounty = {
	        onSuccess: layoutResults,
	        onFailure: queryFailed,
	        source: stateCounty
	    };
	    sforce.connection.query(sql,callbackCounty);
    }
}
//联动发生变化了，和后天交互
function ChangeHide()
{
    if ( document.all && "object" == typeof( window.external ) )//IE浏览器
    {  
        var BigArea = document.getElementById("BigArea").innerText;
        document.getElementById("pt:f:BigArea").value=BigArea;
        
        var Province = document.getElementById("Province").innerText;
        document.getElementById("pt:f:Province").value=Province;
        
        var City = document.getElementById("City").innerText;
        document.getElementById("pt:f:City").value=City;
        
        var County = document.getElementById("County").innerText;
        document.getElementById("pt:f:County").value=County;
        
        var PatientProvince = document.getElementById("PatientProvince").innerText;
        document.getElementById("pt:f:PatientProvince").value=PatientProvince;
        
        var PatientCity = document.getElementById("PatientCity").innerText;
        document.getElementById("pt:f:PatientCity").value=PatientCity;
        
        var PatientCounty = document.getElementById("PatientCounty").innerText;
        document.getElementById("pt:f:PatientCounty").value=PatientCounty;
        
        var InHospital = document.getElementById("InHospital").innerText;
        document.getElementById("pt:f:InHospital").value=InHospital;
        
        var SonArea = document.getElementById("SonArea").innerText;
        document.getElementById("pt:f:SonArea").value=SonArea;
		
		var BestVisitTime = document.getElementById("BestVisitTime").innerText;
        document.getElementById("pt:f:BestVisitTime").value= BestVisitTime;
    }
    else//其他浏览器
    {
        var BigArea = document.getElementById("BigArea").text;
        document.getElementById("pt:f:BigArea").value=BigArea;
        
        var Province = document.getElementById("Province").text;
        document.getElementById("pt:f:Province").value=Province;
        
        var City = document.getElementById("City").text;
        document.getElementById("pt:f:City").value=City;
        
        var County = document.getElementById("County").text;
        document.getElementById("pt:f:County").value=County;
        
        var PatientProvince = document.getElementById("PatientProvince").text;
        document.getElementById("pt:f:PatientProvince").value=PatientProvince;
        
        var PatientCity = document.getElementById("PatientCity").text;
        document.getElementById("pt:f:PatientCity").value=PatientCity;
        
        var PatientCounty = document.getElementById("PatientCounty").text;
        document.getElementById("pt:f:PatientCounty").value=PatientCounty;
        
        var InHospital = document.getElementById("InHospital").text;
        document.getElementById("pt:f:InHospital").value=InHospital;
        
        var SonArea = document.getElementById("SonArea").text;
        document.getElementById("pt:f:SonArea").value=SonArea;
        
        var BestVisitTime = document.getElementById("BestVisitTime").text;
        document.getElementById("pt:f:BestVisitTime").value= BestVisitTime;
    }
    
}
    
//导出字段选中区域显示出来
function ExportExcel(obj)
{
    var cf = window.confirm('您确认导出吗？');
    if(cf){
            exportExcelMethod();
            //window.open("../apex/PM_PatientExport",'newwindow', 'height=500, width=600, top=150, left=300, toolbar=no, menubar=no, scrollbars=yes,resizable=yes,location=yes, status=no');
        	//window.event.returnValue = false;
        	//return false;
        	//window.reload();
        }else{
        window.event.returnValue = false;
        return false;
        }
}
    
//复选框全选操作
function checkAll(cb)
{
    var inputElem = document.getElementsByTagName("input");
    for(var i=0; i<inputElem.length; i++)
    {
        if(inputElem[i].id.indexOf("checkedone")!=-1)
        inputElem[i].checked = cb.checked;
    }
    //var objdiv1 = document.getElementById('fields');
       var objdiv2 = document.getElementById('ExportExcelBtn');
       if(obj != 'undefined' && obj != null)
       {
           objValue = obj.value;
       }
       if(objValue == '确认导出')
       {
            //objdiv1.style.display = 'block';
            objdiv2.value = "确认导出";
       }
}

    //复选框全选操作
    function checkAll(cb)
    {
        var inputElem = document.getElementsByTagName("input");
        for(var i=0; i<inputElem.length; i++)
        {
            if(inputElem[i].id.indexOf("checkedone")!=-1)
            inputElem[i].checked = cb.checked;
        }
        //var objdiv1 = document.getElementById('fields');
        var objdiv2 = document.getElementById('ExportExcelBtn');
        if(obj != 'undefined' && obj != null)
        {
            objValue = obj.value;
        }
        if(objValue == '确认导出')
        {
            //objdiv1.style.display = 'block';
            objdiv2.value = "确认导出";
        }
    }
    function displaybut()
	{
		if('{!$Profile.Name}'.indexOf('PM-PSR Specialist') >= 0)
		{			
			document.getElementById("ExportExcelBtn").style.display = "none";	
		}
		else
		{
			document.getElementById("ExportExcelBtn").style.display = "inline-block";	
		}
   		
	}
	//Henry Add 2013-10-15
	function twistDiv(twisty, sectionId) {
	   var div = document.getElementById(sectionId);
	   if (div.style.display != 'none') { 
	       div.style.display = 'none';  
	       twisty.className ='showListButton';
       	   twisty.alt = twisty.title = '显示部分 - '+twisty.name;
	   } else {
	       div.style.display = 'block'; 
	       twisty.className = 'hideListButton';
       	   twisty.alt = twisty.title = '隐藏部分 - '+twisty.name;
       	   if(isFirst == "true")
       	   {
       	   		isFirst = "false";
       	    	pickListloading();
       	   }
	   } 
	}    
</script>
<body>
<apex:form id="f">
<apex:inputHidden id="BigArea" value="{!BigArea}"/>
<apex:inputHidden id="Province" value="{!Province}"/>
<apex:inputHidden id="City" value="{!City}"/>
<apex:inputHidden id="County" value="{!County}"/>
<apex:inputHidden id="PatientProvince" value="{!PatientProvince}"/>
<apex:inputHidden id="PatientCity" value="{!PatientCity}"/>
<apex:inputHidden id="PatientCounty" value="{!PatientCounty}"/>
<apex:inputHidden id="InHospital" value="{!InHospital}"/>
<apex:inputHidden id="SonArea" value="{!PatientStatus}"/>
<apex:inputHidden id="BestVisitTime" value="{!BestVisitTime}"/>
	<apex:actionFunction name="Check" action="{!Check}" reRender="pt:f:bl:result"/>
        <apex:pageBlock title="病人拜访" mode="detail" id="bl">
        	<div>排序规则：按照上次拜访成功时间升序排列</div>
        	<div style="color:RED">PS:由于Salesforce对记录数查询的限制，本页面只显示符合条件的前{!Limit_Size}条记录，如需导出所有记录请在报表中进行操作。</div>
        	<p/>
            <input Id="ExportExcelBtn" type="button" value="导出EXCEL" onclick="ExportExcel(this);" class="btn"/>
            <apex:commandButton styleClass="btn"  onclick="ChangeHide();" action="{!Check}" value="查询" status="StatusChecking" id="theButton"  reRender="pt:f:bl:result"/>
            <apex:actionStatus id="StatusChecking" startText="查询中..."/>
            <!--Henry Add Begin 2013-10-15-->
            <div id="Test"><div class="pbSubheader brandTertiaryBgr first tertiaryPalette"><img src="/s.gif" alt="隐藏部分 - 查询条件"  class="hideListButton" id="img_pt" name="查询条件" onclick="twistDiv(this,'mydiv');" onkeypress="if (event.keyCode=='13')twistDiv(this,'mydiv');" style="cursor:pointer;" tabindex="0" title="隐藏部分 - 查询条件"/><h3>查询条件</h3></div>
            <div id="mydiv">
            <table border="0" class="detailList" style="width:86% !important">
	            <tr>
				    <td class="lblfont">姓名</td>
				    <td><apex:inputField style="width:100px;" id="PM_Name" value="{!Patient.Name}"/></td>
				    <td class="lblfont">居住省份</td>
				    <td><div onclick="ChangeProvinceAsy('PatientProvince','');" style ="width:10px">
	                <select id="PatientProvince" multiple="multiple" size="3" >
	                </select>
	                </div></td>
				    <td class="lblfont">插管大区</td>
				    <td><div onclick="ChangeAreaAsy('');" style ="width:10px">
	                <select id="BigArea" multiple="multiple" size="3">
	                </select>
	                </div></td>
				    <td class="lblfont">支付方式</td>
				    <td><apex:inputField style="width:100px;" id="Payment" value="{!Patient.PM_Payment__c}"/></td>
				  </tr>
			  	  <tr>
				    <td class="lblfont">电话</td>
				    <td><apex:inputText style="width:100px;" id="PM_PmPhone__c" value="{!MobilePhone}"/></td>
				    <td class="lblfont">居住城市</td>
				    <td><div onclick="ChangeSelect()" style ="width:10px">
	                <select id="PatientCity" multiple="multiple" size="1" >
	                </select> 
	                </div></td>
				    <td class="lblfont">插管省份</td>
				    <td><div onclick="ChangeProvinceAsy('Province','');" style ="width:10px">
	                <select id="Province" multiple="multiple" size="3" >
	                </select> 
	                </div></td>
				    <td class="lblfont">是否高影响</td>
				    <td><apex:inputField style="width:100px;" id="HighEffect" value="{!Patient.PM_HighImpac__c}"/></td>
			  	</tr>
			  	<tr>
				    <td class="lblfont">当前负责销售</td>
				    <td><apex:inputField style="width:100px;" id="Current" value="{!Patient.PM_Current_Saler__c}"/></td>
				    <td class="lblfont" style="vertical-align:middle">居住县
	                	<apex:commandButton styleClass="btn"  onclick="ChangeCountyAsy('Patient');" value="获取" id="Button3" reRender="pt:f:bl:result"/>
	                </td>
	                <td style="vertical-align:middle">
	                    <div onclick ="ChangeSelect()">
	                        <select id= "PatientCounty" multiple = "multiple" size ="3" >
	                        </select>
	                        <apex:image id="messageIcon3" value="{!$Resource.AjaxAnimation}" width="15px" height="15px" style="float:right;display:none"/>
	                    </div>
	                </td>
				    <td class="lblfont">插管城市</td>
				    <td><div onclick="ChangeSelect()" style ="width:10px">
	                <select id="City" multiple="multiple" size="3" >
	                </select>
	                </div></td>
				    <td class="lblfont">是否高风险</td>
				    <td><apex:inputField style="width:100px;" id="HighRisk" value="{!Patient.PM_HighRisk__c}"/></td>
				  </tr>
			  	  <tr>
				    <td class="lblfont">失败次数</td>
				    <td><apex:inputText style="width:100px;" id="VisitFailCount" value="{!Patient.PM_VisitFailCount__c}"/></td>
				    <td class="lblfont">地址</td>
				    <td><apex:inputText style="width:100px;"  value="{!Patient.PM_Address__c}"/></td>
				    <td class="lblfont" style = "vertical-align:middle">插管县
	                	<apex:commandButton styleClass="btn"  onclick="ChangeCountyAsy('');" value="获取" id="Button4" reRender="pt:f:bl:result"/>
	                </td>
	                <td style="vertical-align:middle">
	                    <div onclick ="ChangeSelect()">
	                        <select id= "County" multiple = "multiple" size ="3" >
	                        </select>
	                        <apex:image id="messageIcon4" value="{!$Resource.AjaxAnimation}" width="15px" height="15px" style="float:right;display:none"/>
	                    </div>
	                </td>
				    <td class="lblfont">是否明星病人</td>
				    <td><apex:inputField style="width:100px;" id="IsStarPatient" value="{!Patient.PM_IsStarPatient__c}"/></td>
			  	</tr>
			  	<tr>
				    <td class="lblfont" style = "vertical-align:middle">状态</td>
				    <td style = "vertical-align:middle">
						<select id="SonArea" multiple="multiple" size="4" >
	                    <option Value="New" >New</option>
	                    <option Value="Active" >Active</option>
	                    <option Value="Unreachable" >Unreachable</option>
	                    <option Value="Dropout" >Dropout</option>
	                	</select>
					</td>
				    <td class="lblfont" style = "vertical-align:middle">PD治疗方式</td>
				    <td style = "vertical-align:middle"><apex:inputField style="width:100px;" id="Pdtreatment" value="{!Patient.PM_Pdtreatment__c}"/></td>
				    <td class="lblfont" style = "vertical-align:middle">插管医院
			    <apex:commandButton styleClass="btn"  onclick="ChangeHospitalAsy();" value="获取"  id="HospitalButton" reRender="pt:f:bl:result"/>
			    </td>
			    <td style="width:120px;vertical-align:middle">
				    <div onclick="ChangeSelect()">
	                <select id="InHospital" multiple="multiple" size="3" >
	                </select>
	                <apex:image id="messageIcon" value="{!$Resource.AjaxAnimation}" width="15px" height="15px" style="float:right;display:none"/>
	                </div>
	     		</td>
				    <td class="lblfont" style = "vertical-align:middle">是否在同时进行HP和PD</td>
				    <td style = "vertical-align:middle"><apex:inputField style="width:100px;" id="HDAndPD" value="{!Patient.PM_HDAndPD__c}"/></td>
				  </tr>
			  	  <tr>
				    <td class="lblfont">上次拜访状态</td>
				    <td><apex:inputField style="width:100px;" id="PM_VisitState__c" value="{!Patient.PM_VisitState__c}"/></td>
				    <td class="lblfont">Active病人管理类型</td>
                        <td><apex:inputField style="width:100px;" id="PM_Active_PMT__c" value="{!Patient.PM_Active_PMT__c}" /></td>
				    <td class="lblfont">建议可拨打时间</td>
				    <td>
				    	<apex:selectList value="{!SuggestVisitTime}" size="1" style="width:100px;">
			            	<apex:selectOptions value="{!items}"/>
			        	</apex:selectList>
					</td>
				    <td class="lblfont">是否在同时使用竞争产品</td>
				    <td><apex:inputField style="width:100px;" id="IsOtherPD" value="{!Patient.PM_UsCoGoSameTime__c}"/></td>
			  	</tr>
			  	<tr>
			  		
				    <td class="lblfont">负责PSR</td>
               	<td><apex:inputField style="width:100px;" id="PM_Current_PSR" value="{!Patient.PM_Current_PSR__c}"/></td>
			  		<td class="lblfont">最佳拜访时间</td>
                        <td>
                            <select id="BestVisitTime" multiple="multiple" size="5" >
                                <option  Value="9:00-10:00" >9:00-10:00</option>
                                <option  Value="10:01-11:00" >10:01-11:00</option>
                                <option  Value="11:01-12:00" >11:01-12:00</option>
                                <option  Value="12:01-13:00" >12:01-13:00</option>
                                <option  Value="13:01-15:00" >13:01-15:00</option>
                                <option  Value="15:01-17:00" >15:01-17:00</option>
                                <option  Value="17:01-18:00" >17:01-18:00</option>
                                <option  Value="18:01-20:00" >18:01-20:00</option>
                            </select>
                        </td>
                        <td class="lblfont">年龄</td>
                    <td><apex:inputText style="width:80px;" id="Age_Lower" value="{!Age_Lower}"/>至<apex:inputText style="width:80px;" id="Age_Upper" value="{!Age_Upper}"/></td>
			  		<td class="lblfont">要求拜访间隔天数(范围)</td>
                    <td><apex:selectList value="{!Visit_Interval}" size="1" style="width:100px;" >
                        <apex:selectOptions value="{!Visit_Intervals}"/>
                        </apex:selectList>
                    </td>
			  	</tr>
			  	<tr>
			  		<td class="lblfont">上次成功拜访日期</td>
				    <td>
				    	<apex:inputText style="width:80px;" id="idsc" value="{!LastVisitDate_Start}" onfocus="DatePicker.pickDate(true, 'pt:f:bl:idsc', false);"/>
				    	至<apex:inputText style="width:80px;" id="cdec2" value="{!LastVisitDate_End}" onfocus="DatePicker.pickDate(true, 'pt:f:bl:cdec2', false);"/>
				    </td>
			  		<td class="lblfont">插管日期</td>
				    <td><apex:inputText style="width:80px;" id="ids" value="{!InDate_Start}" onfocus="DatePicker.pickDate(true, 'pt:f:bl:ids', false);"/>至<apex:inputText style="width:80px;" id="cde2" value="{!InDate_End}" onfocus="DatePicker.pickDate(true, 'pt:f:bl:cde2', false);"/></td>
			  		<td class="lblfont">创建日期</td>
				    <td>
				    <apex:inputText style="width:80px;" id="cds" value="{!CreatedDate_Start}" onfocus="DatePicker.pickDate(true, 'pt:f:bl:cds', false);"/>至<apex:inputText style="width:80px;" id="cde1" value="{!CreatedDate_End}" onfocus="DatePicker.pickDate(true, 'pt:f:bl:cde1', false);"/>
				    </td>
			  	</tr>
			  	
			</table>
            </div>
			</div>
              
             <apex:pageblocksection id="result" columns="1" title="共有病人记录：{!categoryNumber}条">
                <apex:pageblocktable value="{!list_Patient}" var="item" id="bTable">
                    <apex:column width="20px">
                    <apex:facet name="header">
                    <apex:inputCheckbox id="allCheck">
                    <apex:actionSupport event="onclick" onsubmit="checkAll(this)" />
                    </apex:inputCheckbox>
                    </apex:facet>
                    <apex:inputCheckbox value="{!item.IsExport}" id="checkedone"/>
                    </apex:column>
                    
                    <apex:column headerValue="姓名"  style="background-color:{!item.color};">
                        <apex:facet name="header">
                        <apex:commandLink action="{!sortOrders}" rerender="result" status="status1">姓名
                            <apex:outputText rendered="{!and(strSortField=='Name',strOrder=='desc')}">↓</apex:outputText>
                            <apex:outputText rendered="{!and(strSortField=='Name',strOrder=='asc')}">↑</apex:outputText>
                            <apex:param name="sortField" value="Name" assignTo="{!strSortField}"/>
                        </apex:commandLink>
                        </apex:facet>
                        <apex:commandLink value="{!item.patient.Name}" onclick="goToDetail('{!item.patient.Id}')" reRender="result" style="background-color:{!item.color};"/>
                    </apex:column>
                    
                    <apex:column headerValue="性别"  style="background-color:{!item.color};">
                        <apex:facet name="header">
                        <apex:commandLink action="{!sortOrders}" rerender="result" status="status1">性别
                            <apex:outputText rendered="{!and(strSortField=='PM_Sex__c',strOrder=='desc')}">↓</apex:outputText>
                            <apex:outputText rendered="{!and(strSortField=='PM_Sex__c',strOrder=='asc')}">↑</apex:outputText>
                            <apex:param name="sortField" value="PM_Sex__c" assignTo="{!strSortField}"/>
                        </apex:commandLink>
                        </apex:facet>
                        <apex:outputField value="{!item.patient.PM_Sex__c}"  style="background-color:{!item.color};"/>
                    </apex:column>
                    
                    <apex:column headerValue="电话优先1"  style="background-color:{!item.color};">
                        <apex:facet name="header">
                        	<apex:outputlabel value="电话优先1" style="color:#A2A2A2"/>
                        </apex:facet>
                        <apex:outputLabel value="{!item.phone1}"/>
                    </apex:column>
                    <apex:column headerValue="最佳拜访时间1"  style="background-color:{!item.color};">
                        <apex:facet name="header">
                        	<apex:outputlabel value="最佳拜访时间1" style="color:#A2A2A2"/>
                        </apex:facet>
                        <apex:outputLabel value="{!item.priorType1}"/>
                    </apex:column>
                    <apex:column headerValue="电话优先2"  style="background-color:{!item.color};">
                        <apex:facet name="header">
                        	<apex:outputlabel value="电话优先2" style="color:#A2A2A2"/>
                        </apex:facet>
                        <apex:outputLabel value="{!item.phone2}"/>
                    </apex:column>
                    <apex:column headerValue="最佳拜访时间2"  style="background-color:{!item.color};">
                        <apex:facet name="header">
                        	<apex:outputlabel value="最佳拜访时间2" style="color:#A2A2A2"/>
                        </apex:facet>
                        <apex:outputLabel value="{!item.priorType2}"/>
                    </apex:column>
                    
                    <apex:column headerValue="地址"  style="background-color:{!item.color};">
                        <apex:facet name="header">
                        <apex:commandLink action="{!sortOrders}" rerender="result" status="status1">地址
                            <apex:outputText rendered="{!and(strSortField=='PM_Address__c',strOrder=='desc')}">↓</apex:outputText>
                            <apex:outputText rendered="{!and(strSortField=='PM_Address__c',strOrder=='asc')}">↑</apex:outputText>
                            <apex:param name="sortField" value="PM_Address__c" assignTo="{!strSortField}"/>
                        </apex:commandLink>
                        </apex:facet>
                        <apex:outputField value="{!item.patient.PM_Address__c}" style="background-color:{!item.color};"/>
                    </apex:column>
                    
                    <apex:column headerValue="插管医院"  style="background-color:{!item.color};">
                        <apex:facet name="header">
                        <apex:commandLink action="{!sortOrders}" rerender="result" status="status1">插管医院
                            <apex:outputText rendered="{!and(strSortField=='PM_InHospital__c',strOrder=='desc')}">↓</apex:outputText>
                            <apex:outputText rendered="{!and(strSortField=='PM_InHospital__c',strOrder=='asc')}">↑</apex:outputText>
                            <apex:param name="sortField" value="PM_InHospital__c" assignTo="{!strSortField}"/>
                        </apex:commandLink>
                        </apex:facet>
                        <apex:outputField value="{!item.patient.PM_InHospital__c}" style="background-color:{!item.color};"/>
                    </apex:column>
                    
                    <apex:column headerValue="上次成功<br />拜访日期"  style="background-color:{!item.color};">
                        <apex:facet name="header">
                        <apex:commandLink action="{!sortOrders}" rerender="result" status="status1">上次成功<br />拜访日期
                            <apex:outputText rendered="{!and(strSortField=='PM_LastSuccessDate2__c',strOrder=='desc')}">↓</apex:outputText>
                            <apex:outputText rendered="{!and(strSortField=='PM_LastSuccessDate2__c',strOrder=='asc')}">↑</apex:outputText>
                            <apex:param name="sortField" value="PM_LastSuccessDate2__c" assignTo="{!strSortField}"/>
                        </apex:commandLink>
                        </apex:facet>
                        <apex:outputField value="{!item.Patient.PM_LastSuccessDate2__c}"  style="background-color:{!item.color};"/>
                    </apex:column>
                    
                    <apex:column headerValue="上次成功<br />拜访时间"  style="background-color:{!item.color};" >
                        <apex:facet name="header">
                        <apex:commandLink action="{!sortOrders}" rerender="result" status="status1">上次成功<br />拜访时间
                            <apex:outputText rendered="{!and(strSortField=='PM_LastSuccessTime2__c',strOrder=='desc')}">↓</apex:outputText>
                            <apex:outputText rendered="{!and(strSortField=='PM_LastSuccessTime2__c',strOrder=='asc')}">↑</apex:outputText>
                            <apex:param name="sortField" value="PM_LastSuccessTime2__c" assignTo="{!strSortField}"/>
                        </apex:commandLink>
                        </apex:facet>
                        <apex:outputField value="{!item.Patient.PM_LastSuccessTime2__c}" style="background-color:{!item.color};"/>
                    </apex:column>
                    
                    <apex:column headerValue="病人状态"  style="background-color:{!item.color};" >
                        <apex:facet name="header">
                        <apex:commandLink action="{!sortOrders}" rerender="result" status="status1">病人<br/>状态
                            <apex:outputText rendered="{!and(strSortField=='PM_Status__c',strOrder=='desc')}">↓</apex:outputText>
                            <apex:outputText rendered="{!and(strSortField=='PM_Status__c',strOrder=='asc')}">↑</apex:outputText>
                            <apex:param name="sortField" value="PM_Status__c" assignTo="{!strSortField}"/>
                        </apex:commandLink>
                        </apex:facet>
                        <apex:outputField value="{!item.Patient.PM_Status__c}" style="background-color:{!item.color};"/>
                    </apex:column>
                    
                    <apex:column headerValue="当前负<br />责销售"  style="background-color:{!item.color};">
                        <apex:facet name="header">
                        <apex:commandLink action="{!sortOrders}" rerender="result" status="status1">当前负<br />责销售
                            <apex:outputText rendered="{!and(strSortField=='PM_Current_Saler__c',strOrder=='desc')}">↓</apex:outputText>
                            <apex:outputText rendered="{!and(strSortField=='PM_Current_Saler__c',strOrder=='asc')}">↑</apex:outputText>
                            <apex:param name="sortField" value="PM_Current_Saler__c" assignTo="{!strSortField}"/>
                        </apex:commandLink>
                        </apex:facet>
                        <apex:outputField value="{!item.patient.PM_Current_Saler__c}"  style="background-color:{!item.color};"/>
                    </apex:column>
                    
                    <apex:column headerValue="上次拜访状态"  style="background-color:{!item.color};">
                        <apex:facet name="header">
                        <apex:commandLink action="{!sortOrders}" rerender="result" status="status1">上次拜<br/>访状态
                            <apex:outputText rendered="{!and(strSortField=='PM_VisitState__c',strOrder=='desc')}">↓</apex:outputText>
                            <apex:outputText rendered="{!and(strSortField=='PM_VisitState__c',strOrder=='asc')}">↑</apex:outputText>
                            <apex:param name="sortField" value="PM_VisitState__c" assignTo="{!strSortField}"/>
                        </apex:commandLink>
                        </apex:facet>
                        <apex:outputField value="{!item.patient.PM_VisitState__c}" style="background-color:{!item.color};"/>
                    </apex:column>
                    
                    <apex:column headerValue="访问失败日期"  style="background-color:{!item.color};">
                        <apex:facet name="header">
                        <apex:commandLink action="{!sortOrders}" rerender="result" status="status1">上次拜访<br/>失败日期
                            <apex:outputText rendered="{!and(strSortField=='PM_LastFailDate2__c',strOrder=='desc')}">↓</apex:outputText>
                            <apex:outputText rendered="{!and(strSortField=='PM_LastFailDate2__c',strOrder=='asc')}">↑</apex:outputText>
                            <apex:param name="sortField" value="PM_LastFailDate2__c" assignTo="{!strSortField}"/>
                        </apex:commandLink>
                        </apex:facet>
                        <apex:outputField value="{!item.patient.PM_LastFailDate2__c}" style="background-color:{!item.color};"/>
                    </apex:column>
                    
                    <apex:column headerValue="访问失败时间"  style="background-color:{!item.color};">
                        <apex:facet name="header">
                        <apex:commandLink action="{!sortOrders}" rerender="result" status="status1">上次拜访<br/>失败时间
                            <apex:outputText rendered="{!and(strSortField=='PM_LastFailTime2__c ',strOrder=='desc')}">↓</apex:outputText>
                            <apex:outputText rendered="{!and(strSortField=='PM_LastFailTime2__c ',strOrder=='asc')}">↑</apex:outputText>
                            <apex:param name="sortField" value="PM_LastFailTime2__c " assignTo="{!strSortField}"/>
                        </apex:commandLink>
                        </apex:facet>
                        <apex:outputField value="{!item.patient.PM_LastFailTime2__c }"  style="background-color:{!item.color};"/>
                    </apex:column>
                    
                    <apex:column headerValue="拜访失败次数"  style="background-color:{!item.color};"> 
                        <apex:facet name="header">
                        <apex:commandLink action="{!sortOrders}" rerender="result" status="status1">拜访失<br/>败次数
                            <apex:outputText rendered="{!and(strSortField=='PM_VisitFailCount__c',strOrder=='desc')}">↓</apex:outputText>
                            <apex:outputText rendered="{!and(strSortField=='PM_VisitFailCount__c',strOrder=='asc')}">↑</apex:outputText>
                            <apex:param name="sortField" value="PM_VisitFailCount__c" assignTo="{!strSortField}"/>
                        </apex:commandLink>
                        </apex:facet>
                        <apex:outputField value="{!item.patient.PM_VisitFailCount__c}"  style="background-color:{!item.color};"/>
                    </apex:column>
                </apex:pageblocktable>
                <apex:panelGrid columns="6">
                    <apex:commandLink action="{!first}"  rendered="{!hasPrevious}" reRender="result">首页</apex:commandlink>
                    <apex:commandLink action="{!previous}" rendered="{!hasPrevious}" reRender="result">上一页</apex:commandlink>
                    <apex:commandLink action="{!next}" rendered="{!hasNext}" reRender="result">下一页</apex:commandlink>
                    <apex:commandLink action="{!last}" rendered="{!hasNext}" reRender="result">尾页</apex:commandlink>
                    <apex:outputText value="第{!pageNumber}页" />
                    <apex:outputText value="本页共{!result}条" />
                </apex:panelGrid>
            </apex:pageblocksection>
          
        </apex:pageBlock> 
        <apex:actionFunction action="{!exportExcel}" name="exportExcelMethod"></apex:actionFunction><!-- 新加 -->
    </apex:form>
</body> 
</apex:page>