<apex:page Controller="TW_BatchEditMonthlyPlanDetailByAccount" showheader="false">
	<apex:form > 
		<apex:pageblock >
		<apex:pageMessages />
			<div align="left" style="font-family: 微软雅黑; font-size: 16px;">批量維護明細按Account</div>
			<hr size= "3" color=" #336600" ></hr>
			<apex:pageblocktable value="{!mpdAcclist}" var="mpdacc" align="center">
<!--				<apex:facet name="header" ></apex:facet>-->
	        	<apex:column headerValue="{!$ObjectType.MonthlyPlanDetailByAccount__c.fields.Account__c.label}">
	        		<apex:OutputField value="{!mpdacc.Account__c}"  />
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.MonthlyPlanDetailByAccount__c.fields.CallTarget__c.label}">
	        		<apex:inputField value="{!mpdacc.CallTarget__c}" rendered="{!if(Isdisable,false,true)}"/>
	        		<apex:outputField value="{!mpdacc.CallTarget__c}" rendered="{!if(Isdisable,true,false)}"/>
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.MonthlyPlanDetailByAccount__c.fields.MonthlyBrief__c.label}">
	        		<apex:inputField value="{!mpdacc.MonthlyBrief__c}"/>
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.MonthlyPlanDetailByAccount__c.fields.PlannedTimes__c.label}">
	        		<apex:outputField value="{!mpdacc.PlannedTimes__c}"/>
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.MonthlyPlanDetailByAccount__c.fields.ActualTimes__c.label}">
	        		<apex:outputField value="{!mpdacc.ActualTimes__c}"/>
	        	</apex:column>
			</apex:pageblocktable>
			<table align="left">
				<tr>
					<td>
						<apex:commandButton value="存儲" action="{!SaveMpDetailAcc}" />
					</td>
				</tr>
			</table>
		</apex:pageblock>
	</apex:form>
	<script>
		if({!IsClose})
		{
			CloseWindow(); 
		}
		function CloseWindow()
		{
			var url = "/"+"{!MonthlyPlanId}";
			//alert("########"+url);
			opener.document.location= url;
			window.close();
		}
	</script>
</apex:page>