<apex:page Controller="TW_CtrlManageCampaignMembers" showheader="false" id="mypage">  
<style type="text/css">
.dateFormat{display: none}
</style>
	<apex:form id="myform">
	<apex:pageMessages />
	
<!--       市场部-->
		<apex:pageblock id="mypageblock" title="管理行銷活動成員" rendered="{!IsMarketing}">
			<div align="left" style="font-family: 微软雅黑; font-size: 13px;">
				1.市場部審批：市場部可以批量審批行銷活動成員。<br/>
			</div>
			<hr size= "0" color="#CC9900"  ></hr>
			
			<apex:pageblocktable value="{!camlist}" var="cam" id="mytable" cellspacing="0" cellpadding="0" border="0">
	        	<apex:column headerValue="{!$ObjectType.CampaignMember.fields.V2_MarketingApprove__c.label}">
	        		<apex:inputField value="{!cam.V2_MarketingApprove__c}" />
	        	</apex:column>
	        	<apex:column headerValue="HCP" >
	        		<apex:outputField value="{!cam.ContactId}" />
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.CampaignMember.fields.V2_ContactType__c.label}" >
	        		<apex:outputField value="{!cam.V2_ContactType__c}" />
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.CampaignMember.fields.V2_Hospital__c.label}" > 
	        		<apex:outputField value="{!cam.V2_Hospital__c}" />
	        	</apex:column> 
	        	<apex:column headervalue="{!$ObjectType.CampaignMember.fields.V2_DepartDate__c.label}"  >
					<apex:outputField value="{!cam.V2_DepartDate__c}" id="DepartDate" />
				</apex:column>
<!--				<apex:column headervalue="{!$ObjectType.CampaignMember.fields.V2_DepartFlight__c.label}" >-->
<!--					<apex:outputField value="{!cam.V2_DepartFlight__c}" />-->
<!--				</apex:column>-->
				<apex:column headervalue="{!$ObjectType.CampaignMember.fields.V2_ArriveDate__c.label}" >
					<apex:outputField value="{!cam.V2_ArriveDate__c}" id="ArriveDate"  />
				</apex:column>
<!--				<apex:column headervalue="{!$ObjectType.CampaignMember.fields.V2_ArriveFlight__c.label}" >-->
<!--					<apex:outputField value="{!cam.V2_ArriveFlight__c}" />-->
<!--				</apex:column>-->
				<apex:column headervalue="{!$ObjectType.CampaignMember.fields.V2_RejectReason__c.label}" >
					<apex:inputField value="{!cam.V2_RejectReason__c}"  />
				</apex:column>
	        	<apex:column headerValue="{!$ObjectType.CampaignMember.fields.V2_Comment__c.label}">
	        		<apex:outputField value="{!cam.V2_Comment__c}"  />
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.CampaignMember.fields.UserFullName__c.label}">
	        		<apex:outputField value="{!cam.UserFullName__c}"/>
	        	</apex:column>
			</apex:pageblocktable>
		</apex:pageblock>
		
<!--	销售	-->
		<apex:pageblock id="mypageblock2" title="管理行銷活動成員" rendered="{!IsRep}">
			<div align="left" style="font-family: 微软雅黑; font-size: 13px;">
				1.銷售確認已參加：銷售代表可以對市場部審批通過的記錄勾選是否已參加活動。<br/>
			</div>
			<hr size= "0" color="#CC9900"  ></hr>
			
			<apex:pageblocktable value="{!camlist}" var="cam" id="mytable" cellspacing="0" cellpadding="0" border="0">
	        	<apex:column headerValue="HCP" >
	        		<apex:outputField value="{!cam.ContactId}" />
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.CampaignMember.fields.V2_ContactType__c.label}" >
	        		<apex:outputField value="{!cam.V2_ContactType__c}" />
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.CampaignMember.fields.V2_Hospital__c.label}" > 
	        		<apex:outputField value="{!cam.V2_Hospital__c}" />
	        	</apex:column> 
	        	<apex:column headervalue="{!$ObjectType.CampaignMember.fields.V2_DepartDate__c.label}"  >
					<apex:outputField value="{!cam.V2_DepartDate__c}" id="DepartDate" />
				</apex:column>
				<apex:column headervalue="{!$ObjectType.CampaignMember.fields.V2_ArriveDate__c.label}" >
					<apex:outputField value="{!cam.V2_ArriveDate__c}" id="ArriveDate"  />
				</apex:column>
				<apex:column headervalue="{!$ObjectType.CampaignMember.fields.V2_Participated__c.label}" >
					<apex:inputField value="{!cam.V2_Participated__c}"  />
				</apex:column>
				<apex:column headervalue="{!$ObjectType.CampaignMember.fields.Feedback_of_Campaign__c.label}" >
					<apex:inputField value="{!cam.Feedback_of_Campaign__c}"/>
				</apex:column>
<!--				<apex:column headervalue="{!$ObjectType.CampaignMember.fields.V2_RejectReason__c.label}" >-->
<!--					<apex:inputField value="{!cam.V2_RejectReason__c}"  />-->
<!--				</apex:column>-->
<!--	        	<apex:column headerValue="{!$ObjectType.CampaignMember.fields.V2_Comment__c.label}">-->
<!--	        		<apex:outputField value="{!cam.V2_Comment__c}"  />-->
<!--	        	</apex:column>-->
	        	<apex:column headerValue="{!$ObjectType.CampaignMember.fields.UserFullName__c.label}">
	        		<apex:outputField value="{!cam.UserFullName__c}"/>
	        	</apex:column>
			</apex:pageblocktable>
		</apex:pageblock>

		<table>
			<tr>
				<td>
					<apex:commandButton value="存儲" action="{!SaveCampaignMember}" disabled="{!IsDisabled}"/>
				</td>
				<td>
					<apex:commandButton value="返回行銷活動" action="{!Cancel}"/>
				</td>
			</tr>
		</table>
		<script>
		/*if({!IsClose})
		{
			CloseWindow();
		}
		function CloseWindow()
		{
			var url = "/"+"{!CamId}";
			//alert("########"+url);
			opener.document.location= url;
			window.close(); 
		}*/
	</script>
	</apex:form>
</apex:page>