<apex:page standardcontroller="V2_Account_Team__c" extensions="V2_DeleteAccountTeam_Con">
 <script>
		function  Confirm()
		{
			var win = window.confirm("您确认保存并提交审批吗？");
			if(!win)
			{
				return false;
			}
		}
</script>
<apex:sectionHeader title="客户小组" subtitle="编辑客户小组成员"/>
	<apex:form >
		<apex:pageBlock >
		<apex:pageMessage severity="error" strength="2" summary="{!strMessage}" rendered="{!blnIsMesShow}"/>
		<!-- 
		<apex:pageMessage severity="warning" strength="2" summary="{!strWarningMsg2}" rendered="{!blnIsWarningShow2}"/>
		<apex:pageMessage severity="warning" strength="2" summary="{!strWarningMsg}" rendered="{!blnIsWarningShow}"/>
		<apex:pageBlockSection title="修改成员信息" rendered="{!blnEditShow}">
			<apex:pageBlockSectionItem >
				<apex:outputLabel value="小组成员"/>
				<apex:inputField value="{!objAccountTeam.V2_User__c}" required="true"/>
			</apex:pageBlockSectionItem>
			<apex:pageBlockSectionItem >
				<apex:outputLabel value="起效年份"/>
				<apex:selectList size="1" value="{!Year}" >
					<apex:selectOptions value="{!ListYears}"/>
				</apex:selectList>
			</apex:pageBlockSectionItem>	
			<apex:pageBlockSectionItem >
				<apex:outputLabel value="起效月份"/>
				<apex:selectList size="1"  value="{!Month}" >
					<apex:selectOptions value="{!ListMonths}"/>
				</apex:selectList>
			</apex:pageBlockSectionItem>
		</apex:pageBlockSection>
		
		<apex:pageBlockSection title="失效信息" rendered="{!blnDelShow}">
			<apex:pageBlockSectionItem >
				<apex:outputLabel value="小组成员"/>
				<apex:outputField value="{!objAccountTeam.V2_User__c}"/>
			</apex:pageBlockSectionItem>
			<apex:pageBlockSectionItem >
				<apex:outputLabel value="失效年份"/>
				<apex:selectList size="1" value="{!Year}" >
					<apex:selectOptions value="{!ListYears}"/>
				</apex:selectList>
			</apex:pageBlockSectionItem>	
			<apex:pageBlockSectionItem >
				<apex:outputLabel value="失效月份"/>
				<apex:selectList size="1"  value="{!Month}" >
					<apex:selectOptions value="{!ListMonths}"/>
				</apex:selectList>
			</apex:pageBlockSectionItem>
			<apex:pageBlockSectionItem >
				<apex:outputLabel value="立即失效"/>
				<apex:inputField value="{!objAccountTeam.V2_ImmediateDelete__c}"/>
			</apex:pageBlockSectionItem>
			<apex:pageBlockSectionItem >
				<apex:outputLabel value="调整原因"/>
				<apex:inputField value="{!objAccountTeam.V2_AdjustReson__c}" required="true"/>			
			</apex:pageBlockSectionItem>
			
		</apex:pageBlockSection>
		 -->
		<apex:pageblockButtons location="bottom">
			<!-- <apex:commandButton value="完成并提交审批" onclick="return Confirm()" action="{!saveChange2}" rendered="{!blnIsReadOnly==false}"/> -->
			<apex:commandButton value="取消" action="{!Cancel}"/>
		</apex:pageblockButtons> 
		</apex:pageBlock>
	</apex:form>
</apex:page>