<apex:page Controller="CtrlVaporizerAppTab">
<apex:form >
<apex:pageBlock title="挥发罐应用">
    <apex:pageBlockSection columns="1">
        <apex:pageBlockSectionItem >
            <apex:outputLabel value="挥发罐"/>
            <apex:outputLink value="{!strVapInfoUrl}">挥发罐</apex:outputLink>
        </apex:pageBlockSectionItem> 
        <apex:pageBlockSectionItem >
            <apex:outputLabel value="挥发罐使用申请"/>
            <apex:outputLink value="{!strVapAppUrl}">挥发罐使用申请</apex:outputLink>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
            <apex:outputLabel value="挥发罐退回申请"/>
            <apex:outputLink value="{!strVapRetUrl}">挥发罐退回申请</apex:outputLink>
        </apex:pageBlockSectionItem>
    </apex:pageBlockSection>
</apex:pageBlock>
<apex:pageBlock title="挥发罐基础报表">
    <table class="list " border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr class="headerRow ">
	<th class="headerRow  " scope="col" width="30%">报表名称</th>
	<th class="headerRow  " scope="col" width="40%">描述</th>
	<th class="headerRow  " scope="col" width="30%">上次运行</th>
	</tr>
	<apex:repeat var="vr" value="{!VapReports}">
	<tr>
	<td><a href="../{!vr.Id}">{!vr.Name}</a>
	</td>
	<td>{!vr.Description}</td>
	<td>{!vr.LastRunDate}</td>
	</tr>
	</apex:repeat>
	</table>
</apex:pageBlock>
</apex:form>
</apex:page>