<apex:page Standardcontroller="Event" extensions="Ctrl_VisitComment">
<apex:includeScript value="/soap/ajax/25.0/connection.js"/>
<apex:includeScript value="/soap/ajax/25.0/apex.js"/>
<script>
isAdminUser();
function isAdminUser(){
    //alert("!");
    try{
    var isAdmin = sforce.apex.execute("ScontrolClass", "isAdmins", {});
    }catch(e){
    //alert(e);
    }
    //alert(isAdmin);
    //alert('{!EventId}');
    if(isAdmin == true || isAdmin == 'true'){
        window.location.href="/apex/VisitCommentForAdmin?peid="+'{!EventId}' ;
    }else{
        window.location.href="/apex/VisitComments?peid="+'{!EventId}' ;
    }
}
</script>
</apex:page>