<apex:page standardController="event__c" extensions="CostDetailsBulkEditController" Id="p">
    <script>
function checkAll(cb)
{
    var inputElem = document.getElementsByTagName("input");
    for(var i=0; i<inputElem.length; i++)
    {
        if(inputElem[i].id.indexOf("selectOpt")!=-1)
        inputElem[i].checked = cb.checked;
    }
}
//滑动选择区间创建事件
function AddCostType()
{
	var HosValue;
	if(navigator.userAgent.indexOf("Chrome") >0 ){
		var winOption = "height=600px,width=600px,top=50,left=50,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,fullscreen=0";
    	window.open('../apex/BatchAddCostType',window, winOption);
    	return;
	}
	else{
	    var HosValue = window.showModalDialog('../apex/BatchAddCostType',"","dialogWidth=600px;dialogHeight=600px;status=no;help=no;scrollbars=no");
	}  
    if(HosValue==undefined)
    {
         HosValue = window.returnValue; 
    }  
    JSCostAddCostDetail(HosValue.toString());
}
function isOk()
{

	if(document.getElementById("p:CostDetailsBulkEditPage:IsSuccess").value == 1)
	{
		window.parent.location.href='../{!event__c.Id}';
	}	
}

</script>
<style type="text/css">

  #buttons
  {
   width:100%;
   border:none;

  }
#buttons  td
{
    height="50px";
}
</style>
 <apex:form id="CostDetailsBulkEditPage">
   <apex:pageMessages id="pageMessage"/>
	<apex:inputHidden value="{!saveIsOk}" id="IsSuccess"/>
 	<apex:actionFunction action="{!CostAddCostDetail}" name="JSCostAddCostDetail" reRender="CostDetailsBulkEditPage">
     <apex:param name="firstParam" assignTo="{!costTypeIds}" value="" />
    </apex:actionFunction>
    
     <apex:actionFunction action="{!SaveCostDetail}" name="JSSaveCostDetail" reRender="CostDetailsBulkEditPage">
     </apex:actionFunction>
      
     <apex:actionFunction action="{!changTotalAmount}" name="JSchangTotalAmount" reRender="totalAmount">
     </apex:actionFunction>
     <apex:actionFunction action="{!DeleteCostDetail}" name="JSDeleteCostDetail" >
     </apex:actionFunction>
           
<table id="buttons" border="0px" style="{!if(AND(OR(event__c.eventCostApprove__c=='未审批',event__c.eventCostApprove__c=='拒绝'),OR(event__c.project__r.projectStatus__c=='新建',event__c.project__r.projectStatus__c=='赢得项目')) ,if(IsCreatUser,'','display:none;'),'display:none;')}">
<tr >
<td ><input type="button" class="btn" value="新增费用" onclick="AddCostType();"/>
     <apex:commandButton value="编辑"  action="{!EditChange}" reRender="CostDetailsBulkEditPage" rendered="{!!IsEidt}" status="visitStatus"/>
     <apex:commandButton value="保存"  oncomplete="isOk();"  action="{!SaveCostDetail}" reRender="CostDetailsBulkEditPage" rendered="{!IsEidt}"/>
     <apex:commandButton value="删除" oncomplete="window.parent.location.href='../{!event__c.Id}';" action="{!DeleteCostDetail}" reRender="CostDetailsBulkEditPage" status="visitStatus" rendered="{!!IsEidt}"/>
     <apex:commandButton value="删除" action="{!addToDeleteList}" reRender="CostDetailsBulkEditPage" status="visitStatus" rendered="{!IsEidt}"/>
     <apex:commandButton value="取消" oncomplete="window.parent.location.href='../{!event__c.Id}';" action="{!cancelAddCostDetail}" reRender="CostDetailsBulkEditPage" rendered="{!IsEidt}" status="visitStatus" immediate="true"/>
     <apex:actionStatus id="visitStatus">
         <apex:facet name="start">
             <apex:image id="messageIcon" value="{!URLFOR($Resource.CheertechJs, '/images/AjaxAnimation.gif')}" />
         </apex:facet>
         <apex:facet name="stop"></apex:facet>
      </apex:actionStatus> 
</td>
</tr>

</table>
<table width='100%' id="costdetail" class="list" border="0" cellspacing="0" cellpadding="0">

<tr width='100%'>
  <th width='10%'  style="background-color:#F2F3F3;" ><input type="checkbox" id="checkall" onclick="checkAll(this)"></input></th>
  <th width='10%'  style="background-color:#F2F3F3;" >费用代码</th>
  <th width='10%'  style="background-color:#F2F3F3;" >费用名称</th>
  <th width='15%'  style="background-color:#F2F3F3;text-align:right;" >金额(*必填)</th>
  <th width='55%'  style="background-color:#F2F3F3;" >备注</th>
</tr>
   <apex:repeat value="{!listCostDetail}" var="cd" id="detailRepeat">  
<tr>
  <!-- checkbox -->
  <td  ><apex:inputCheckbox value="{!cd.isDelete}" id="selectOpt"/></td>
  <!-- 费用代码 -->
  <td><apex:outputField value="{!cd.cdc.Name}"/></td>
  <!-- 费用名称 -->
  <td> <apex:outputField value="{!cd.cdc.costName__c}"/> </td>
  <!-- 金额 -->
  <td align="right">
  <apex:inputField onchange="JSchangTotalAmount();"  value="{!cd.cdc.costAmount__c}" rendered="{!IsEidt}"/> 
   <apex:outputField value="{!cd.cdc.costAmount__c}" rendered="{!!IsEidt}"/> 
       
  </td>
   <!-- 备注 -->
  <td>
  <apex:inputField value="{!cd.cdc.costRemark__c}" rendered="{!IsEidt}"/>
  <apex:outputField value="{!cd.cdc.costRemark__c}" rendered="{!!IsEidt}"/>
  </td>
</tr>

</apex:repeat>
<tr>
	<td height="25px" ><span >汇总</span></td>
	<td height="25px" ></td>
	<td height="25px" ></td>
	<td  height="25px"  class=" dataCell  numericalColumn">
	<apex:outputText value="{0,number,#,##0.00}" id="totalAmount">
    <apex:param value="{!totalAmount}" />    
	</apex:outputText>
	</td>
</tr>
</table>



                
       
  </apex:form>

<!-- End Default Content REMOVE THIS -->
</apex:page>