<apex:page standardController="event__c" extensions="CostDetailsBulkEditController" Id="p">
    <script>
function checkAll(cb)
{
    var inputElem = document.getElementsByTagName("input");
    for(var i=0; i<inputElem.length; i++)
    {
        if(inputElem[i].id.indexOf("selectOpt")!=-1)
        inputElem[i].checked = cb.checked;
    }
}
//滑动选择区间创建事件
function AddCostType()
{
    var HosValue = window.showModalDialog('../apex/BatchAddCostType',"","dialogWidth=600px;dialogHeight=600px;status=no;help=no;scrollbars=no");
    if(HosValue==undefined)
    {
         HosValue = window.returnValue; 
    }   
    //alert(HosValue.toString());
    //document.getElementById("p:CostDetailsBulkEditPage:costdetails").value = HosValue.toString();
    JSCostAddCostDetail(HosValue.toString());
    //alert(document.getElementById("p:CostDetailsBulkEditPage:costdetails").value);
}
</script>
<style type="text/css">
#costdetail
  {
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  width:100%;
  border-collapse:collapse;
  border: 1px solid black;
  }
#costdetail th 
  {
  font-size:1em;
  padding:3px 7px 2px 7px;
  border: 0px solid black;
  background-color:#F2F2F2;
  
  }
#costdetail td 
  {
  font-size:1em;
  padding:3px 7px 2px 7px;
  border: 1px solid black;
  }
  #buttons
  {
   width:100%;
   border:none;

  }
#buttons  td
{
    height="50px";
}
</style>
 <apex:form id="CostDetailsBulkEditPage">
   <apex:pageMessages id="pageMessage"/>
 <apex:actionFunction action="{!CostAddCostDetail}" name="JSCostAddCostDetail" reRender="CostDetailsBulkEditPage">
     <apex:param name="firstParam" assignTo="{!costTypeIds}" value="" />
    </apex:actionFunction>
<div id="costdetails" >            
<table id="buttons" border="0px" style="{!if(OR(event__c.eventCostApprove__c=='未审批',event__c.eventCostApprove__c=='拒绝'),'','display:none;')}">
<tr >
<td ><input type="button" class="btn" value="批量添加" onclick="AddCostType();"/>
     <apex:commandButton value="编辑" action="{!EditChange}" reRender="CostDetailsBulkEditPage" rendered="{!!IsEidt}" status="visitStatus"/>
     <apex:commandButton value="保存" oncomplete="window.parent.location.href='../{!event__c.Id}';" action="{!SaveCostDetail}"  reRender="CostDetailsBulkEditPage" status="visitStatus" rendered="{!IsEidt}"/>
     <apex:commandButton value="删除" oncomplete="window.parent.location.href='../{!event__c.Id}';" action="{!DeleteCostDetail}" reRender="CostDetailsBulkEditPage" status="visitStatus" rendered="{!!IsEidt}"/>
     <apex:commandButton value="取消" action="{!EditChange}" reRender="CostDetailsBulkEditPage" rendered="{!IsEidt}" status="visitStatus" immediate="true"/>
     <apex:actionStatus id="visitStatus">
         <apex:facet name="start">
             <apex:image id="messageIcon" value="{!URLFOR($Resource.CheertechJs, '/images/AjaxAnimation.gif')}" />
         </apex:facet>
         <apex:facet name="stop"></apex:facet>
      </apex:actionStatus> 
</td>
</tr>

</table>
<table id="costdetail" border="1" >

<tr>
  <th width='50px'><input type="checkbox" id="checkall" onclick="checkAll(this)"></input></th>
  <th>费用代码</th>
  <th>费用名称</th>
  <th>金额(*必填)</th>
  <th>备注</th>
</tr>
   <apex:repeat value="{!listCostDetail}" var="cd" id="detailRepeat">  
<tr>
  <!-- checkbox -->
  <td  ><apex:inputCheckbox value="{!cd.isDelete}" id="selectOpt"/></td>
  <!-- 费用代码 -->
  <td><apex:outputField value="{!cd.cdc.Name}"/></td>
  <!-- 费用名称 -->
  <td> <apex:outputField value="{!cd.cdc.costName__c}"/> </td>
  <!-- 金额 -->
  <td>
  <apex:inputField value="{!cd.cdc.costAmount__c}" rendered="{!IsEidt}"/> 
  
      <apex:outputField value="{!cd.cdc.costAmount__c}" rendered="{!!IsEidt}"/> 
       
  </td>
   <!-- 备注 -->
  <td>
  <apex:inputField value="{!cd.cdc.costRemark__c}" rendered="{!IsEidt}"/>
  <apex:outputField value="{!cd.cdc.costRemark__c}" rendered="{!!IsEidt}"/>
  </td>
</tr>

</apex:repeat>
</table>
</div>


                
       
  </apex:form>

<!-- End Default Content REMOVE THIS -->
</apex:page>