<apex:page standardController="Opportunity" title="上传产品图片"
    extensions="AOA_AttachmentUploadController" showHeader="false"
    sidebar="false" tabStyle="Opportunity" id="pv">
    <title>上传产品图片</title>
    <script type="text/javascript">
        function closewindow() 
        {
            status = "{!status}";
            if(status=="success")
            {
                //window.parent.location.href= "{!url}";
            }
        }
        function closeself() {
            if (confirm("您确定要取消上传吗？")) {
                window.close();
            }
        }
        function validateImage() {
            var pic = document
                    .getElementsByName("thePage:frm:pgBlock:theSec:theItem:newPhoto:inputFile:file")[0];
            if (pic.value == null || pic.value == "") {
                alert('请选择上传图片！');
                pic.focus();
                return false;
            } else { 
                var FileName = new String(pic.value);//文件名
                var extension = new String(FileName.substring(FileName
                        .lastIndexOf(".") + 1, FileName.length));//文件扩展名
                if (extension == "jpg" || extension == "gif"
                        || extension == "jpeg" || extension == "bmp"
                        || extension == "png") {
                    return true;
                } else {
                    alert('产品图片格式不支持，请重新选择！');
                    return false;
                }
            }
            return true;
        }
        function DoHold()
        {
            var doc = document.getElementById('pv:f:newPhoto');
            if(doc.value==null || doc.value == '')
            {
                alert("Please choose a file on the local first.");
                return false;
            }
            else 
            {
               return true;
            }
            
        }
    </script>
    <body onload="closewindow()">
        <apex:form id="f" >
                    
                <div class="pbBody">
                
                <table width="100%">
                <tr><td>
                <apex:inputFile value="{!document.body}" fileName="{!document.Name}" id="newPhoto" required="true" />
                Document Type:
                <apex:selectList value="{!Type}" size="1">
                <apex:selectOptions value="{!DocumentTypes}" />
                </apex:selectList>
                &nbsp;&nbsp;&nbsp;
                <apex:commandButton style="{!if(IsEdit==true,'nothidden','display:none')};" id="saveButton" title="Upload" value="Upload " onclick="return DoHold();" action="{!doSave}" />
                &nbsp;&nbsp;&nbsp;
                <apex:commandButton style="{!if(IsEdit==true,'nothidden','display:none')};" id="cancelButton" title="Cancel" value="Cancel" action="{!cancel}" onclick="closeself()" />
                </td>
                <td align="right">
                <apex:outputPanel id="panel2">
                <apex:repeat value="{!list_aoaDoc}" var="doc">
                    <apex:image value="{!$Resource.RedBar}" rendered="{!doc.IsRequired}" width="3px" height="12px"/>
                    <apex:outputLabel value="{!doc.DocumentName}"/>
                    <img src="{!if(doc.IsUpload,'/img/checkbox_checked.gif','/img/checkbox_unchecked.gif')}" alt="Not Checked" class="checkImg" height="16" width="21" />
                    &nbsp;&nbsp;
                </apex:repeat>
                
                </apex:outputPanel>
                </td>
                </tr>
                </table>
                <apex:outputPanel id="panel" >
                <table class="list" cellspacing="0" cellpadding="0" border="0" width="100%" style="border: solid thin #B4B4B4">
                <tr class="headerRow" style="background:#F2F3F3;align:center;border: solid thin #B4B4B4">
                <td class="headerRow" align="center" >Action</td>
                <td class="headerRow" align="center" style="border-left: solid thin #B4B4B4">Document Type</td>
                <td class="headerRow" align="center" style="border-left: solid thin #B4B4B4">Document Name</td>
                <td class="headerRow" align="center" style="border-left: solid thin #B4B4B4">Created Date</td>
                <td class="headerRow" align="center" style="border-left: solid thin #B4B4B4">Created By</td>
                </tr>
                <apex:repeat value="{!list_docUp}" var="item">
                <tr>
                <td class="dataCell" align="center" style="border-top: solid thin #B4B4B4">
                 <apex:commandLink style="{!if(IsEdit==true,'nothidden','display:none')};" action="{!Del}" value="Delete" id="Delete" >
                   <apex:param name="del"  assignTo="{!DelId}" value="{!item.Id}"/>
                 </apex:commandLink>
                </td>
                <td class="dataCell" style="border-top: solid thin #B4B4B4;border-left: solid thin #B4B4B4">
                <apex:outputField value="{!item.Document_Type__c}"/>
                </td>
                <td class="dataCell" style="border-top: solid thin #B4B4B4;border-left: solid thin #B4B4B4">
                <apex:outputField value="{!item.Name__c}"/>
                </td>
                <td class="dataCell" style="border-top: solid thin #B4B4B4;border-left: solid thin #B4B4B4">
                <apex:outputField value="{!item.CreatedDate}"/>
                </td>
                <td class="dataCell" style="border-top: solid thin #B4B4B4;border-left: solid thin #B4B4B4">
                <apex:outputText value="{!item.CreatedBy.Name}"/>
                </td>
                </tr>
                </apex:repeat>
                </table>
                </apex:outputPanel>
                </div>
            
        </apex:form>
    </body>
</apex:page>