<apex:page showHeader="false" id="page" applyBodyTag="false" docType="html-5.0" standardStylesheets="false" controller="AccountRegisterController" >
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/> 
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Mary Kay Title</title>
		<style type="text/css">
			html{height: 100%; width: 100%; margin: 0; padding: 0;}
			body{height: 100%; width: 100%; margin: 0; padding: 0;}
			div , span{FONT-FAMILY: "arial";text-decoration: none;color: #4cbaeb;}
			#main{background-repeat: repeat-y;height: 100%;background-size:100% 100%;}
			.hexa{width: 100%; height: 100%;}
			.main-content{background: none repeat scroll 0 0 #FFFFFF;border: 2px solid #E1C991;border-radius: 10px;}
			.reg-form{ padding:15px;}
			.title{width:95%;color: #3D82C5;font-size: 18px;font-weight: bold; padding-bottom: 3px;margin-bottom:8px;}
			.fields{color:#3D82C5;font-size:16px;margin-bottom: 8px;}
			input[type="text"] 
			{
				border: 1px #cacaca solid;
				border-radius: 5px;
				outline: none;
				padding: 2px;
				width: 90%;
				height: 25px;
				line-height: 30px;
			}
			.babyInfo{margin-top: 15px;color: #3D82C5;}
			.babyInfo-display{margin-top: 5px;color: #3D82C5;display: none;}
			.babyCount-f{background: #fff;border-radius: 5px;display: inline-block;padding: 2px 10px 2px 10px;margin-bottom: 5px;}
			.babyCount{background: #ebebee;border-radius: 5px;display: inline-block;padding: 2px 10px 2px 10px;margin-bottom: 5px;}
			.babyCount-display{background: #ebebee;border-radius: 5px;display: inline-block;padding: 0px 10px 0px 10px;display: none;}
			.plus{background: #ebebee;border-radius: 5px;display: inline-block;padding: 0px 10px 0px 10px;margin-bottom: 3px;}
			.plus-display{background: #ebebee;border-radius: 5px;display: inline-block;padding: 0px 10px 0px 10px;display: none;}
			
			.minus{background: #ebebee;border-radius: 5px;display: inline-block;padding: 0px 10px 0px 10px;margin-bottom: 3px;}
			.minus-display{background: #ebebee;border-radius: 5px;display: inline-block;padding: 0px 10px 0px 10px;display: none;}

			.hideNo{display:none;}
			.button
			{
				border: 3px #BBD8F5 solid;
				background: #FFF;
				border-radius: 30px;
				padding: 2px 15px 4px 15px;
				margin: 0px auto;
				color: #909090;
				cursor: pointer;
				width: 60%;
				height: 35px;
				font-size: 16px;
			}
		</style>
		<script>
			function vaildEmail(email)
		   	{
		   		if(email.value != null && email.value != '')
                {
                    var reg = /^[a-z0-9A-Z]+([._\\-]*[a-z0-9A-Z])*@([a-z0-9A-Z]+[-a-z0-9]*[a-z0-9A-Z]+.){1,63}[a-z0-9A-Z]+$/; 
                    var Regemail = reg.test(email.value);
                    if(!Regemail)
                    {
                        alert('郵箱格式不正確,請您重新輸入.');
                        email.focus();
                        email.select(); 
                    }
                }
		   	}
		</script> 
	</head>
	<html>
	<body >
		<div id="main"> 
			<div class="hexa">
				
				<div class="main-content"> 
					<apex:messages style="color:red;margin-left:10px;" />
					<apex:form id="salesforce"> 
					<div class="reg-form">  
							<div class="title">申請人資料</div>
							<div class="fields">姓名:<span><apex:inputText value="{!lastName}" id="lastName"/></span></div>
							<div class="fields">性别:<span><apex:inputField value="{!acc.gender__c}" id="gender"/></span></div>
							<div class="fields">手机号码:<span><apex:inputField value="{!acc.mobilephone__c}" id="mobilephone"/></span></div>
							<div class="fields">电子邮件:<span><apex:inputField value="{!acc.PersonEmail}" id="email" onblur="vaildEmail(this)"/></span></div>
							<div class="fields">出生日期:<span><apex:inputField value="{!acc.date_of_birth__c}" id="birthDate"/></span></div>
							<div class="fields">年龄段:<span><apex:inputField value="{!acc.age_range__c}" id="ageRange"/></span></div>
							<div class="fields">省:<span><apex:inputField value="{!acc.province__c}" id="province"/></span></div>
							<div class="fields">城市:<span><apex:inputField value="{!acc.City__c}" id="city"/></span></div>
							<div class="fields">地址:<span><apex:inputField value="{!acc.address__c}" id="address"/></span></div>
							
							<div>
									<apex:commandButton id="checkBtn" styleClass="button" value="提          交" action="{!Register}"/>
								</div>
							</div> 
					</apex:form> 
				</div> 
			</div>
		</div>
	</body>
	</html>
</apex:page>