<apex:page sidebar="false" showHeader="true" standardStylesheets="false" controller="OrgCustomizerController">
    <apex:composition template="SDO_Bootstrap_Template"/>

    <style type="text/css">
       @import url("/apex/custom_wizardcss");
    </style>
    
    <h1>Branding And Data Wizard</h1>
    <br />
    <br />
        <apex:form >

        <div class="accordion" id="accordion2">
            <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOneone">
                <font class="hi">Step 1: Replace Company Logo.</font>
              </a>
            </div>
            <div id="collapseOneone" class="accordion-body collapse">
              <div class="accordion-inner">
                  <a href="https://na1.salesforce.com/p/doc/DocumentUploadUi?id=01590000006v0GW&pid={!$User.Id}&retURL=/home/home.jsp&isdtp=vw" target="_blank"> Click to go to Logo Image </a>
              </div>
            </div>
          </div>
            
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                <font class="hi">Step 2: Run Perfect Date Wizard.</font>
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
              <div class="accordion-inner">
                  <apex:iframe src="/apex/perfectionStandard" />
              </div>
            </div>
          </div>
         <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
                <font class="hi">Step 3: Rename the Org.</font>
              </a>
            </div>
            <div id="collapseSix" class="accordion-body collapse">
              <div class="accordion-inner">
            
                <apex:pageBlock >
                    <apex:pageBlockButtons >
                        <apex:commandButton value="Save" action="{!updateOrganization}"/>
                    </apex:pageBlockButtons>
                    <apex:pageBlockTable value="{!theOrganization}" var="o">
                        <apex:column headerValue="Rename the Organizaiton">
                            <a href="https://na1.salesforce.com/{!$Organization.Id}/e?retURL=%2F{!$Organization.Id}%3FretURL%3D%252Fui%252Fsetup%252FSetup%253Fsetupid%253DCompanyProfile%26setupid%3DCompanyProfileInfo" target="_blank">Rename Org</a>
                        </apex:column>
                    </apex:pageBlockTable>
                </apex:pageBlock>
                
                </div>
            </div>
          </div> 
            
          
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                <font class="hi">Step 4: Rename Accounts and Websites.</font>
              </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
              <div class="accordion-inner">
            
                <apex:pageBlock >
                    <apex:pageBlockButtons >
                        <apex:commandButton value="Save" action="{!updateAccounts}" rerender="form1"/>
                        <apex:commandButton value="Reset Values" action="{!resetAccounts}"/>
                    </apex:pageBlockButtons>
                    <apex:pageBlockTable value="{!theAccounts}" var="a">
                        <apex:column headerValue="Account Name">
                            <apex:inputField value="{!a.Name}"/>
                        </apex:column>
                        <apex:column headerValue="Website" >
                            <apex:inputField value="{!a.Website}" styleClass="wide"/>
                        </apex:column>
                        <apex:column headerValue="Old Name">
                            <apex:outputField value="{!a.ORGCUSTOM4_OLD_NAME__c}"/>
                        </apex:column>          
                    </apex:pageBlockTable>
                </apex:pageBlock>
                
                </div>
            </div>
          </div>
            
            
            <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                <font class="hi">Step 5: Rename Contacts.</font>
              </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse">
              <div class="accordion-inner">
            
                <apex:pageBlock >
                    <apex:pageBlockButtons >                        
                        <apex:commandButton value="Save" action="{!updateContacts}"/>
                        <apex:commandButton value="Reset" action="{!resetContacts}"/>
                    </apex:pageBlockButtons>
                    <apex:pageBlockTable value="{!theContacts}" var="c">
                        <apex:column headerValue="Contact First Name">
                            <apex:inputField value="{!c.FirstName}"/>
                        </apex:column>
                        <apex:column headerValue="Contact Last Name">
                            <apex:inputField value="{!c.LastName}"/>
                        </apex:column>
                        <apex:column headerValue="Title">
                            <apex:inputField value="{!c.Title}"/>
                        </apex:column>
                        <apex:column headerValue="Email">
                            <apex:inputField value="{!c.Email}"/>
                        </apex:column>
                        <apex:column headerValue="Old Title" value="{!c.ORGCUSTOM4_OLD_TITLE__c}"/>
                    </apex:pageBlockTable>
                </apex:pageBlock>
                
                </div>
            </div>
          </div>
            
            
            <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                <font class="hi">Step 6: Rename Products and Assets.</font>
              </a>
            </div>
            <div id="collapseFive" class="accordion-body collapse">
              <div class="accordion-inner">
            
                <apex:pageBlock >
                    <apex:pageBlockButtons >
                        <apex:commandButton value="Save" action="{!updateProducts}"/>
                        <apex:commandButton value="Reset Values" action="{!resetProducts}"/>
                    </apex:pageBlockButtons>
                    <apex:pageBlockTable value="{!theProducts}" var="p">
                        <apex:column headerValue="Product Name">
                            <apex:inputField value="{!p.Name}"/>
                        </apex:column>
                        <apex:column headerValue="Old Name">
                            <apex:outputField value="{!p.ORGCUSTOM4_OLD_NAME__c}"/> 
                        </apex:column>
                    </apex:pageBlockTable>
                </apex:pageBlock>
                
                </div>
            </div>
          </div>
            
            
            <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
                <font class="hi">Step 7: Rename the Cases.</font>
              </a>
            </div>
            <div id="collapseSeven" class="accordion-body collapse">
              <div class="accordion-inner">
            
                <apex:pageBlock >
                    <apex:pageBlockButtons >        
                        <apex:commandButton value="Save" action="{!updateCases}"/>
                    </apex:pageBlockButtons>
                    <apex:pageBlockTable value="{!theCases}" var="item">
                        <apex:column headerValue="Case Subject" width="300px">
                            <apex:inputField value="{!item.Subject}" styleClass="wide"/>
                        </apex:column>
                        <apex:column headerValue="Description" width="500px">
                            <apex:inputField value="{!item.Description}" styleClass="caseDescript"/>
                        </apex:column>
                        <!--<apex:column headerValue="Solution Name" width="200px">
                            <apex:inputField value="{!item.theSolution.SolutionName}" styleClass="wide"/>
                        </apex:column>
                        <apex:column headerValue="Solution Note" width="500px" >
                            <apex:inputTextArea richText="true" value="{!item.theSolution.SolutionNote}" styleClass="superWide"/>
                        </apex:column>-->
                    </apex:pageBlockTable>
                </apex:pageBlock>
                
                </div>
            </div>
          </div>
            
            
            <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
                <font class="hi">Step 8: Rename the Campaigns.</font>
              </a>
            </div>
            <div id="collapseEight" class="accordion-body collapse">
              <div class="accordion-inner">
            
                <apex:pageBlock >
                    <apex:pageBlockButtons >        
                        <apex:commandButton value="Save" action="{!updateCampaigns}"/>
                        <apex:commandButton value="Reset Values" action="{!resetCampaigns}"/>
                    </apex:pageBlockButtons>
                    <apex:pageBlockTable value="{!theCampaigns}" var="c">
                        <apex:column headerValue="Campaign Name">
                            <apex:inputField value="{!c.Name}" styleClass="wide"/>
                        </apex:column>
                        <apex:column headerValue="Start Date">
                            <apex:inputField value="{!c.StartDate}"/>
                        </apex:column>
                        <apex:column headerValue="End Date">
                            <apex:inputField value="{!c.EndDate}"/>
                        </apex:column>
                        <apex:column headerValue="Old Name">
                            <apex:outputField value="{!c.ORGCUSTOM4_OLD_NAME__c}"/>
                        </apex:column>
                    </apex:pageBlockTable>
                </apex:pageBlock>
                
                </div>
            </div>
          </div>
            
            <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNine">
                <font class="hi">Step 9: Rename the Users.</font>
              </a>
            </div>
            <div id="collapseNine" class="accordion-body collapse">
              <div class="accordion-inner">
            
                <apex:pageBlock >
                <apex:pageBlockButtons >
                    <apex:commandButton value="Save" action="{!updateUsers}"/>
                    <apex:commandButton value="Reset Values" action="{!resetUsers}"/>
                </apex:pageBlockButtons>
                    <apex:pageBlockTable value="{!theUsers}" var="u">
                        <apex:column headerValue="First Name">
                            <apex:inputField value="{!u.FirstName}"/>
                        </apex:column>
                        <apex:column headerValue="Last Name">
                            <apex:inputField value="{!u.LastName}"/>
                        </apex:column>
                        <apex:column headerValue="Title">
                            <apex:inputField value="{!u.Title}"/>
                        </apex:column>
                        <apex:column headerValue="Old First Name">
                            <apex:outputField value="{!u.ORGCUSTOM4_OLD_FIRST_NAME__c}"/>
                        </apex:column>
                        <apex:column headerValue="Old First Name">
                            <apex:outputField value="{!u.ORGCUSTOM4_OLD_LAST_NAME__c}"/>
                        </apex:column>
                    </apex:pageBlockTable>
                </apex:pageBlock>
                
                </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTen">
                <font class="hi">Step 10: Localize Data.</font>
              </a>
            </div>
            <div id="collapseTen" class="accordion-body collapse">
              <div class="accordion-inner">
                  <iframe src="/apex/Datapack_List" height="800px" width="100%" />
              </div>
            </div>
          </div>
        </div>
    </apex:form>
    <br />
    <br />
    <br />
        <a href="/apex/custom_StartPage" class="backzz">Return</a>  
</apex:page>