<apex:page controller="LiveAgentChatController" sidebar="true" showHeader="true" cache="false">
    <style>
        .Intro_Title 
        {
          font-size: 24px;
          line-height: 1.779;
          font-weight: normal;
          rgb(32, 71, 140);
        }
        .Intro_Text 
        {
          font-size: 18px;
          line-height: 1.779;
          font-weight: normal;
          color: rgb(136, 136, 136);
        }
    </style>
    
        <title>LiveAgent</title>
    <div class='Container'>
    <table>
    <tr>
      <td width="800px"  valign="top">
          <div class='Intro_Title'>
             Welcome to Support
          </div>
          <br></br>
          <div class='Intro_Text'>
            Learn about our products, view online manuals, get the latest downloads, and more. 
              Connect with other users, or get service, support, and professional advice from our Experts.
          </div>
        
        
        
        <br />
            <br />
        <div class='Intro_Text'>
        Click here to connect live with our customer support product specialists:
        </div>
            <a id="button_online" href="javascript://Chat" style="display: none;" onclick="liveagent.startChat('{!LEFT(liveChatBtnId, 15)}')">
                <apex:image value="{!$Resource.liveagent_online}"/>
            </a>
            
            <div id="button_offline" style="display: none;">
                <apex:image value="{!$Resource.liveagent_offline}"/>
            </div>
            
        
        
        
        
      </td>
      <td width="50px">
      
      </td>
      
      <td>
         <img src="{!$Resource.Demo_SupportAgent}"> </img>
    
      </td>
    </tr>
    </table>
	</div>
    
    	
        <script>
            if (!window._laq) window._laq = [];
            window._laq.push(function() {
                liveagent.showWhenOnline('{!LEFT(liveChatBtnId, 15)}', document.getElementById('button_online'));
                liveagent.showWhenOffline('{!LEFT(liveChatBtnId, 15)}', document.getElementById('button_offline'));
            }); 
        </script>


        <script type='text/javascript' src='https://c.la2c2.salesforceliveagent.com/content/g/deployment.js'></script>
        <script type='text/javascript'>
            liveagent.addCustomDetail('Contact Email', '{!liveAgentUserEmail}').map('Contact', 'Email', false, true); 
            liveagent.addCustomDetail('Contact Name', '{!liveAgentUserName}').map('Contact', 'Name', true, false); 
            liveagent.setName('{!liveAgentUserName}');
            liveagent.init('https://d.la2c2.salesforceliveagent.com/chat', '{!LEFT(liveChatDepId, 15)}', '{!LEFT($Organization.id, 15)}');
        </script>
   
</apex:page>