<apex:page controller="ProductSubmit" sidebar="fales" showHeader="fales">
<apex:form >
<div style="width:90%;margin:25px auto auto 25px;">
<apex:pageblock >
<apex:pageMessages />
<apex:pageblocktable value="{!List_P}" var="item">
   <apex:column style="width:23%;">
     <apex:facet name="header">产品名称</apex:facet>
     <apex:outputText value="{!item.PName}" />
   </apex:column>
   <apex:column style="width:20%;">
     <apex:facet name="header">产品图样</apex:facet>
     <apex:image value="{!item.Url}" height="85" width="85"/>
   </apex:column>
   <apex:column style="width:15%;">
     <apex:facet name="header">积分单价</apex:facet>
     <apex:outputText value="{!item.Price}" />
   </apex:column>
   <apex:column style="width:15%;">
     <apex:facet name="header">兑换数量</apex:facet>
     <apex:OutputText value="{!item.Count}" />
   </apex:column>
   <apex:column style="width:25%;">
     <apex:facet name="header">产品总积分</apex:facet>
     <apex:outputText value="{!item.Total}" />
   </apex:column>
</apex:pageblocktable>
<table><tr>
<td style='width:850px;'></td><td><span style='font-weight:bold;'>兑换消耗总积分：</span><span style='color:#FF9966'>{!Sum}</span></td>
</tr>
</table>
 <table style='width: 85%'><tr>
          <td>收货人姓名：<apex:inputText value="{!myUserName}" /></td>
          <td>收货人电话：<apex:inputText value="{!myPhone}" /> </td></tr>
          <tr><td>收货地址：&nbsp;&nbsp;&nbsp; <apex:inputText value="{!myAddress}" /></td>
          <td></td></tr>
          <tr><td></td>
          <td style='text-align:left;'><apex:commandButton action="{!mySubmit}" value="确认并提交" />
          </td></tr>
      
 </table>

</apex:pageblock>
</div>
</apex:form>
</apex:page>