<apex:page controller="ProductDetail" sidebar="fales" showHeader="fales">
<apex:form >
<div style="width:90%;margin:45px auto auto 25px;">
<apex:pageblock >
<apex:pageblocktable value="{!List_P}" var="item">
   <apex:column style="width:23%;">
     <apex:facet name="header">产品名称</apex:facet>
     <apex:outputText value="{!item.PName}" />
   </apex:column>
   <apex:column style="width:20%;">
     <apex:facet name="header">产品图样</apex:facet>
     <apex:image value="{!item.Url}" height="85" width="85"/>
   </apex:column>
   <apex:column style="width:15%;">
     <apex:facet name="header">积分单价</apex:facet>
     <apex:outputText value="{!item.Price}" />
   </apex:column>
   <apex:column style="width:15%;">
     <apex:facet name="header">兑换数量</apex:facet>
     <apex:inputText value="{!item.Count}" onchange="SumTotal()"/>
   </apex:column>
   <apex:column style="width:25%;">
     <apex:facet name="header">产品总积分</apex:facet>
     <apex:outputText value="{!item.Total}" />
   </apex:column>
</apex:pageblocktable>
<table><tr>
<td style='width:880px;'></td><td><span style='font-weight:bold;'>兑换消耗总积分：</span><span style='color:#FF9966'>{!Sum}</span></td>
</tr>
</table>
 <apex:actionFunction name="SumTotal" action="{!SumTotal}" />
</apex:pageblock>
<table><tr><td style='width:930px;'></td><td><apex:commandButton action="{!Nextstep}" value="下一步"/>
</td></tr></table>

</div>
</apex:form>
</apex:page>