<apex:page sidebar="fales" showHeader="fales">
<!-- Begin Default Content REMOVE THIS -->
<table style='margin:80px auto auto auto;'>
<tr><td style='width:180px;font-size:20px;color:#FF9966;'>恭喜，兑换成功！</td></tr>
 </table>
<!-- End Default Content REMOVE THIS -->
</apex:page>