<apex:page controller="TIMBASURVEYS.SurveyAnalyzeController" sidebar="false" showHeader="false" standardstylesheets="false" contentType="text/css">

	         
     <div id="{!responseReport.Id}"> 
         <div class="recipientAndResponses">                 
             <div class="topCornersLightBlue"><span class="leftCorner"></span></div>                 
             <!-- Recipient Data -->
             <div class="recipientData roundedCorners">                  
                 <div class="Image">
                     <apex:outputPanel layout="block" rendered="{!IF(LEN(responseReport.ContactImageAttachment) <= 0,true,false)}">
                         <img src="{!URLFOR($Resource.SurveyResources, 'imgs/common/anonymousavatar.png')}" />
                     </apex:outputPanel>
                     <apex:outputPanel layout="block" rendered="{!IF(LEN(responseReport.ContactImageAttachment) > 0,true,false)}" style="height:82px; overflow:hidden;">
                         <img src="https://na1.salesforce.com/servlet/servlet.FileDownload?file={!responseReport.ContactImageAttachment}" width="72" />
                     </apex:outputPanel>
                 </div>
                 <div class="RecipientInfo">
                     <h2><apex:outputText value="{!IF(LEN(responseReport.RecipientName) <= 0, 'Anonymous', responseReport.RecipientName )}" /></h2>
                     <ul>
                     	<li> 
                             Recipient Number: <span id="rnumber"></span>
                         </li>
                         <li> 
                             Recipient Email: <apex:outputText value="{!IF(LEN(responseReport.RecipientEmail) <= 0, 'none', responseReport.RecipientEmail )}" />
                         </li>
                         <li>
                             Survey Completed Date: {!responseReport.CreatedDate}
                         </li>
                     </ul>                               
                 </div>
                 <div class="clear"></div>
             </div>                  
             <!-- Recipient Responses -->
             <apex:repeat value="{!responseReport.RecipientResponses}" var="response">
                 <apex:outputpanel styleclass="questionResponse" rendered="{!IF((LEN(response.Question)) == 0,false,true)}" layout="block">
                     <!-- Top Corners -->
                     <div class="topCornersWhiteOnlb">
                         <span class="leftCorner"></span>
                     </div>          
                     <div class="body">          
                     <div class="question clear">{!response.Question}</div>
                     <apex:outputpanel styleclass="answer" rendered="{!!response.HaveSubResponses}">
                         <apex:outputText value="{!IF(response.Answer != '', response.Answer , 'No Answer')}"  escape="false"/>                                                                          
                     </apex:outputpanel>
                     <apex:repeat value="{!response.SubQuestionResponses}" var="childResponse">  
                         <div class="question clear">{!childResponse.Question}</div>
                         <div class="answer">                                    
                             <apex:outputText value="{!childResponse.Answer}"  escape="false"/>                                          
                         </div>                                  
                     </apex:repeat>
                     </div>
                     <!-- Bottom Corners -->
                     <div class="bottomCornersWhiteOnlb"> 
                         <span class="leftCorner"></span>
                     </div>
                 </apex:outputpanel>
             </apex:repeat>          
         	<div class="bottomCornersLightBlue"><span class="leftCorner"></span>
        	</div>  
         </div>
     </div>  
	                     
</apex:page>