<apex:page sidebar="false" tabstyle="Timba_Surveys__tab" controller="TIMBASURVEYS.CollectionHubController">
	
	<!-- DOJO Js -->
	<script type="text/javascript" src="{!URLFOR($Resource.timbasurveys_dojo_build, 'dojo/dojo.js')}" djConfig="parseOnLoad: true"></script>
	<script type="text/javascript" src="{!URLFOR($Resource.timbasurveys_dojo_build, 'dojox/dojox-widgets.js')}"></script>
	
  	<!-- DOJO Stylesheets -->
    <apex:stylesheet value="{!URLFOR($Resource.TIMBASURVEYS__dojotools, 'dijit/themes/soria/soria.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.TIMBASURVEYS__dojotools, 'dijit/themes/dijit.css')}" />    
    <apex:stylesheet value="{!URLFOR($Resource.TIMBASURVEYS__dojotools, 'dojo/resources/dojo.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.TIMBASURVEYS__dojotools, 'dojox/widget/Standby/Standby.css')}" />
	
	<script>
		
		var SurveyId = '';
		var collectionType = '{!collectionType}';
		
		// onLoad methods of dojo 
		var init = function () {
			// Add the class to load the css styling
			dojo.query('body').addClass('soria');
			// Remove footer
			dojo.query('.noTableFooter')[0].style.display = 'none';			
		}
		
		// Fire events onload
		dojo.addOnLoad(init);
		
		function sendInvitations(){	 
			
			overlay.show();
			SurveyId = dojo.byId('surveyId').value;			
			
			// Build URL to check for existent recipients
			var queryURL = '{!$Page.surveyoperation}?surveyId=' + SurveyId + '&op=cercps';
			
			if(collectionType == 'contacts'){
				queryURL += '&cIds={!targetIds}';
			}
			if(collectionType == 'leads'){
				queryURL += '&LIds={!targetIds}';
			}
			
			
			// Check Existent Survey contacts as recipients
			dojo.xhrPost({
				url: queryURL,
				load: function (data) {
					 
					if(data.length > 0){
						var response = dojo.fromJson(data)
						dojo.byId('surveyselectionstep').style.display = 'none';
						dojo.byId('confirmationstep').style.display = '';
						dojo.byId('existentRecipients').innerHTML = response.list;
						dojo.byId('substractionIds').innerHTML = response.substraction_ids;
						
						overlay.hide();
						
					} else {
						overlay.hide();
						sendSurvey('all',collectionType);
					}
				}
			}); 
		}
		
		function replaceAll(text, strA, strB)
		{
		    return text.replace( new RegExp(strA,"g"), strB );    
		}
		
		/**
	     * Check the Recipient List for errors 
	     */	    
	    function sendSurvey(method, type){
			
			var selectedIdsString = ''; 
			
			// Collect all leads / contacts or the substraction
			if(method == 'all'){
				selectedIdsString = replaceAll('{!targetIds}',',','|');
			}			
			if(method == 'substract'){
				selectedIdsString = dojo.byId('substractionIds').innerHTML;
			}
			
			// Based on collection type
			if(collectionType == 'contacts'){
				selectedIdsString = '&cIds='+selectedIdsString;
			} 
			if(collectionType == 'leads'){
				selectedIdsString = '&LIds='+selectedIdsString;
			}
							
			overlay.show();
			
			var additionalOptions = '';
			
			try {
				var isAnonymous = dojo.byId('anonymousCollection').checked;
	
				if (isAnonymous) {
					additionalOptions += '&isAnonymous=true';
				}
			} catch(e) {}
	
			try {
				var enableNow = dojo.byId('startCollectionRightNow');
	
				if (enableNow != null) {
					if (enableNow.checked) {
						additionalOptions += '&scn=true';
					}
				}
	
			} catch(e) {}
	
			// Backup the email Template
			//////////////////////////////////
			dojo.xhrPost({
				// The page that parses the POST request
				url: '{!$Page.surveyoperation}?surveyId=' + SurveyId + '&op=backupTemplate',
	
				load: function (data) {
	
					// Do the post to switch the template
					dojo.xhrPost({
	
						// The page that parses the POST request
						url: '{!$Page.surveyoperation}?surveyId=' + SurveyId + '&op=updateTemplate&toc=' + type,
	
						// Loads this function if everything went ok
						load: function (data) {
	
							var emailTemplateUpdate = dojo.fromJson(data);
	
							if (emailTemplateUpdate.success) {
	
								dojo.xhrPost({
	
									// The page that parses the POST request
									url: '{!$Page.surveyoperation}?surveyId=' + SurveyId + '&op=collect' + selectedIdsString + additionalOptions,
	
									// Loads this function if everything went ok
									load: function (data) {
	
										var operationStatus = dojo.fromJson(data);
	
										if (operationStatus.success) {
											
											rebuildTemplate();
											
										} else {
	
											if (operationStatus.exception != undefined) {
	
												if (operationStatus.exception.indexOf("MASS_MAIL_LIMIT_EXCEEDED") > 0) {
													alert('Sorry, the daily mass mail limit  reached');
													overlay.hide();
												} else {
													alert('There was an error sending your invitations, please try again later');
												}
												
												overlay.hide();
											}
										}
									},
									// Call this function if an error happened
									error: function (error) {
										alert(error);
										overlay.hide();
									}
								});
							} else {
								alert(error);
								overlay.hide();
							}
						},
						// Call this function if an error happened
						error: function (error) {
							alert(error);
							overlay.hide();
						}});
				}});			
		}
		
		// Replace Email Templates
		function rebuildTemplate() {
			dojo.xhrPost({
		
				// The page that parses the POST request
				url: '{!$Page.surveyoperation}?surveyId=' + SurveyId + '&op=resetEmailTemplate',
				load: function (data) {
					window.location = '{!retURL}';
				}
		
			});
		}
		
		
	</script>	
	
	<style>
		.listwrapper {
			height:300px;
			width:500px;
			border:1px solid black;
			overflow-y:scroll;
			margin:10px;			
		}
		
		.listwrapper ul,.listwrapper ul li {
			list-style:none;
			margin:0;
			padding:0;
		}
		
		#collectionHubWizardContainer {
			margin:10px;
		}
	</style>
	
	<!-- 
    	Application Styles 
    -->
    <!-- Common Styles -->
    <apex:stylesheet value="{!URLFOR($Resource.TIMBASURVEYS__SurveyResources, 'inc/css/common.css')}" />  
    <!-- Section Specific styles -->
    <apex:stylesheet value="{!URLFOR($Resource.TIMBASURVEYS__SurveyResources, 'inc/css/surveyCollection.css')}" />    
 
    <!-- 
        Begin Page
     -->        
    <!-- Section Header -->
    
    <div class="sectionHeader">
        <h1 class="Collect">Survey Collection</h1>          
    </div>  
   
	<div id="collectionHubWizardContainer">
		<div id="surveyselectionstep">
			
			<h2>The list of {!collectionType} to send a survey:</h2><br />
			<div class="listwrapper">
				<!-- If the collection if of contacts -->
				<apex:dataList value="{!selectedContacts}" var="contact"  rendered="{!IF(collectionType == 'contacts',true,false)}">
					 <apex:outputText value="{!contact.Name}"/> | <apex:outputText value="{!contact.Email}"/>		
				</apex:dataList>
				<!-- If the collection if of leads -->
				<apex:dataList value="{!selectedLeads}" var="lead" rendered="{!IF(collectionType == 'leads',true,false)}">
					 <apex:outputText value="{!lead.Name}"/> | <apex:outputText value="{!lead.Email}"/>		
				</apex:dataList>
			</div>
			
			<h2>Select a survey to send invitations:</h2>
			<br /><br />	
			<select id="surveyId">
				<apex:repeat value="{!surveyList}" var="s">
				<option value="{!s.Id}">{!s.Name}</option>		
				</apex:repeat>
			</select> 
			<br /><br />			
			<a class="dijitReset dijitInline dijitButtonNode customDijitLinks" href="javascript:;" onclick="sendInvitations()">Send Invitations</a>				
		</div>
		
		<div id="confirmationstep" style="display:none;">
			<h2>The following contacts already have been invited to complete the Survey.</h2> <br/>
			<div id="existentRecipients" class="listwrapper" ></div>
			<div id="substractionIds" style="display:none;"></div>
			<h2> Send invitations again ? </h2>
			<br /><br />
			<a class="dijitReset dijitInline dijitButtonNode customDijitLinks" href="javascript:;" onclick="sendSurvey('all', 'contacts')">Send Again</a>
			<a class="dijitReset dijitInline dijitButtonNode customDijitLinks" href="javascript:;" onclick="sendSurvey('substract', 'contacts')">No, Send only to uninvited contacts.</a>			
		</div>		
		
		<div id="resultStep" style="display:none;">
			<br />
			<h2>Success! </h2>
			<br />
			<br />
			<p>Invitations sent</p>
			<a class="dijitReset dijitInline dijitButtonNode customDijitLinks" href="javascript:;" onclick="sendSurvey('all', 'contacts')">No, Send only to uninvited contacts.</a>			
		</div>
	</div>
	
	<!--  
        Dojox StandBy Widget for lists
    -->
    <div jsId="overlay" dojoType="dojox.widget.Standby" target="collectionHubWizardContainer" color="white"></div>
    
</apex:page>