<apex:page controller="TIMBASURVEYS.file_upload_controller" standardstylesheets="false" sidebar="false" showheader="false">
	<script> 
		function validate(){ 
		
    		
			var inputs = document.getElementsByTagName('input');
			var errorfound = false;
			for(var i = 0; i < inputs.length; i++ ){
			    if(inputs[i].type == 'file'){
			        if(inputs[i].value == ''){
			        	//No file selected to upload shows error
			        	alert('Please select a file to upload.');
					    try {
					    	window.parent.hideThemeOverlay();
					    } catch (exception) { 
					    
					    }				        	
						return false;
			        }else{
			        	var val = inputs[i].value.toLowerCase();
   						if(val.lastIndexOf(".jpg") == -1 &&
   							val.lastIndexOf(".jpeg") == -1 &&
							val.lastIndexOf(".tiff")  == -1 &&
							val.lastIndexOf(".png")  == -1 &&
							val.lastIndexOf(".bmp")  == -1 &&
							val.lastIndexOf(".gif")  == -1){
							//The image its not a valid image type file
							//If some missing just add code
							alert('Please upload a valid image file.');
						    try {
						    	window.parent.hideThemeOverlay();
						    } catch (exception) { 
						    
						    }	
   							return false;
						}
			        }
			    }			
			}
			
			if(errorfound){
				alert('Please select a file to upload.');
			    try {
			    	window.parent.hideThemeOverlay();
			    } catch (exception) { 
			    
			    }				
				return false;				
			} else {
			    try {
			    	window.parent.showThemeOverlay();
			    } catch (exception) { 
			    
			    }				
				parent.set_refresh_point();
				return true;
			}
		}
	</script>
	<apex:form id="theForm" onsubmit="return validate();">
       <apex:inputFile id="file" value="{!attached_file.Body}" filename="{!attached_file.name}" id="image_file_input" contentType="{!attached_file.contentType}"/>
       <apex:commandButton value="Upload" action="{!save_file}"/><br/>
    </apex:form>    
 	<apex:outputText value="{!message}" />
</apex:page>