<apex:page sidebar="false" controller="TIMBASURVEYS.SurveyOverviewController" tabstyle="Timba_Surveys__tab" >
	<apex:stylesheet value="{!URLFOR($Resource.TIMBASURVEYS__SurveyResources2, 'css/navigation_survey_analyzer.css')}" />
	<apex:stylesheet value="{!URLFOR($Resource.TIMBASURVEYS__SurveyResources2, 'css/tabsDisplay.css')}" />
	
	<!-- Custom StyleSheets -->
    <style>

		.overview{
		    font-family: arial;
		    font-size: 17px;
		    color: #399CC8;
		    width: 100%;
		    min-height: 488px;

		    background-color: #ffffff;
		    text-align: center;
		    margin: 0 auto;
		    overflow: hidden;
		    
		    -webkit-border-bottom-left-radius: 5px;
			-webkit-border-bottom-right-radius: 5px;
			-moz-border-radius-bottomleft: 5px;
			-moz-border-radius-bottomright: 5px;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}
		
		.overview .form_field {
		    overflow: hidden;
		    clear: both;
		    margin: 40px 0;
		
		}
		
		.overview .cols{
		    width: 100%;
		    text-align: left;
		}
		
		.overview .col1{
		    text-align: right;
		    width:35% ;
		    float: left;
		}
		.overview .col2{
		    width:50%;
		    height: auto;
		    overflow: hidden;
		    float: left;
		    padding-top: 3px;
		}
		
		.overview .description {
		    clear:both;
		    color: #989898;
		    font-size: 11px;
		}
		
		.overview .date{
		    color: #717171;
		    font-size: 13px;
		    font-weight: bold;
		}
		
		.overview .txtInput{
		    font-family: arial;
		    font-size: 15px;
		    width: 97%;
		
		    height: 24px;
		
		    border-width: 1px;
		    border-color: #D7EEF5;
		    border-radius: 5px;
		    
		    -webkit-border-radius: 5px;
		    -moz-border-radius: 5px;
		    -moz-box-shadow: inset 0 0 4px #666666;
		    box-shadow: inset 0 0 4px #666666;
		}
		
		.overview .txtArea{
		    font-family: arial;
		    font-size: 15px;
		    width: 97%;
		
		    border-width: 1px;
		    border-color: #D7EEF5;
		    border-radius: 5px;
		    -webkit-border-radius: 5px;
		    -moz-border-radius: 5px;
		    -moz-box-shadow: inset 0 0 4px #666666;
		    box-shadow: inset 0 0 4px #666666;
		
		}
		
		.overview .divshadow{
		    border: solid 1px #AAAAAA;
		    border-radius: 5px;
		    -webkit-border-radius: 5px;
		    -moz-border-radius: 5px;
		    -moz-box-shadow: inset 0 0 4px #666666;
		    box-shadow: inset 0 0 4px #666666;
		    padding: 4px;
		}
		
		.overview .labels{
		    padding-right: 20px;
		    font-weight: bold;
		}	
		
		.banner {
			padding-bottom: 0px;
			padding-top: 8px;
			height: 39px
		
		}
		
		
		.savestyle{
			outline: none;
			margin-top:3px;
			padding:0px;
		}

		.cancelstyle{
			margin-left:7px;
			margin-top:2px;
			padding:5px;
		}

   	</style>
   	
    <apex:composition template="TIMBASURVEYS__timbaSurveysTemplate">
    	<!-- customJs Imports & Script Tags -->
		<apex:define name="customJs"> 
			<script>
				var sendT = '';
				var surveyName ='';
				var surveyDescription = '';
				
				dojo.addOnLoad(function(){
					dojo.byId('descriptionS').innerHTML = dojo.byId('descriptionS').innerHTML.replace(new RegExp( "\\n", "g" ),"<br />");
				
				});
				
				
				function applyB(){
					listOverlay.show();
					processSave();
					listOverlay.show();
					apply();
					sendT = 'applyB';
					
				}
				
				function saveB(){
					listOverlay.show();
					processSave();
					sendT = 'saveB'; 
				}
				
				function complete(){
					//If Name Change  Update Template 
            			dojo.xhrPost ({
			        		// The page that parses the POST request
			        		url: '{!$Page.SurveyOperation}?op=updateSubject&surveyId={!survey.Id}',
			        		load: function (data) {
                    			var response = dojo.fromJson(data);
                    			if(!response.success){
                    				alert(response.exception);
                    			}
                    			
                    			if(sendT == 'saveB'){
									window.location="{!$Page.SurveyList}"; 
								}else{
									listOverlay.hide();
								}
                    			
                    		},
			        		error: function (error) {
			        				alert("Error in saveSurvey with SurveyOperation");
			        			}  
			        	});
				}		
			
				function edit(){
					dojo.byId('applyB').style.display ='';
					dojo.byId('saveB').style.display ='';
					dojo.byId('editB').style.display ='none';
					
					dojo.byId('editor').style.display ='';
					dojo.byId('view').style.display ='none';
					dojo.byId('btncancel').style.display ='';
					
					surveyName = dojo.byId('nameS').innerHTML;
					surveyDescription = dojo.byId('descriptionS').innerHTML;
				}
				
				function apply(){
					dojo.byId('nameS').innerHTML = dojo.byId('nameF').value;
					dojo.byId('descriptionS').innerHTML = dojo.byId('descriptionF').value.replace(new RegExp( "\\n", "g" ),"<br />");
					
					dojo.byId('applyB').style.display ='none';
					dojo.byId('saveB').style.display ='none';
					dojo.byId('editB').style.display ='';
					
					dojo.byId('editor').style.display ='none';
					dojo.byId('view').style.display ='';
					
					dojo.byId('btncancel').style.display ='none';
				}
				
				function moveback(){
					// dojo.byId('nameS').innerHTML = surveyName;
					// dojo.byId('descriptionS').innerHTML = surveyDescription;
					dojo.byId('nameF').value = surveyName;
					dojo.byId('descriptionF').innerHTML = surveyDescription;
					dojo.byId('descriptionF').value = surveyDescription;
					
					dojo.byId('btncancel').style.display ='none';
					
					dojo.byId('applyB').style.display ='none';
					dojo.byId('saveB').style.display ='none';
					dojo.byId('editB').style.display ='';
					
					dojo.byId('editor').style.display ='none';
					dojo.byId('view').style.display ='';
				}
			
			
			</script>
	    </apex:define>
	    <!-- BreadCrumb -->
    	<apex:define name="breadCrumb">
    		<c:timbaSurveysBreadCrumb steps="Survey List:{!$Page.TIMBASURVEYS__SurveyList},{!survey.Name}"/>
	    </apex:define>
	    <!-- Body Section -->
		<apex:define name="body">  
			
			
		<div class="tabSet">
			<a href="#" class="tabElem imIn">Overview</a>
			<a href="{!$Page.SurveyPreview}?id={!survey.Id}" class="tabElem">Design</a>
			<a href="{!$Page.SurveyCollect}?id={!survey.Id}" class="tabElem">Collect</a>
			<apex:outputpanel layout="none" rendered="{!If(survey.TIMBASURVEYS__CollectedResponses__c == 0 , false, true)}">
				<a href="{!$Page.SurveyAnalyze}?id={!survey.Id}" class="tabElem">Analyze</a>
			</apex:outputpanel>
			
			<div class="marginInf"></div>
		</div>		
		
			<div class="banner">
				<div class="leftContainer">
					<button class="surveyButton cancel cancelstyle" id="btncancel" style="display:none" onclick="moveback();" >Cancel</button>
				</div>
				<div class="rightContainer">
					<button id="applyB" class="surveyButton" style="display: none;" onclick="applyB();return false;">Apply</button>
					
					<button id="saveB" type="button" class="surveyButton savestyle" style="display: none;" onclick="saveB();return false;">
						<img src="{!URLFOR($Resource.SurveyResources2, 'img/overlay/okicon.png')}" />Save
					</button>
					
					<button id="editB" type="button" class="surveyButton" style="display:;" onclick="edit();return false;">Edit</button>
				</div>
			</div>
			
	
	<div id="editor" style="display: none;">
	<apex:form >			
			<div class="overview">
				
				<div class="cols">
		
		                <!-- Form field -->
		                <div class="form_field">
		                    <div class="col1">
		                        <label class="labels">Survey Title:</label>
		                    </div>
		                    <div class="col2">
		                        <input class="txtInput" id="nameF" name="name" type="text" value="{!survey.Name}"/>
		                    </div>
		                </div>
		
		                <!-- Form field -->
		                <div class="form_field">
		                    <div class="col1">
		                        <label class="labels">Creation Date:</label>
		                    </div>
		                    <div class="col2">
		                        <span class="date">{!MONTH(survey.CreatedDate)}/{!DAY(survey.CreatedDate)}/{!YEAR(survey.CreatedDate)}</span>
		                    </div>
		                </div>
		
		                <!-- Form field -->
		                <div class="form_field">
		                    <div class="col1">
		                        <label class="labels">Survey Description:</label>
		                    </div>
		                    <div class="col2">
		                        <textarea class="txtArea" rows="7" name="description" id="descriptionF" >{!IF(AND(LEN(survey.Description__c) > 0, survey.Description__c != 'undefined') ,survey.Description__c,'')}</textarea>
		                    </div>
		                </div>
		
		            </div>
				
	        	</div>
	        	<input type="hidden" name="id" value="{!survey.Id}" />
        	
        	<apex:actionFunction name="processSave" action="{!processSave}"  oncomplete="complete();" />
        	
        </apex:form>
        </div>
        
        <div id="view" style="display:;">
			<div class="overview">
				
				<div class="cols">
		
		                <!-- Form field -->
		                <div class="form_field">
		                    <div class="col1">
		                        <label class="labels">Survey Title:</label>
		                    </div>
		                    <div class="col2">
		                        <span style="color:#717171;" id="nameS">{!survey.Name}</span>
		                    </div>
		                </div>
		
		                <!-- Form field -->
		                <div class="form_field">
		                    <div class="col1">
		                        <label class="labels">Creation Date:</label>
		                    </div>
		                    <div class="col2">
		                        <span class="date">{!MONTH(survey.CreatedDate)}/{!DAY(survey.CreatedDate)}/{!YEAR(survey.CreatedDate)}</span>
		                    </div>
		                </div>
		
		                <!-- Form field -->
		                <div class="form_field">
		                    <div class="col1">
		                        <label class="labels">Survey Description:</label>
		                    </div>
		                    <div class="col2">
		                        <span style="color:#717171;" id="descriptionS">{!IF(AND(LEN(survey.Description__c) > 0, survey.Description__c != 'undefined') ,survey.Description__c,'')}</span>
		                    </div>
		                </div>
		
		            </div>
				
	        	</div>

        </div>
        
		<div jsId="listOverlay" dojoType="dojox.widget.Standby" target="bodyTable" color="white"></div>  
		
		
		
		</apex:define>
		
		 
	</apex:composition>	
</apex:page>