<apex:page sidebar="false" controller="TIMBASURVEYS.SurveyAnalyzeController" tabstyle="Timba_Surveys__tab" action="{!initGraphics}">

     <apex:stylesheet value="{!URLFOR($Resource.TIMBASURVEYS__SurveyResources2, 'css/analyzer_questions_section.css')}" />
     <apex:stylesheet value="{!URLFOR($Resource.TIMBASURVEYS__SurveyResources2, 'css/navigation_survey_analyzer.css')}" />
     <apex:stylesheet value="{!URLFOR($Resource.TIMBASURVEYS__SurveyResources2, 'css/tabsDisplay.css')}" />
 
      <style type="text/css">
			
		.questionDetailGraphs .subName{
			font-size: 18px;
			clear: both;
			padding-bottom: 20px;
			padding-left: 20px;
			color: #2c98c5;
		}
		
		.questionList ul .questionItem .questionListNumber {
			padding-top:0px;
			width: 17px;
			height: 17px;
			overflow: hidden;
		}
		
		iframe{
				border: 0;
				width: 657px;
				height: 420px;
				margin: 0;
					
			}
			
			
		.detailsChange{
				cursor: pointer;
				cursor: hand;
			}
			
		.masterContainer{
			background-color: #ffffff;
			overflow:hidden;
	
			-webkit-border-bottom-left-radius: 5px;
			-webkit-border-bottom-right-radius: 5px;
			-moz-border-radius-bottomleft: 5px;
			-moz-border-radius-bottomright: 5px;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			
			padding-top: 30px;
			
			
			min-height: 600px;
		
		}
		
		.pageCon{
			width: 194px;			
			display: block;
			margin: 12px auto;
		}

		.pageCon .next{
			float: left;
			width: 26px;
			height: 24px;
			background:url({!URLFOR($Resource.SurveyResources2, 'img/shared/next.png')}) no-repeat scroll transparent;
			background-position: 0px 0px;
			margin-right: 9px;
			margin-left: 9px;
			outline: none;
			
		}
		.pageCon .prev{
			float: left;
			width: 26px;
			height: 24px;
			background:url({!URLFOR($Resource.SurveyResources2, 'img/shared/previous.png')}) no-repeat scroll transparent;
			background-position: 0px 0px;
			margin-right: 9px;
			outline: none;
			
		}
		.pageCon .count{
			float: left;
			width: 52px;
			height: 20px;
			padding-top: 3px;
			
			position: relative;
			
			font-family: Arial,Helvetica,sans-serif;
			font-size: 13px;
			font-weight: bold;
			
			border: 1px #aac9d3 solid;
			background-color: white;
			
			color: #25a8d8;
			text-align: center;
			font-size: 13px;
			font-weight: bold;
			
			-webkit-border-bottom-left-radius: 5px;
			-webkit-border-bottom-right-radius: 5px;
			-moz-border-radius-bottomleft: 5px;
			-moz-border-radius-bottomright: 5px;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			
			-webkit-border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-topright: 5px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			
		}
		.pageCon .count img{
			padding-bottom:2px;
			padding-left:3px;
		}
		
		.pageCon .count .selectList li a{
			color: #25a8d8;
			text-decoration: none;
		}
		
		.pageCon .end{
			float: left;
			width: 26px;
			height: 24px;
			background:url({!URLFOR($Resource.SurveyResources2, 'img/shared/last.png')}) no-repeat scroll transparent;
			background-position: 0px 0px;
			outline: none;
			
		}
		.pageCon .begin{
			float: left;
			width: 26px;
			height: 24px;
			background:url({!URLFOR($Resource.SurveyResources2, 'img/shared/first.png')}) no-repeat scroll transparent;
			background-position: 0px 0px;
			margin-right: 9px;
			outline: none;
		}
		
		.disabled  {
			background-position:left bottom;
		}
		
		.hover{
			background-position:left center;
		}
		
		.selectList{
			display:none;
			bottom:100%;
			width:48px;
			text-align:center;
			list-style:none;
			
			background-color: white;
			
			position: absolute;
		
			border:#ACC6CF 1px solid;
			border-bottom:none;
			
			-webkit-border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-topright: 5px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
		.selectList li{
			border-bottom:#D2E9EE 1px solid;
			color:#25A8D8;
			margin: 0;
		}
		
		.displayBlock {
			display:block !important;
		}
		
		.questionDetailContainer{
			height: auto;
		}
		
		.banner .expandAll{
			float:right;
			font-size: 13px;
			font-weight: bold;
			text-decoration: none;
			color: #ffffff;
			outline: none;
			
			background-color: #1e6b89;
			margin-top:12px;
			margin-right:8px;
			padding: 4px;
			
			-webkit-border-bottom-left-radius: 10px;
			-webkit-border-bottom-right-radius: 10px;
			-moz-border-radius-bottomleft: 10px;
			-moz-border-radius-bottomright: 10px;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			
			-webkit-border-top-left-radius: 10px;
			-webkit-border-top-right-radius: 10px;
			-moz-border-radius-topleft: 10px;
			-moz-border-radius-topright: 10px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}
		
		.banner{
			padding-top: 3px;
			height: 47px;
		}
	
		.banner .surveyStat{
			margin-top: 10px;
		}
		.banner .browseBy{
			margin-top: 16px;
		}
		.banner .questions{
			margin-top: 16px;
		}
		
		.banner .recipients{
			margin-top: 16px;
		}
		.banner .corrector{
			margin-top: 12px;
		}
		
		.banner .selected{
			margin-top: 12px;
		}

		#showAll a:hover {
			text-decoration: none;
			color: #117291;
		}
		
		.questionDetail .questionDetailGraphs .rowGraph ul li .spanNum {
			width:auto;			
		}
		
		.questionDetail .questionDetailGraphs .rowGraph ul li {
			width:auto;
		}
		
		.questionDetail .questionDetailGraphs {
			height:auto;
			min-height:220px;
			overflow:hidden;
		}
		
		.questionDetail .questionDetailGraphs .rowGraph ul li {
			float:right;
		}
		
		.questionDetail .questionDetailGraphs .rowGraph {
			
			max-width: 425px;
			width:auto;
			height: auto;
			padding-left: 35px;
		}
		
		.questionDetail .questionDetailGraphs .rowGraph .totalBar,
		.questionDetail .questionDetailGraphs .rowGraph .spanRate,
		.questionDetail .questionDetailGraphs .rowGraph .spanNum {
			color:#707070;
			font-size:10px;
		}
		
		.questionDetail .questionDetailGraphs .rowGraph .spanNum {
			float:none;
			text-align:center;
			width:auto;
		}
		
		.questionDetail .questionDetailGraphs .rowGraph .totalBar {
			background-repeat:repeat-x;
			float:none;
			height:11px;
			margin-left:4px;
			margin-right:4px;
			width:147px;
			background-image:url({!URLFOR($Resource.SurveyResources2, 'img/analyze/bg_responsebar.png')})
		}
		
		
		.questionDetail .questionDetailGraphs .rowGraph .totalBar .porsentage {
			background-repeat:repeat-x;
			float:left;
			height:11px;
			background-image:url({!URLFOR($Resource.SurveyResources2, 'img/analyze/bg_responsebar_complete.png')})
		}
		
		.questionDetail .questionDetailGraphs .rowGraph .spanRate {
			float: none;
			text-align:center;
			width:47px;
		}
		
		.toRight span{
			float: right;
			margin-top:4px;
		}

</style>
	
	<apex:composition template="TIMBASURVEYS__timbaSurveysTemplate">
    	<!-- customJs Imports & Script Tags -->
		<apex:define name="customJs"> 
			<script type="text/JavaScript" src="{!URLFOR($Resource.curvyCornersSrc)}"></script>
		    <script type="text/javascript" src="{!URLFOR($Resource.timbasurveys_dojo_build, 'dijit/dijit-ui.js')}"></script>
		    <script type="text/javascript" src="{!URLFOR($Resource.timbasurveys_dojo_build, 'dijit/dijit-form.js')}"></script>
		    <script type="text/javascript" src="{!URLFOR($Resource.timbasurveys_dojo_build, 'dojox/dojox-charting.js')}"></script>
		    <script type="text/javascript" src="{!URLFOR($Resource.timbasurveys_dojo_build, 'dojox/dojox-widgets.js')}"></script>
			<apex:include pageName="TIMBASURVEYS__entityEncodeJs" />
			<script>
		    	//<meta http-equiv="X-UA-Compatible" content="IE=7" />  
		    	meta = document.createElement('meta'); 
		    	meta.content = "IE=7"; 
		    	meta.httpEquiv = "X-UA-Compatible";
		    	document.getElementsByTagName('head').item(0).appendChild(meta); 
		    	
		    	// Charting things
		        //Current Selected recipient
		        
		        var RecipientId = '';
		        var currentSectionName = 'analyze';
		        
		        dojo.require("dijit.Tooltip");
		        
		        dojo.addOnLoad(function(){
		          // Charting Things 
		          var dc = dojox.charting;
		          
		          <apex:repeat value="{!SurveyAnalyzeItems}" var="parentSurveyItem">
		            
		            // PIE CHART CODE
		            /////////////////////////////////////////////////////////////////////////////////
		             
		             if({!parentSurveyItem.renderCharts})
		             {
						chartData = new Object();
		             chartData = [{!parentSurveyItem.PieSeries}];
		             if(dojo.isIE != null){
			             dojo.forEach(chartData,function(obj,index,array){
			             	obj.text = entity.decode(obj.text);
			             });
		             }
		             
		              var chart{!parentSurveyItem.Id} = new dc.Chart2D("{!parentSurveyItem.Id}");
		              
		              chart{!parentSurveyItem.Id}.setTheme(dc.themes.MiamiNice)
		                 .addPlot("default", {
		                    type: "Pie",
		                    font: "normal normal 9pt Tahoma",
		                    fontColor: "black",
		                    labelOffset: -10,
		                    radius: 60
		              }).addSeries("Series A",chartData);
		              
		              var anim_a = new dc.action2d.MoveSlice(chart{!parentSurveyItem.Id}, "default");
		              var anim_b = new dc.action2d.Highlight(chart{!parentSurveyItem.Id}, "default");
		              var anim_c = new dc.action2d.Tooltip(chart{!parentSurveyItem.Id}, "default");
		              chart{!parentSurveyItem.Id}.render();
		              
		              }
		            
		            
		            
		            <apex:repeat value="{!parentSurveyItem.ChildAnalyzeItems}" var="surveyItem">
		            // PIE CHART CODE
		            /////////////////////////////////////////////////////////////////////////////////
		            
		             if({!surveyItem.renderCharts})
		             {
						childchartData = new Object();
						childchartData = [{!surveyItem.PieSeries}];
						if(dojo.isIE != null){
		
							dojo.forEach(childchartData,function(obj,index,array){
								obj.text = entity.decode(obj.text);	
							});
						}
		
						var chart{!surveyItem.Id} = new dc.Chart2D("{!surveyItem.Id}");
						
						chart{!surveyItem.Id}.setTheme(dc.themes.MiamiNice)
							.addPlot("default", {
							type: "Pie",
		                    font: "normal normal 9pt Tahoma",
		                    fontColor: "black",
		                    labelOffset: -10,
		                    radius: 60
						}).addSeries("Series A", childchartData);
						
						var anim_a = new dc.action2d.MoveSlice(chart{!surveyItem.Id}, "default");
						var anim_b = new dc.action2d.Highlight(chart{!surveyItem.Id}, "default");
						var anim_c = new dc.action2d.Tooltip(chart{!surveyItem.Id}, "default");
						
						chart{!surveyItem.Id}.render();
					  }
		              </apex:repeat>
		          </apex:repeat>
		          
									
					// close all detailgraphs
					var elem = dojo.query('.questionDetailGraphs');
					for (var i = elem.length - 1; i >= 0; i--){
							elem[i].style.display = 'none';
					};
					
					elem = dojo.query('.disabled');
					for (var i = elem.length - 1; i >= 0; i--){
							elem[i].style.backgroundPosition = "left bottom";
							elem[i].href = '#';
					};
					
					dojo.query('.pageCon .next:not(.disabled)').onmouseover(function(e){
						dojo.addClass(this,'hover');
					});
					dojo.query('.pageCon .prev:not(.disabled)').onmouseover(function(e){
						dojo.addClass(this,'hover');
					});
					dojo.query('.pageCon .end:not(.disabled)').onmouseover(function(e){
						dojo.addClass(this,'hover');
					});
					dojo.query('.pageCon .begin:not(.disabled)').onmouseover(function(e){
						dojo.addClass(this,'hover');
					});
					
					dojo.query('.pageCon .next:not(.disabled)').onmouseout(function(e){
						dojo.removeClass(this,'hover');
					});
					dojo.query('.pageCon .prev:not(.disabled)').onmouseout(function(e){
						dojo.removeClass(this,'hover');
					});
					dojo.query('.pageCon .end:not(.disabled)').onmouseout(function(e){
						dojo.removeClass(this,'hover');
					});
					dojo.query('.pageCon .begin:not(.disabled)').onmouseout(function(e){
						dojo.removeClass(this,'hover');
					});
					
					
					dojo.query('.pageCon .count').onclick(function(e){
		              dojo.toggleClass(dojo.query('.selectList',this)[0],'displayBlock');
                    }); 
					
					var lista = dojo.query('.pageCon .count')[0];
					var inlis = '<ul class="selectList">';
					for (var i = 1; i <= {!TotalPageNumber}; i++){
							inlis += '<li><a href="{!$Page.SurveyAnalyze}?id={!CurrentSurvey.Id}&p='+i+'">'+i+'</a></li>';
					};
					inlis += '</ul>';
					lista.innerHTML += inlis;
					
					if(dojo.query('.questionDetail').length <= 2){
						expandAll();					
					}
					
													         
		        });
				
		    </script>
		        <!--  NEW DESIGN JAVASCRIPT -->
		    <script>
					dojo.require("dojo.NodeList-traverse");
					
					function expandAll(){
									
						var elems = dojo.query('.questionDetail > .questionDetailTextArea');
						for (var i = elems.length - 1; i >= 0; i--){
							elems[i].style.display = 'block';
						};
						
						elems = dojo.query('.questionDetail > .questionDetailGraphs');
						for (var i = elems.length - 1; i >= 0; i--){
							elems[i].style.display = 'block';
						};
						
						elems = dojo.query('.questionDetail > .questionDetailHeader > .toRight > .detailsChange');
						for (var i = elems.length - 1; i >= 0; i--){
							elems[i].innerHTML = 'Collapse -';
						};
					
					}
					
					function collapser(me){
									
						var elems = dojo.query('> .questionDetailTextArea', dojo.query(me).closest('.questionDetail')[0]);
						if (elems.length == 0){
							elems = dojo.query('> .questionDetailGraphs', dojo.query(me).closest('.questionDetail')[0]);
						}
						var elem;
						for (var i = elems.length - 1; i >= 0; i--){
							elem = elems[i];
										
							if(!elem.style.display){
								elem.style.display = 'block';
								me.innerHTML = 'Collapse -';					
							}else if (elem.style.display == 'block'){
								elem.style.display = 'none';
								me.innerHTML = 'Expand +';
							}else{
								elem.style.display = 'block';
								me.innerHTML = 'Collapse -';
							}
						};
					}
					
					function overRow(row, isin){
						if (isin) {
							row.bgColor = '#e7f5fb';
							
						}else{
							row.bgColor = '#ffffff';
						}
					}
		
					function overAll(botton, isin){
						if (isin) {
							botton.style.backgroundPosition="0px -25px";
						}else{
							botton.style.backgroundPosition="0px 0px";
						}
					}
					
					function detailShow(title, url){
						var a = dojo.byId('showAll');
						
						a.setAttribute('title',title);
						
						a = dojo.query('iframe' , a)[0];
						
						a.setAttribute('src',url);
						
						dijit.byId('showAll').show();
					}
					
				</script>		
			
			<!-- script of Analyzer Banner -->
			<script language="JavaScript" >
				function overButton(me, over){
					if(over){
						dojo.addClass(me,'corrector');
					}else{
						dojo.removeClass(me,'corrector');
					}							
				}
				
				function periodicResponseEraser(operation){  	
		        	var urlToPost = '{!$Page.SurveyOperation}?surveyList={!SurveyId}&op=periodicErase';
		        	dojo.xhrPost ({
		                  // The page that parses the POST request
		                  url: urlToPost, 
		                  // Loads this function if everything went ok
		                  load: function (data) {
		                        var response = dojo.fromJson(data);   
		                        if(response.recordsLeft){
		                        	periodicResponseEraser(operation);
		                        } else {
		                        	if(operation == 'clear'){
		                        		clearSurveyCallFinal();
		                        	}
		                        }
		                  },
		                  // Call this function if an error happened
		                  error: function (error) {
	                        	alert('Error found during response erase.');
								listOverlay.hide();
		                    }   
		           });
		        }
		        /* clearSurveyCall */
				function clearSurveyCall() {
				   if(confirm('Are you sure you want to delete ALL responses of this Survey?')){
					   listOverlay.show();				   
					   periodicResponseEraser('clear');
				   }            
				}
				
				function clearSurveyCallFinal(){
				  	dojo.xhrPost ({
						// The page that parses the POST request
						url: '{!$Page.SurveyOperation}?surveyId={!SurveyId}&op=clear',  
						// Loads this function if everything went ok
						load: function (data) {
							window.location = '{!$Page.SurveyCollect}?id={!SurveyId}';
							//listOverlay.hide();                
						},
						// Call this function if an error happened
						error: function (error) {
							console.info(error);
						    listOverlay.hide();
						}   
					});
				}
	
	
			</script>

	    </apex:define>

    	<apex:define name="breadCrumb">
    		<c:timbaSurveysBreadCrumb steps="Survey List:{!$Page.TIMBASURVEYS__SurveyList},{!CurrentSurvey.Name}"/>
	    </apex:define>

		<apex:define name="body">  

			
        <!-- ------------------------------------------- -->
        <!-- The list of Questions and the charts needed -->
        <!-- ------------------------------------------- -->        
        <div dojoType="dijit.layout.ContentPane" title="Analyze Items" id="analyze">

		<div class="tabSet">
			<a href="{!$Page.SurveyOverview}?id={!SurveyId}" class="tabElem">Overview</a>
			<a href="{!$Page.SurveyPreview}?id={!SurveyId}" class="tabElem">Design</a>
			<a href="{!$Page.SurveyCollect}?id={!SurveyId}" class="tabElem">Collect</a>
			<a href="#" onclick="return false;" class="tabElem imIn" >Analyze</a>
			<div class="marginInf"></div>
		</div>		
		
		<div class="banner">
			<div class="surveyStat">Survey Stats</div>
			<div class="browseBy">Browse by</div>
			<a href="#" class="questions selected" onmouseover="overButton(this, true);" onmouseout="overButton(this, false);">Questions</a>
			<a href="{!$Page.SurveyBrowser}?id={!SurveyId}" class="recipients" onmouseover="overButton(this, true);" onmouseout="overButton(this, false);">Recipients</a>

 			<button onclick="clearSurveyCall();" class="surveyButton cancel" style="float:right;margin-top: 4px;"><img src="{!URLFOR($Resource.SurveyResources2, 'img/shared/cancelicon.png')}" /><span>Delete Responses</span></button>
 			<button onclick="window.location='{!$Page.SurveyXlsReport}?id={!SurveyId}&p={!CurrentPageNumber}&isxls=true';" class="surveyButton" style="float:right;margin-top: 4px;"><img src="{!URLFOR($Resource.SurveyResources2, 'img/icons/xls.png')}" /><span>Excel Report</span></button>			
			<a href="javascript:expandAll();" class="expandAll">Expand all</a>
		</div>


<div class="masterContainer">
               
                <div class="questionList" style="overflow: hidden;">
		          	<span class="questionListTitle">Questions in page</span><span id="pageNum" class="questionListNum">{!CurrentPageNumber}</span>
		           	<ul>
			           	<apex:repeat value="{!SurveyAnalyzeItems}" var="surveyItem">
				            <li class="questionItem"><span class="questionListNumber">{!surveyItem.SurveyQuestion.RowPlacement}</span><a href="#{!surveyItem.Id}questionDetail" class="questionListName"><apex:outputText value="{!HTMLENCODE(surveyItem.Question)}" escape="false" /></a></li> 
			            </apex:repeat>
		            </ul> 
		      	</div>  
                
                <div class="questionDetailContainer" style="width: auto; float: none;overflow-x: hidden;padding-right: 53px;padding-left: 20px;  ">
                	<apex:repeat value="{!SurveyAnalyzeItems}" var="surveyItem">
                		<div class="questionDetail" id="{!surveyItem.Id}questionDetail" style="width: 100%;">
		                    <div class="questionDetailHeader" style="padding-right: 15px;">
								<div class="toLeft">
									<span class="questionDetailNumber">{!surveyItem.SurveyQuestion.RowPlacement}</span>
									<span class="questionDetailName" title="{!surveyItem.Question}"><apex:outputText value="{!IF(LEN(surveyItem.Question) > 50, HTMLENCODE(LEFT(surveyItem.Question,50) & '...'), HTMLENCODE(surveyItem.Question))}" escape="false" /></span>
								</div>
								<div class="toRight">
									<div class="detailsChange" onclick="collapser(this);">Expand +</div>
									<span class="questionDetailType">{!surveyItem.questionTypeName}</span>
								</div>
							</div>
							<apex:outputPanel rendered="{!!surveyItem.HasChild}" layout="none">
<!--------------------------- Response Grid  --------------------------------->								
								<apex:outputPanel layout="none" rendered="{!!surveyItem.renderCharts}">
									<div class="questionDetailTextArea" style="display: none;">
										<div class="detailHeader">
											<div class="colRecipient"><span>Recipient</span></div>
											<span class="colResponse">Responses</span>
										</div>
					
										<div class="detailData">
											<table border="0" cellspacing="0">
												<apex:repeat value="{!surveyItem.StringResponses}" var="sr" >
												 	<tr onmouseover="overRow(this, true);" onmouseout="overRow(this, false);">
														<td class="colRecipientCont" >
															<a href="../{!sr.SummaryId}?bkt_analyzer=true&p={!SurveyPageNumber}" title="View Summary"><apex:outputText value="{!IF(LEN(sr.Recipient) <= 0, 'Anonymous' , sr.Recipient)}" /></a>
														</td>
														<td class="colResponseCont">
															<apex:outputText value="{!sr.Response}" escape="false"/>
			                                               	<apex:outputText value="No Response" rendered="{!IF(LEN(sr.Response)  == 0 ,true,false)}" />
		                                               	</td>
													</tr>	 									
												</apex:repeat>
											</table>
										</div>
										
										<apex:outputPanel rendered="{!IF(surveyItem.has_more_string_responses, true, false)}" layout="none">
	                                    	<a class="seeAllResult" href="javascript:detailShow('{!HTMLENCODE(surveyItem.Question)}', '{!$Page.AnalyzerAdditionalResults}?sid={!CurrentSurvey.Id}&qid={!surveyItem.Id}&p={!SurveyPageNumber}');" onmouseover="overAll(this, true);" onmouseout="overAll(this, false);"></a>
	                                    </apex:outputPanel>
	                                    
										<!-- <div class="seeAllResult" onclick="javascript:dijit.byId('showAll').show();"  onmouseover="overAll(this, true);" onmouseout="overAll(this, false);"></div> -->
						
									</div>								
								</apex:outputPanel>
<!------------------------------- Barchart and Pie  ---------------------------------->							
								<apex:outputPanel layout="none" rendered="{!surveyItem.renderCharts}">
									<div class="questionDetailGraphs" >
										<div class="rowGraph">
											<table>
												<apex:repeat value="{!surveyItem.OptionsData}" var="od">
														
															<tr>
																<td style="text-align: right;">
																	<span class="spanNum" title="{!od.Option}" >{!IF(LEN(od.Option) > 40, LEFT(od.Option,40) & '...', od.Option)}</span>
																</td>
																<td>
																	<div class="totalBar">
																		<div class="porsentage" style="width:{!od.Percent};"></div>
																	</div>
																</td>
																<td>
																	<span class="spanRate">{!od.Percent}</span>
																</td>
															</tr>		
														
												</apex:repeat>
											</table>					
										</div>
										 
										<div class="cackeGraph" id="{!surveyItem.Id}" style="background-color: transparent;margin-left: 35px;" ></div>
									    
									                            
									</div>
								</apex:outputPanel>
							</apex:outputPanel>
<!------------------------- Start Multiple Child Question panel ---------------------->
							<apex:repeat value="{!surveyItem.ChildAnalyzeItems}" var="childSurveyItem" >
								<div class="questionDetailGraphs" style="height: auto; overflow: hidden;">
									
									<div class="subName">
										<span title="{!childSurveyItem.Question}">{!IF(LEN(childSurveyItem.Question) > 50, LEFT(childSurveyItem.Question,50) & '...', childSurveyItem.Question)}</span>
									</div>
									
									<apex:outputPanel layout="none" rendered="{!childSurveyItem.renderCharts}">
										<div class="rowGraph">
											<table>
												<apex:repeat value="{!childSurveyItem.OptionsData}" var="od">

															<tr>
																<td style="text-align: right;">
																	<span class="spanNum" title="{!od.Option}" >{!IF(LEN(od.Option) > 40, LEFT(od.Option,40) & '...', od.Option)}</span>
																</td>
																<td>
																	<div class="totalBar">
																		<div class="porsentage" style="width:{!od.Percent};"></div>
																	</div>
																</td>
																<td>
																	<span class="spanRate">{!od.Percent}</span>
																</td>
															</tr>		
														
												</apex:repeat>
											</table>						
										</div>
										
										<div class="cackeGraph" id="{!childSurveyItem.Id}" style="background-color: transparent;margin-left: 35px;" ></div>
									
									</apex:outputPanel>			
								</div>								
							</apex:repeat>
						</div>
                	</apex:repeat>
                </div>
              

          
	  			<div class="pageCon">
					<a href="{!$Page.SurveyAnalyze}?id={!CurrentSurvey.Id}&p=1" class="begin {!IF(!renderPrevPageBtn, 'disabled', '')}"></a>
					<a href="{!$Page.SurveyAnalyze}?id={!CurrentSurvey.Id}&p={!prevPageNumber}" class="prev {!IF(!renderPrevPageBtn, 'disabled', '')}"></a>
					<div class="count">{!CurrentPageNumber}/{!TotalPageNumber}<img src="{!URLFOR($Resource.SurveyResources2, 'img/surveylist/pagination_picklist.png')}" /></div>
					<a href="{!$Page.SurveyAnalyze}?id={!CurrentSurvey.Id}&p={!nextPageNumber}" class="next {!IF(!renderNextPageBtn, 'disabled', '')}"></a>
					<a href="{!$Page.SurveyAnalyze}?id={!CurrentSurvey.Id}&p={!TotalPageNumber}" class="end {!IF(!renderNextPageBtn, 'disabled', '')}"></a>
				</div>	


<!-- -------------------------------End of new design---------------------------------------------------------- --> 	  	
		  
        </div>
</div>
        
        <!-- dialog -->
	
		<div dojoType="dijit.Dialog" id="showAll" title="">
			<iframe frameborder="0" marginwidth="0" marginheight="0" src="" class="showAllDetail"></iframe>
		</div>
        
       <!-- END dialog --> 
       
       <div jsId="listOverlay" dojoType="dojox.widget.Standby" target="bodyTable" color="white"></div>  
       
		</apex:define>  
	</apex:composition>	
        
</apex:page>