<apex:page standardController="Case_Question__c" recordSetVar="questions"
extensions="CaseQuestionMassEditExtension" title="Case - Add Multiple Case Questions">
<apex:includeScript value="/support/console/29.0/integration.js"/>
<script type="text/javascript">      
    function setTabTitle() {
        sforce.console.setTabTitle('Case - Add Multiple Case Questions');
     }              
    var previousOnload = window.onload;        
    window.onload = function() { 
        if (previousOnload) { 
              previousOnload();
            }                
           setTimeout('setTabTitle()', '500'); 
    }
</script>
<apex:sectionHeader title="Case {!IF(parentCase==NULL,"",parentCase.CaseNumber)}" subtitle="Add Multiple Case Questions" />
<apex:pageMessages id="messages"/>
<apex:outputPanel id="all" rendered="{!parentCase!=NULL}">
    <apex:form id="massAdd" >
        <apex:pageBlock mode="edit">
            <apex:pageBlockButtons >
                  <apex:commandButton action="{!addNew}" value="Add New Lines" reRender="all"/>
                  <apex:commandButton action="{!save}" value="Save Questions"/>
                  <apex:commandButton action="{!reset}" value="Reset" reRender="all,messages"/>
                  <apex:commandButton action="{!cancel}" value="Cancel"/>
            </apex:pageBlockButtons>
            <apex:pageBlockTable value="{!questions}" var="question">
                <apex:column HeaderValue="Question Type"><apex:inputField value="{!question.Type__c}" /></apex:column>
                <apex:column HeaderValue="Question Sub Type"><apex:inputField value="{!question.Sub_Type__c}"/></apex:column>
                <apex:column HeaderValue="Question"><apex:inputField value="{!question.Question__c}"/></apex:column>
                <apex:column HeaderValue="Product"> 
                    <apex:selectList size="1" value="{!question.Product__c}">
                		<apex:selectOptions value="{!MJNProducts}"/>
                    </apex:selectList> 
                </apex:column>
                <apex:column HeaderValue="Remark"><apex:inputField value="{!question.Remark__c}"/></apex:column>
            </apex:pageBlockTable>  
        </apex:pageBlock>
    </apex:form>
</apex:outputPanel>
</apex:page>