<apex:page id="page"  showHeader="false" applyBodyTag="false" docType="html-5.0" standardStylesheets="false" controller="WechatOrderDetailController">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="generator" content=
        "HTML Tidy for Linux/x86 (vers 25 March 2009), see www.w3.org" />
        <meta http-equiv="Content-Type" content=
        "text/html; charset=utf-8" />
        <meta name="google" value="notranslate" />
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="google" value="notranslate" />
        <title>香港美贊臣 - 連續12年全港銷量第一</title>

        <link rel="stylesheet" href="{!URLFOR($Resource.Wechat_Dso,'salesforce_order/jquery-ui.css?v=1757')} " type="text/css" />
        <link href="{!URLFOR($Resource.Wechat_Dso,'global/style2.css')}" rel="stylesheet" type="text/css" />
       	<!--  <link href="{!URLFOR($Resource.Wechat_Dso,'style.css')}" rel="stylesheet" type="text/css" /> 
	    <link href="{!URLFOR($Resource.Wechat_Dso,'order.css')}" rel="stylesheet" type="text/css" /> -->
        <!--[if lte IE 8]>
        <link href="ie8.css" rel="stylesheet" />
        <![endif]-->
		<link rel="stylesheet" href="{!URLFOR($Resource.Wechat_Dso,'salesforce_order/jquery-ui.css')}"/>
        <script src="{!URLFOR($Resource.Wechat_Dso,'global/common.js')}" type="text/javascript"></script>
        <script src="{!URLFOR($Resource.Wechat_Dso,'js/jquery-1.10.1.min.js')}"></script>
		<script src="{!URLFOR($Resource.Wechat_Dso,'js/jquery-ui.js')}"></script>
		<script src="{!URLFOR($Resource.Wechat_Dso,'js/controller.js')}"></script>
		<style>
	        .product_cat:after{
				clear:both;
				display:table;
				content:' ';
			}
		 	label.error {
				color: #F00;
			}
			 .description {
				background: #fffbe5;
				border-radius: 5px;
				padding: 10px;
				margin-bottom: 10px;
				font-size: 18px;
				color: #0E478E;
			}
			.path {
				margin: 0px 0px 10px 0px;
				*margin-top: 10px;
			}
			 .path div {
				display: inline-block;
				*display: inline;
				color: #fff;
				font-size: 16px;
				padding: 10px 20px 10px 20px;
				margin-bottom: 10px;
				border-radius: 10px;
				text-shadow: -1px 0 #3AAFEE, 0 1px #3AAFEE, 1px 0 #3AAFEE, 0 -1px #3AAFEE;
				background: #3AAFEE linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
				background-color: #3AAFEE;
			}
			 .path div.active {
				*color: #000;
				background-color: #FFE24A;
				/* text-shadow: -1px 0 #DEA422, 0 1px #DEA422, 1px 0 #DEA422, 0 -1px #DEA422; */
				text-shadow: 0px 0 #20A85C, 0 0px #20A85C, 0 0 #20A85C, 0 0 #20A85C;
				color: #B85818;
			}
			 .path span {
				display: inline-block;
				*display: inline;
				color: #000;
				font-size: 16px;
				font-weight: bold;
				padding: 10px;
			}
			 .page {
				display: none;
			}
			.fields {
				width: 50%;
				float: left;
			}
			 .fieldRow {
				width: 100%;
			}
			 .title {
				clear: both;
				padding-top: 10px;
				margin-bottom: 10px;
				line-height: 30px;
				color: #3D82C5;
				font-size: 15px;
				font-weight: bold;
				background: url('{!URLFOR($Resource.Wechat_Dso,'images/tdline.gif')}') repeat-x bottom;
			}
			 .title span {
				float: right;
				text-align: right;
			}
			 > hr {
				clear: both;
			}
			 label {
				display: inline-block;
				width: 120px;
				font-size: 14px;
				text-align: right;
				color: #3D82C5;
			}
			 label.error {
				color: red;
			}
			 label.notice {
				width: auto;
				height: 30px;
			}
			 input[type="text"],  select {
				border: 1px #cacaca solid;
				border-radius: 5px;
				outline: none;
				padding: 2px;
			}
			 .fieldProduct {
				height: 109px;
				margin-top: 20px;
			}
			 .fieldProduct div {
				position: relative;
				width: 215px;
				margin: 0 auto;
				background-repeat: no-repeat;
				height: 94px;
				cursor: pointer;
			}
			 .fieldProduct div > span {
				position: absolute;
				top: 13px;
				left: 80px;
				font-weight: bold;
				font-size: 13px;
				color: #0E478E;
			}
			 .fieldProduct div > span.detail {
				top: 62px;
				font-size: 12px;
			}
			 .fieldProduct div > span.star {
				left: -9px;
				top: -9px;
				font-size: 30px;
			}
			 .fieldProduct > span {
				display: block;
				width: 215px;
				margin: 0 auto;
				text-align: center;
				font-weight: bold;
				color: #000;
			}
			 .fieldProduct > span font {
				color: #f00;
			}
			 .fieldProduct div:hover  span,  .fieldProduct div.active span {
				color: #DBA11C;
			}
			 .fieldProductOther {
				height: auto;
				margin-top: 30px;
			}
			 .fieldProductOther > label {
				float: left;
				width: auto;
				margin-right: 20px;
			}
			 .fieldProductOther > textarea {
				float: left;
				width: 350px;
				height: 50px;
				resize: none;
			}
			 .formBtnPanel {
				clear: both;
				padding-top: 10px;
				text-align: center;
			}
			 .formBtnPanel .button {
				border: 3px #BBD8F5 solid;
				background: #FFF;
				border-radius: 30px;
				padding: 2px 15px 4px 15px;
				margin: 0px 10px 0px 10px;
				color: #909090;
				cursor: pointer;
				width: 20%;
				height: 35px;
			}
			 ul {
				padding-left: 10px;
				padding-right: 40px;
			}
			 li {
				list-style: none;
				color: #3D82C5;
				margin-bottom: 5px;
			}
			-success {

			}
			-success .formBtnPanel .button {
				border: 3px #BBD8F5 solid;
				background: #FFF;
				border-radius: 30px;
				padding: 2px 15px 4px 15px;
				margin: 0px 10px 0px 10px;
				color: #909090;
				font-size: 13px;
				cursor: pointer;
			}
			-success -success-message {
				position: relative;
				width: 597px;
				height: 195px;
				margin: 0 auto 30px auto;
				background: url('{!URLFOR($Resource.Wechat_Dso,'images/popup2.png')}') no-repeat;
			}
			-success -success-message div {
				position: absolute;
				top: 0px;
				left: 120px;
				width: 430px;
				font-size: 18px;
				text-align: left;
				color: #3164A1;
			}
			-success -success-message div.otherProduct {
				top: 40px;
			}
			-success -close {
				display: block;
				position: absolute;
				left: auto !important;
				right: 7px !important;
				top: 7px !important;
				width: 40px !important;
				height: 40px !important;
				background-image: url('{!URLFOR($Resource.Wechat_Dso,'images/btn_close.png')}');
			}

			@media only screen and (max-device-width: 1023px) {
				#new_banner, #banner, .content_c p, .content_bottom, .nolink, .c_normal.footer {
					display: none !important;
				}
				#ouside_bar, #center, #centerbody_contact, .content_c, #orderForm-div {
					width: 100% !important;
				}
				#contact_body .content_body, #orderForm-div {
					margin: 0 !important;
				}
				 .fields {
					width: 100%;
					height: auto;
				}
				 .fieldProductOther > textarea {
					width: 100%;
					box-sizing: border-box;
				}
				 label {
					display: block;
					text-align: left;
				}
				 input[type="text"],  select {
					font-size: 150%;
					margin-bottom: 10px;
				}
				 input[type="text"],  select {
					width: 100%;
					box-sizing: border-box;
				}
				 .formBtnPanel {
					padding-bottom: 20px;
				}
				-success -success-message {
					width: 100%;
					box-sizing: border-box;
					background: none;
				}
				-success -success-message div {
					position: relative;
					top: 0px;
					left: 0px;
					padding: 20px;
					width: 100%;
					box-sizing: border-box;
				}
				-success -success-message div.otherProduct {
					top: 0px;
				}
				-success -close {
					background: none;
				}
			}
        	
        </style>
        <style>
        /* CSS Document */
		*html {
			background-image: url(about:blank);
			background-attachment: fixed;
		}
		.hidden {
			display: none;
		}
		#page-3 .fields{
		font-size: 17px;
		color: #3D82C5;	
		}
		#confirm_info:after{
			content: ' ';
			display:table;
			clear:both;
		}
		#centerbody_contact {
			position: relative;
			width: 744px;
			display: block;
			text-align: left;
		}
		
		#contact_body .content_c {
			width: 744px;
			text-align: left;
		}
		#content_left {
			float: left;
			display: block;
			width: 225px;
		}
		#content_right {
			float: right;
			text-align: left;
			display: block;
			width: 380px;
		}
		#content_right p {
			color: #565656;
			font-size: 14px;
			line-height: 180%
		}
		#layer1 {
			margin: 0 auto 0 auto;
			position: fixed !important;
			top: 0px;
			position: absolute;
			left: 0;
			width: 100%;
			height: 100%;
			line-height: 18px;
			text-align: center;
			background: #000000;
			filter: Alpha(Opacity=0.5);
			-moz-opacity: 0.5;
			opacity: 0.5; /* fixed for firefox  */
		}
		
		.pro_note {
			color: #2f76c7;
			font-weight: bold;
		}
		td.title {
			color: #6e6e6e;
			font-size: 12px;
			line-height: 40px;
		}
		.nolink {
			position: relative;
			height: 147px;
			display: block;
			width: 100%;
		}
		.hlink {
			position: absolute;
			left: 0px;
			z-index: 20
		}
		.contact_input {
			background: url(images/contacti.gif) no-repeat;
			height: 20px;
			width: 161px;
			display: block;
		}
		td.note {
			line-height: 20px;
			color: #ff5050;
		}
		html > body .body_bottom {
			width: 100%;
			display: block;
			height: 147px;
			background: url(images/bottom.png) no-repeat;
			text-align: center;
		}
		td.infotitle {
			color: #3d82c5;
			font-size: 15px;
			font-weight: bold;
			line-height: 30px;
			background: url(images/tdline.gif) no-repeat left bottom;
		}
		.regnote {
			font-size: 12px;
			font-weight: normal;
			color: #f30a0a;
		}
		.regnote2 {
			font-size: 12px;
			font-weight: normal;
		}
		
		tr.regtr {
			font-size: 15px;
			color: 3d82c5;
			font-weight: normal;
			line-height: 30px;
			vertical-align: middle;
			height: 30px;
		}
		.reg_input {
			background: url(images/reg_input.gif) no-repeat;
			height: 20px;
			width: 161px;
			display: block;
		}
		.reg_input2 {
			background: url(images/reg_input2.gif) no-repeat;
			height: 20px;
			width: 100px;
			display: block;
			float: left;
			margin-top: 5px;
			*margin-top: 0px;
		}
		.reg_input3 {
			background: url(images/reg_input3.gif) no-repeat;
			height: 20px;
			width: 412px;
			display: block;
		}
		.reg_add {
			display: block;
			float: left;
			width: 60px;
		}
		html > body #contact_body {
			background: url(images/bodybg.png) repeat-y;
			text-align: center;
			width: 100%
		}
		/*for ie 6.0*/
		select {
			color: #3d82c5;
		}
		*html .body_bottom {
			background: none;
			width: 100%;
			background-repeat: no-repeat;
			height: 147px;
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="images/bottom.png")
		}
		*html #contact_body {
			background: none;
			width: 100%;
			background-repeat: repeat-y;
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="images/bodybg.png")
		}
		input.myinput {
			height: 19px;
			width: 155px;
			border: 1px;
			vertical-align: middle;
			line-height: 20px;
			background: none;
			margin: auto;
			margin-left: 2px;
			margin-top: 1px;
			*margin-top: -3px;
		}
		input.myinput2 {
			height: 19px;
			width: 95px;
			border: 1px;
			vertical-align: middle;
			line-height: 20px;
			background: none;
			margin: auto;
			margin-left: 2px;
			margin-top: 1px;
			*margin-top: -3px;
		}
		input.myinput3 {
		}
		.select2 {
			width: 160px;
			text-align: center
		}
		.friend {
			font-size: 15px;
			color: #3d82c5
		}
		tr.friendtr {
			line-height: 27px;
			height: 27px;
		}
		
		.main-form {
			max-width: 100%;
			display: block;
		}
		
		.main-message {
			max-width: 100%;
			font-size: 16px;
			color: #3D82C5;
			display: none;
		}
		
		.main-content-wrapper {
			background: none repeat scroll 0 0 #FFFFFF;
			border: 2px solid #E1C991;
			border-radius: 10px;
			overflow: hidden;
			position: relative;
			z-index: 10;
			max-width: 680px;
			margin: 0 auto;
			padding: 10px 0;
		}
		#contact_body {
			background: none !important
		
		}
		
		 .fields {
			width: 50%;
			float: left;
		}
		.fields .fieldRow
		{
			height:30px;
		}
		 .fieldRow {
			width: 100%;
			height:60px;
		}
		 .milkRow label {
			width: 200px;
		}
		 .milkRow select {
			width: 240px;
		}
		 .title {
			clear: both;
			padding-top: 10px;
			margin-bottom: 10px;
			line-height: 30px;
			color: #3D82C5;
			font-size: 15px;
			font-weight: bold;
			background: url('img/tdline.gif') repeat-x bottom;
		}
		 .title span {
			float: right;
			text-align: right;
		}
		 > hr {
			clear: both;
		}
		 label {
			display: inline-block;
			width: 120px;
			font-size: 14px;
			text-align: right;
			color: #3D82C5;
		}
		 label.error {
			color: red;
		}
		 input[type="text"],  select {
			border: 1px #cacaca solid;
			border-radius: 5px;
			outline: none;
			padding: 2px;
		}
		 a.tab {
			display: inline-block;
			padding: 0px 10px 0px 10px;
			margin-bottom: 10px;
			line-height: 20px;
			font-size: 14px;
			text-decoration: none;
			outline: none;
			color: #3D82C5;
		}
		 a.tab:hover, a.tab.selected {
			background: #ebebee;
			border-radius: 5px;
			-webkit-transition: background-color 0.5s;
			-moz-transition: background-color 0.5s;
			-o-transition: background-color 0.5s;
			transition: background-color 0.5s;
		}
		 a.tab.hide {
			display: none;
		}
		 .childTab {
			display: none;
		}
		 .privacyTab {
			clear: both;
			padding-top: 10px;
		}
		 .privacyTab .fields {
			width: 20%;
		}
		 .privacyTab label {
			width: auto;
		}
		 .formBtnPanel {
			clear: both;
			padding-top: 10px;
			text-align: left;
		}
		 .formBtnPanel .button {
			border: 3px #BBD8F5 solid;
			background: #FFF;
			border-radius: 30px;
			padding: 2px 15px 4px 15px;
			margin: 0px 10px 0px 10px;
			color: #909090;
			cursor: pointer;
		}
		
		#new_banner {
			margin-left: -5px;
		}
		p {
			color: #3D82C5;
			font-size: 15px;
		}
		
		.visible-mobile {
			display: none;
		}
		.hidden-mobile {
			display: block;
		}

	@media only screen and (max-device-width: 1023px) {
		.visible-mobile {
			display: block;
		}
		.hidden-mobile {
			display: none;
		}
		#mobile_banner {
			width: 100%;
		}
		#new_banner, #banner, #regform-div-title, .content_c p, .content_bottom, .nolink, .c_normal.footer {
			display: none !important;
		}
	
		#ouside_bar, #center, #centerbody_contact, .content_c, #regform-div {
			width: 100% !important;
		}
		#contact_body .content_body, #regform-div {
			margin: 0 !important;
		}
		#regform-div {
			/* background: #F0F8FF; */
		}
		 {
			padding: 0px 10px 0px 10px;
			font-size: 150%;
		}
		 .fields,  .privacyTab .fields {
			width: 100%;
			height: auto;
		}
		 label {
			display: block;
			text-align: left;
		}
		 .privacyTab label {
			display: inline-block;
			margin-bottom: 15px;
		}
		 input[type="text"],  select {
			font-size: 150%;
			margin-bottom: 10px;
		}
		 input[type="text"] {
			width: 100%;
			box-sizing: border-box;
		}
		 .fieldDoc {
			display: block;
		}
		 .privacyTab {
			padding-bottom: 10px;
		}
		 .formBtnPanel {
			padding-bottom: 20px;
		}
		.test1
		{
			color:red;
		}
	}
	.changeColumn{font-size: 17px;FONT-FAMILY: "arial",新細明體,MingLiu;}
        </style>
        <script>
        	function sub()
        	{
        		var bun = document.getElementById("page:salesforce:btn");
        		bun.style.display = 'none';
        	}
        </script>
    </head>
    <body>
        <div id="mainbg">
            <div class="hexa-main">
                <div class="hexa-footer">
                    <div style=" padding: 20px; text-align: center;">
                        <a href=
                        'http://www.meadjohnson.com.hk/'>
                        <apex:image value="{!$Resource.WechatLogo}" />	
                        </a>
                    </div>
                    <div class="main-content-wrapper">
                        <div id="centerbody_contact">
                            <div id="content_contact">
                                <div id="contact_body">
                                    <div class="content_c">
                                        <div class="content_body" style="">
                                            <div id="regform-div" style="width: 350px; text-align:left; margin-left: 20px">
                                            		<apex:messages style="color:red;height:250px;font-size:18px;" />
                                                    <apex:form id="salesforce" rendered="{!isSuccessShow}">
                                                    <div id="page-3"  style="display: block;">
                                                       <div id="confirm_info">
                                                       		<div class="fields fieldRow">
	                                                       		<b>
	                                                       		<span style="color:red;">*請確認訂單後按“提交”以完成訂購</span>
	                                                       		</b>
                                                       		</div><br/><br/>
                                                       		<div class="fields fieldRow" style="margin-bottom:5px;"><Span style="display:block;float:left;color:#3D82C5;">訂購產品：</span>
                                                       			<Span style="width:180px;display:block;float:left;height:20px;"><apex:outputText value="{!productName}"/> &nbsp;<apex:outputText value="{!sku}"/></Span>
                                                       			<div style="clear:both;"></div>
                                                       		</div><br/><br/>
                                                       		<div class="fields fieldRow">英文姓氏：	
                                                       			<Span><apex:outputText value="{!lastName}"/></Span>
                                                       		</div><br/><br/>
                                                       		<div class="fields fieldRow">英文名字：
                                                       			<Span><apex:outputText value="{!firstName}"/></Span>
                                                       		</div><br/><br/>
                                                       		<div class="fields fieldRow">送貨電話：
                                                       			<apex:outputField value="{!acc.Mobile_Phone__c}"/>
                                                       		</div><br/><br/>
                                                       		<div class="fields fieldRow">單位：
                                                       			<apex:outputField value="{!acc.Address_Flat__c}"/>
                                                       		</div><br/><br/>
                                                       		<div class="fields fieldRow">樓層：
                                                       			<apex:outputField value="{!acc.Address_Floor__c}"/>
                                                       		</div><br/><br/>
                                                       		<div class="fields fieldRow">座數：
                                                       			<apex:outputField value="{!acc.Address_Block__c}"/>
                                                       		</div><br/><br/>
                                                       		<div class="fields fieldRow">大廈名稱：
                                                       			<apex:outputField value="{!acc.Address_Building__c}"/>
                                                       		</div><br/><br/>
                                                       		<div class="fields fieldRow">街道：
                                                       			<apex:outputField value="{!acc.Address_Street__c}"/>
                                                       		</div><br/><br/>
                                                       		<div class="fields fieldRow">城市：
                                                       			<apex:outputField value="{!acc.Region__c}"/>
                                                       		</div><br/><br/>
                                                       		<div class="fields fieldRow">地域：
                                                       			<apex:outputField value="{!acc.Address_Territory__c}"/>
                                                       		</div><br/><br/>
                                                       		<div class="fields fieldRow">地區：
                                                       			<apex:outputField value="{!acc.Address_District__c}"/>
                                                       		</div><br/><br/>
                                                       		<div class="fields fieldRow">總額：
                                                       			<Span> HK$<apex:outputText value="{!price}"/>X<apex:outputText value="{!num}"/>=HK$<apex:outputText value="{!sum}"/></Span> 
                                                       		</div><br/><br/>
                                                       		<div class="fields fieldRow">送貨日期：
                                                       			<apex:outputField value="{!o.Expected_Delivery_Date__c}"/>
                                                       		</div>
                                                       	</div>
                                                       
                                                         <div class="formBtnPanel">
                                                           	<apex:commandButton styleClass="backBtn button" action="{!OrderDetail}" value="上一步"/>                                                       
                                                           	<apex:commandButton id="btn" onclick="sub()" styleClass="submitBtn button" value="提交" action="{!CreateOrder}" />
                                                        </div>
                                                        <div style="width:100%;height:40px;">
                                                        </div>
                                                     </div>
                                                   
                                                </apex:form>
                                            </div>
                                        </div>
                                    </div>
                                    <div style=" clear:both;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style='display:none'>
                <div id="dialog-confirm" title="">
                    <p style='text-align: left;'>
                        重要聲明
                        <br/>
                        母乳是較佳的選擇。如果選擇以奶粉餵哺，請向醫生查詢最適合您嬰兒的奶粉。
                    </p>
                </div>
                <div id="dialog-notselected" title="">
                    <p style='text-align: left;'>
                        請先選擇訂購貨品。
                    </p>
                </div>
                <div id="dialog-preview" title="">
                    <p style='text-align: left;'>

                    </p>
                </div>
            </div>
        </div>
    </body>
</html>

</apex:page>