<apex:page id="pt" showHeader="false" applyBodyTag="false">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>加入美贊臣媽媽會</title>
<link rel="stylesheet"  type="text/css" href="{!URLFOR($Resource.WechatRegister,'/styles/style.css')}" media="all"/>
<script type="text/javascript" src="{!URLFOR($Resource.WechatRegister,'/js/jquery-1.10.2.min.js')}"></script>

<script type="text/javascript">
    function getQueryString(name) 
    {
         var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
         var r = window.location.search.substr(1).match(reg);
         if (r != null) return unescape(r[2]); return null;
    }

    function sendRedirect()
    {
        var openId = getQueryString('openId');
        var Phone = getQueryString('Phone');
        var Env = getQueryString('Env');
        var baseUrl = '';
        if(Env == 'SandBox')
        {
            baseUrl = '/WechatMemberRegisterPage';
        }
        if(Env == 'Production')
        {
            baseUrl = '/hkwechat/WechatMemberRegisterPage';
        }
        window.location = baseUrl + '?openId=' + openId + '&Phone=' + Phone;
    }
</script>
<style>
body {
    width:100%;
    height:643px;
} 
</style>
</head>

<body>
    <div id="main">
        <!--content-->
        <div id="content">
            <h1>立即申請成為美贊臣會員</h1>
        </div>
        <div style="font-size:16px;">
            &nbsp;&nbsp;&nbsp;&nbsp;想日後透過「專家聊天室」與專家即時對話了解嬰幼兒知識及透過微信購買美贊臣產品? 立即申請成為「美贊臣會」會員! 成功入會後更可獲贈豐富迎新禮品，尊享會員優惠。
        </div>
        <div style="width:100px;margin:10px auto;">
            <button name="立即申請" value="立即申請" type="button" onclick="sendRedirect();" style="width:100px; height:30px;font-size:18px">立即申請</Button>
        </div>
    </div>
</body>
</html>
</apex:page>