<apex:page standardController="China_Strategy_NA__c" extensions="ChinaSuperNAFunction" tabStyle="China_Strategy_NA__c">
	<apex:pageMessages escape="false"/>
	<apex:form >
		<!-- 线索分发相关字段选项 -->
		<apex:pageBlock mode="edit"> 
			<apex:pageBlockButtons >
				<apex:commandButton value="{!$Label.Save}" action="{!save}"/>
				<apex:commandButton value="{!$Label.Cancel}" action="{!cancel}"/>
			</apex:pageBlockButtons>
			<apex:pageBlockSection title="请选择一个客户" columns="1">
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.China_Strategy_NA__c.Fields.NA_Child__c.Label}"/>
					<apex:inputField value="{!superNA.NA_Child__c}" required="true"/>
				</apex:pageBlockSectionItem>
			</apex:pageBlockSection>
		</apex:pageBlock>
		
	</apex:form>
</apex:page>