<apex:page standardController="SFP_Product__c" recordSetVar="unused" sidebar="false">

<!-- for this page to work with a specific custom object, change standController="entityname" to custom object api name  
    For example, if custom object name is Warehouse__c, change first part of the first line to standardController="warehouse__c" -->

    
<apex:includeScript value="{!$Resource.UtilJS}" />
<apex:form >
<apex:pageBlock >
<apex:pageMessages />
<apex:pageBlock >
Note: All modifications made on the page will be lost if Return button is clicked without clicking the Save button first. 
</apex:pageBlock>
<apex:pageBlockButtons >
<apex:commandButton value="Save" action="{!save}"/>
<apex:commandButton value="Return" action="{!cancel}"/>
</apex:pageBlockButtons>
<apex:pageBlockTable value="{!selected}" var="a" id="table">
<apex:column headerValue="Survey S/N">
<apex:inputField value="{!a.name}"/>
</apex:column>
<apex:column headerValue="SFP">
<apex:inputField value="{!a.SFP__c}"/>
</apex:column>
<apex:column headerValue="Product Name">
<apex:inputField value="{!a.Contract_Product_PO__c}"/>
</apex:column>
<apex:column headerValue="Quantity">
<apex:inputField value="{!a.Quantity__c}"/>
</apex:column>
</apex:pageBlockTable>
</apex:pageBlock>
</apex:form>
</apex:page>