<apex:page standardController="Account_Link_Request__c" recordSetVar="accountlinkrequests" extensions="MassApproveAccountLinkRequestExtension" >
    <apex:includeScript value="{!$Resource.jquery}"/>
    <apex:form id="form">
        <apex:sectionHeader title="{!$Label.VF_Easy_MassApproveAccountLinkRequest_Title}"/>
        <apex:pageBlock title="{!IF(displayRequestsInfo,requestsInfo,null)}" mode="edit" id="pageBlock">
            <apex:pageMessages />
            <apex:pageBlockTable value="{!selectedAccountLinkRequests}" var="alr" id="table">
                <apex:column headerValue="{!$ObjectType.Account_Link_Request__c.Fields.Name.Label}">
                    <apex:outputLink value="/{!URLFOR(alr.accountLinkRequest.Id)}">{!alr.accountLinkRequest.Name}</apex:outputLink>
                </apex:column>
                <apex:column headerValue="{!$ObjectType.Account_Link_Request__c.Fields.OwnerId.Label}">
                    <apex:outputField value="{!alr.accountLinkRequest.OwnerId}"/>
                </apex:column>
                <apex:column headerValue="{!$ObjectType.Account_Link_Request__c.Fields.child__c.Label}">
                    <apex:outputField value="{!alr.accountLinkRequest.child__c}"/>
                </apex:column>
                <apex:column headerValue="{!$ObjectType.Account_Link_Request__c.Fields.parent__c.Label}">
                    <apex:outputField value="{!alr.accountLinkRequest.parent__c}"/>
                </apex:column>
                <apex:column headerValue="{!$ObjectType.Account_Link_Request__c.Fields.Account_Link_Reason__c.Label}">
                    <apex:outputField value="{!alr.accountLinkRequest.Account_Link_Reason__c}"/>
                </apex:column>
                <apex:column headerValue="{!$ObjectType.Account_Link_Request__c.Fields.Approve_Status__c.Label}">
                    <apex:outputField value="{!alr.accountLinkRequest.Approve_Status__c}"/>
                </apex:column>
                <apex:column headerValue="{!$Label.VF_Easy_MassApproveAccountLinkRequest_Comment}">
                    <apex:inputTextArea value="{!alr.comment}" html-placeholder="{!$Label.VF_Easy_MassApproveAccountLinkRequest_Click_to_add}" rendered="{!alr.isPending}"/>
                </apex:column>
                <apex:column headerValue="{!$Label.VF_Easy_MassApproveAccountLinkRequest_Action}">
                    <apex:selectList value="{!alr.operation}" multiselect="false" size="1" rendered="{!alr.isPending}">
                        <apex:selectOptions value="{!operationOptions}"/>
                    </apex:selectList>
                </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockButtons location="bottom" id="buttons" >
                <apex:commandButton value="{!$Label.VF_Easy_Button_Submit}" action="{!submit}" id="processButton" rendered="{!displayProcessButtons}" onclick="return confirm('{!$Label.VF_Easy_MassApproveAccountLinkRequest_Message_Submit_Confirm}');"/>
                <apex:commandButton value="{!$Label.VF_Easy_Button_Return}" action="{!cancel}" id="cancelButton"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
    <script>
            var j$ = jQuery.noConflict();
            j$(document).ready(function(){
                
                //对于没有NC数据的Table显示为空
                j$(".customerScrollBar>table").find("tbody").each(function(){ initTable(j$(this));});
                j$(".pbBody").css('margin','0').css('border','0');
                j$(".pbBody table").css('border','0');
                j$(".pbBody table").css('border-top','1px');
                j$(".pbBottomButtons").css('margin-top','0');
                j$(".pbBottomButtons .pbTitle").remove();
                j$(".pbBottomButtons .pbButtonb").css('text-align','center');
                var pbTitle = j$(".pbTitle");
                j$(".pbHeader table tr").remove();
                j$(".pbHeader table").append(pbTitle);
            });
            
            function initTable(table) {
                if(""==table.html()) {
                    var html = "<tr class=\"dataRow even first last\" "+
                      "onmouseover=\"if (window.hiOn){hiOn(this);} \" "+
                      "onmouseout=\"if (window.hiOff){hiOff(this);} \" "+
                      "onblur=\"if (window.hiOff){hiOff(this);}\" "+
                      "onfocus=\"if (window.hiOn){hiOn(this);}\"> "+
                    "<td class=\"dataCell\" style=\"color:gray;\" colspan=\"4\"> "+
                    "<label>{!$Label.VF_Easy_No_Records_To_Display}</label></td></tr>";
                    table.html(html);
                }
            }
            
        </script>
</apex:page>