<apex:page controller="RedirectUpdateCase" action="{!init}">
  <!-- Begin Default Content REMOVE THIS -->
  
  <apex:pageMessages escape="false"/>
  <script language="javascript">
  <apex:outputText value="{!IF(haveError, '', 'window.location.href=\"/'+id+'\";')}" />
  //window.location.href="/{!id}\n";
  </script>

  <!-- End Default Content REMOVE THIS -->
</apex:page>