<apex:page showHeader="false" standardController="Quote__c">
    <apex:includeScript value="{!$Resource.Excel}"/>
    <script type="text/javascript">
        var __sfdcSessionId = '{!GETSESSIONID()}';
        var quoteId = "{!Quote__c.Id}";
        var projectId;
    </script>
    <script src="../../soap/ajax/19.0/connection.js" type="text/javascript" />
    <script type="text/javascript">
    var C_COL_NAME_PROJECT_MILESTONE_NO = "Project Milestone No.";
	var C_COL_NAME_PROJECT_MILESTONE_NAME = "Project Milestone Name";
    var C_COL_NAME_PROJECT_MILESTONE_DATE = "Project Milestone Date";
	var C_COL_NAME_GROUP = "Group";
	var C_COL_NAME_SUB_GROUP = "Sub Group";
	var C_COL_NAME_SUB_SUB_GROUP = "Sub-sub Group";
	var C_COL_NAME_DELIVERABLE_NO = "Deliverable No.";
	var C_COL_NAME_DELIVERABLE_NAME = "Deliverable Name";
	var C_COL_NAME_TOTAL_MAN_DAYS = "Total Unit Quantity";
	var C_COL_NAME_MAN_DAY_UNIT_PRICE = "Unit Price";
	var C_COL_ROW_INDEX = 1;
	var C_COL_START_INDEX = 1;
	var C_COL_END_INDEX = 11;
	var C_COL_SHEET_INDEX = 1;
	var projectMLStoneList;
    var deliverableList;
    var rowCount = 0;
    var mStoneCount = 0;
    var delverCount = 0;
    var mStoneSuccessfulCount = 0;
    var delverSuccessfulCount =0;
	var webserviceLimit = 200;
	var milestoneIndex = 0;
	var deliverableIndex = 0;
    function window.onload()
    {
    	try 
    	{
    		if(quoteId != null && quoteId != "")
    		{
				var queryResult = sforce.connection.query("Select Id, Name From Project__c Where Quote__c = '" + quoteId + "'");
				var size = queryResult.size
				if (size <= 0)
				{
					logLine("Init failed, cannot find any project for this quote:" + quoteId);
				}
				else if(size == 1)
				{
					var records = queryResult.getArray('records');
					projectId = records[0].Id;
				}
				else if(size > 1)
				{
					logLine("Init failed, found more than one project for this quote:" + quoteId + ", system do not kown which project can be link");
				}
			}		
		} 		
		catch(error) 
		{
			logLine("Init failed, " + error);
		}
    }
    function upload()
    {
    	var fUpload = document.getElementById("fUpload");
    	if(fUpload.value == null || fUpload.value == "")
    	{
    		alert("Please specify a file path for upload!");
    		return;
    	}
    	if(quoteId == null || quoteId == "")
    	{
    		alert("Require quote id");
    		return;
    	}
    	if(projectId == null || projectId == "")
    	{
    		alert("Require project id");
    		return;
    	}
    	showMessage("");
    	logClear();
        startWaitingState();
        rowCount = 0;
        mStoneCount = 0;
	    delverCount = 0;
	    mStoneSuccessfulCount = 0;
	    delverSuccessfulCount =0;
       	projectMLStoneList = new Array();
    	deliverableList = new Array();
        var excelApp;
        var workBook; 
		try
		{
			showMessage("Converting Excel...");
			excelApp = InitExcelApp();
			workBook = openExcelFile(fUpload.value, excelApp);
			var sheetObj = getSelectedSheetByIndex(workBook, C_COL_SHEET_INDEX);
			var arrCols = getColumnName(sheetObj, C_COL_ROW_INDEX, C_COL_START_INDEX, C_COL_END_INDEX);
			converToSObject(sheetObj);
			//workBook.Close(savechanges=true);
		}
		catch(error)
		{
			showMessage("Error occurred during convert excel, please view detail log");
			logLine("Error occurred during convert excel:" + error);
			endWaitingState();
			return;
		}
		finally
		{
			if(workBook != null)
			{
				workBook.Close(savechanges=false);
			}
			if(excelApp != null)
			{
     			excelApp.Quit(); 
			}
		}
		upsertMilestion();
    }

	//upsert Milestone
	function upsertMilestion()
	{
		var CurrMLStoneList = new Array();
		var MaxLength = projectMLStoneList.length;
		if(MaxLength > milestoneIndex + webserviceLimit - 1)
		{
			MaxLength = milestoneIndex + webserviceLimit - 1;
		}

		for(var i = milestoneIndex; i < MaxLength; i++)
		{
			milestoneIndex ++ ;
			CurrMLStoneList.push(projectMLStoneList[i]);
		}

		var callback = {onSuccess: processMLStoneResults, onFailure: processMLStoneFailed};
		showMessage("Uploading Project Milestone...");
		sforce.connection.upsert("Project_Milestone_No__c", CurrMLStoneList, callback);
	}

	//upsert Deliverable
	function upsertDeliverable(){
		var CurrDeliverableList = new Array();
		var MaxLength = deliverableList.length;
		if(MaxLength > deliverableIndex + webserviceLimit - 1)
		{
			MaxLength = deliverableIndex + webserviceLimit - 1;
		}

		for(var i = deliverableIndex; i < MaxLength; i++)
		{
			deliverableIndex ++ ;
			CurrDeliverableList.push(deliverableList[i]);
		}
		var callback = {onSuccess: processDelverResults, onFailure: processDelverFailed};
		showMessage("Uploading Deliverable...");
		sforce.connection.upsert("Deliverable_No__c", CurrDeliverableList, callback);
	}

    //Your brain has two parts:the left & the right.Your left brain has nothing right, and your right brain has nothing left.
    function processMLStoneResults(result)
    {
    	showMessage("");
    	for(var i = 0; i < result.length; i++)
    	{
	    	if (result[i].getBoolean("success")) 
	    	{
	    		mStoneSuccessfulCount ++;
	    		if(result[i].getBoolean("created"))
	    		{
	    			logLine("Successful to upload Project Milestone with id:" + result[i].id + ", upsert action: created new one");
	    		}
	    		else
	    		{
					logLine("Successful to upload Project Milestone with id:" + result[i].id + ", upsert action: updated old one");
				}
			} 
			else 
			{
				logLine("Failed to upload Project Milestone:" + result[i]);
			}
		}
		if(milestoneIndex < projectMLStoneList.length)
		{
			upsertMilestion();
		}
		else
		{
			upsertDeliverable();
		}
    }
    function processMLStoneFailed(error)
    {
    	
    	showMessage("Error occurred on upload Project Milestone, please view detail log");
		logLine("Error occurred on upload Project Milestone:" + error);
		endWaitingState();
    }
    function processDelverResults(result)
    {
    	showMessage("");
    	for(var i = 0; i < result.length; i++)
    	{
	    	if (result[i].getBoolean("success")) 
	    	{
	    		delverSuccessfulCount ++;
	    		if(result[i].getBoolean("created"))
	    		{
	    			logLine("Successful to upload Deliverable with id:" + result[i].id + ", upsert action: created new one");
	    		}
	    		else
	    		{
	    			logLine("Successful to upload Deliverable with id:" + result[i].id + ", upsert action: update old one");
				}
			} 
			else 
			{
				logLine("Failed to upload Deliverable:" + result[i]);
			}
		}


		if(deliverableIndex < deliverableList.length)
		{
			upsertDeliverable();
		}
		else
		{
			var failedMs = mStoneCount - mStoneSuccessfulCount;
			var failedDelver = delverCount - delverSuccessfulCount;
			showMessage("Upload complete, totel Deliverable:" + delverCount + ", failed Deliverable:" + failedDelver);
			endWaitingState();
		}
    }
    function processDelverFailed(error)
    {
    	showMessage("Error occurred on upload Deliverable, please view detail log");
    	logLine("Error occurred on upload Deliverable:" + error);
    	endWaitingState();
    }
    
    function converToSObject(sheetObj)// conver date from excel form to SF oject form
    { 
	 	var rowIndex = C_COL_ROW_INDEX + 1;
	    var rowValues = getValuesByRow(sheetObj, rowIndex, C_COL_START_INDEX, C_COL_END_INDEX);
	    while (!isNullRow(rowValues))
	    {
	    	var PROJECT_MILESTONE_NO_INDEX = colsNamesPair.GetValue(C_COL_NAME_PROJECT_MILESTONE_NO);
	    	if(PROJECT_MILESTONE_NO_INDEX == null)
	    	{
	    		 throw "Invalid template, require column:" + C_COL_NAME_PROJECT_MILESTONE_NO;
	    	}
	    	var PROJECT_MILESTONE_NAME_INDEX = colsNamesPair.GetValue(C_COL_NAME_PROJECT_MILESTONE_NAME);
	    	if(PROJECT_MILESTONE_NAME_INDEX == null)
	    	{
	    		 throw "Invalid template, Require column:" + C_COL_NAME_PROJECT_MILESTONE_NAME;
	    	}
	    	var PROJECT_MILESTONE_DATE_INDEX = colsNamesPair.GetValue(C_COL_NAME_PROJECT_MILESTONE_DATE);
	    	if(PROJECT_MILESTONE_DATE_INDEX == null)
	    	{
	    		 throw "Invalid template, Require column:" + C_COL_NAME_PROJECT_MILESTONE_DATE;
	    	}
	    	var GROUP_INDEX = colsNamesPair.GetValue(C_COL_NAME_GROUP);
	    	if(GROUP_INDEX == null)
	    	{
	    		 throw "Invalid template, Require column:" + C_COL_NAME_GROUP;
	    	}
	    	var SUB_GROUP_INDEX = colsNamesPair.GetValue(C_COL_NAME_SUB_GROUP);
	    	if(SUB_GROUP_INDEX == null)
	    	{
	    		 throw "Invalid template, Require column:" + C_COL_NAME_SUB_GROUP;
	    	}
	    	var SUB_SUB_GROUP_INDEX = colsNamesPair.GetValue(C_COL_NAME_SUB_SUB_GROUP);
	    	if(SUB_SUB_GROUP_INDEX == null)
	    	{
	    		 throw "Invalid template, Require column:" + C_COL_NAME_SUB_SUB_GROUP;
	    	}
	    	var DELIVERABLE_NO_INDEX = colsNamesPair.GetValue(C_COL_NAME_DELIVERABLE_NO);
	    	if(DELIVERABLE_NO_INDEX == null)
	    	{
	    		 throw "Invalid template, Require column:" + C_COL_NAME_DELIVERABLE_NO;
	    	}
	    	var DELIVERABLE_NAME_INDEX = colsNamesPair.GetValue(C_COL_NAME_DELIVERABLE_NAME);
	    	if(DELIVERABLE_NAME_INDEX == null)
	    	{
	    		 throw "Invalid template, Require column:" + C_COL_NAME_DELIVERABLE_NAME;
	    	}
	    	var TOTAL_MAN_DAYS_INDEX = colsNamesPair.GetValue(C_COL_NAME_TOTAL_MAN_DAYS);
	    	if(TOTAL_MAN_DAYS_INDEX == null)
	    	{
	    		 throw "Invalid template, Require column:" + C_COL_NAME_TOTAL_MAN_DAYS;
	    	}
	    	var MAN_DAY_UNIT_PRICE_INDEX = colsNamesPair.GetValue(C_COL_NAME_MAN_DAY_UNIT_PRICE);
	    	if(MAN_DAY_UNIT_PRICE_INDEX == null)
	    	{
	    		 throw "Invalid template, Require column:" + C_COL_NAME_MAN_DAY_UNIT_PRICE;
	    	}
	    	
	    	var projectMLStone;
	    	var pmlsNoValue = rowValues[PROJECT_MILESTONE_NO_INDEX - 1];
	    	if(pmlsNoValue != null && pmlsNoValue != "")
	    	{
		    	projectMLStone = new sforce.SObject("Project_Milestone__c");
		    	projectMLStone.Project_Milestone_No__c = rowValues[PROJECT_MILESTONE_NO_INDEX - 1];
		    	projectMLStone.Name = rowValues[PROJECT_MILESTONE_NAME_INDEX - 1];
		    	projectMLStone.Date__c = new Date(rowValues[PROJECT_MILESTONE_DATE_INDEX - 1]);
		    	projectMLStone.Quote__c = quoteId;
		    	addToMLStoneList(projectMLStone);
	    	}
	    	
            var delver = new sforce.SObject("Deliverable__c");
            delver.Group__c = rowValues[GROUP_INDEX - 1];
            delver.Sub_Group__c = rowValues[SUB_GROUP_INDEX - 1];
            delver.Sub_Sub_Group__c = rowValues[SUB_SUB_GROUP_INDEX - 1];
            delver.Deliverable_No__c = rowValues[DELIVERABLE_NO_INDEX - 1];
            delver.Name = rowValues[DELIVERABLE_NAME_INDEX - 1];
            delver.Total_Man_Days__c = rowValues[TOTAL_MAN_DAYS_INDEX - 1];
            delver.Man_Day_Unit_Price__c = rowValues[MAN_DAY_UNIT_PRICE_INDEX - 1];
            if(projectMLStone != null)
            {
	            delver.Project_Milestone__r = new sforce.SObject("Project_Milestone__c");
	            delver.Project_Milestone__r.Project_Milestone_No__c = projectMLStone.Project_Milestone_No__c;//exteranl id
	            delver.Project_Milestone_No__c = projectMLStone.Project_Milestone_No__c;
           	}
            delver.Quote__c = quoteId;
            delver.Project__c = projectId;
            deliverableList.push(delver);
	        rowCount ++;
	        rowIndex ++;
	        rowValues = getValuesByRow(sheetObj, rowIndex, C_COL_START_INDEX, C_COL_END_INDEX);
	    }
	    mStoneCount = projectMLStoneList.length;
	    delverCount = rowCount;
	    function addToMLStoneList(projectMLStone)
	    {
	    	var isHas = false;
	    	for(var i = 0; i < projectMLStoneList.length; i++)
	    	{
	    		if(projectMLStoneList[i].Project_Milestone_No__c == projectMLStone.Project_Milestone_No__c)
	    		{
	    			isHas = true;
	    			break
	    		}
	    	}
	    	if(!isHas)
	    	{
	    		projectMLStoneList.push(projectMLStone);
	    	}
	    }
    }
    
    
    function startWaitingState()
    {
        var fUpload = document.getElementById("fUpload");
        var btUpload= document.getElementById("btUpload");
        var divLoading = document.getElementById("divLoading");
        fUpload.disabled = true;
        btUpload.disabled = true;
        divLoading.style.display="";
    }
    function endWaitingState()
    {
        var fUpload = document.getElementById("fUpload");
        var btUpload= document.getElementById("btUpload");
        var divLoading = document.getElementById("divLoading");
        fUpload.disabled = false;
        btUpload.disabled = false;
        divLoading.style.display="none";
    }
    var divMessage;
	function showMessage(message)
	{
		if(divMessage == null)
		{
			divMessage = document.getElementById("divMessage");
		}
    	if(divMessage != null)
    	{
    		divMessage.innerHTML = message;
    	}
	}
	var divLog;
	function logLine(logText)
	{
		if(divLog == null)
		{
			divLog = document.getElementById("divLog");
		}
    	if(divLog != null)
    	{
    		divLog.innerHTML = divLog.innerHTML + "</br>" + logText;
    	}
	}
	function logClear()
	{
		if(divLog == null)
		{
			divLog = document.getElementById("divLog");
		}
    	if(divLog != null)
    	{
    		divLog.innerHTML = "";
    	}
	}
    
    </script>
    
    <apex:form > 
        <table>
        <tr>
	        <td>
		        <input type="file" id="fUpload" style="width: 330px;" />  
		        <input type="button" id="btUpload" value="Upload" onclick="upload()"/>
	        </td>
	        <td>
		        <div id="divLoading" style="display:none">
		            <apex:image url="{!$Resource.Loading}"  id="imgLoading" height="20" width="20" />
		        </div> 
	        </td>
	        <td>
		        <div id="divMessage">
		        </div>
	        </td>
        </tr>
        </table>
        <div id="divLog"> 	
        </div>
    </apex:form>
</apex:page>