<apex:page standardcontroller="V2_Lead_Team__c" extensions="V2_DeleteLeadTeam_Con">
	<apex:sectionHeader title="潜在客户小组成员" subtitle="删除潜在客户小组成员"/>
	<apex:form >
		<apex:pageBlock >
		<apex:pageMessage severity="error" strength="2" summary="{!strMessage}" rendered="{!blnIsMesShow}"/>
		<apex:pageMessage severity="warning" strength="2" summary="{!strMessage}" rendered="{!blnMeg}"/>
		<apex:pageblockButtons location="bottom">
			<apex:commandButton value="删除" action="{!delRecord}" rendered="{!blnMeg}"/>
			<apex:commandButton value="返回" action="{!saveChange}"/>
		</apex:pageblockButtons>
		</apex:pageBlock>
	</apex:form>
</apex:page>