<apex:page standardController="EmailInfo__c" extensions="EmailInfoShareController">
	<apex:form rendered="{!hasNoPermission}">
		<apex:pageBlock >
		对不起，您的权限不足。
			<apex:commandButton action="{!cancel}" value="返回"></apex:commandButton>
		</apex:pageBlock>
	</apex:form>
	<apex:form rendered="{!hasPermission}">
		<apex:pageBlock title="用户和用户组共享" >
			<apex:pageMessages />
			<apex:pageBlockTable value="{!eispList}" var="eisp" id="eisp" > 
			   	<apex:column headerValue="选中" width="10px">
			   		<apex:inputcheckbox value="{!eisp.isCheck}" />
			   	</apex:column>
				<apex:column headerValue="名称">
					<apex:outputText value="{!eisp.name}"></apex:outputText>
				</apex:column>
				<apex:column headerValue="访问权限级别">
					<apex:outputText value="{!eisp.accessLevel}"></apex:outputText>
				</apex:column>
				<apex:column headerValue="原因">
					<apex:outputText value="{!eisp.rowCause}"></apex:outputText>
				</apex:column>
			</apex:pageBlockTable>
			<apex:pageBlockButtons >
				<apex:commandButton action="{!deleteShare}" value="删除共享"></apex:commandButton>
				<apex:commandButton action="{!cancel}" value="取消"></apex:commandButton>
			</apex:pageBlockButtons>
		</apex:pageBlock>
	</apex:form>
	<apex:form rendered="{!hasPermission}">
		<apex:pageBlock title="添加共享用户" >
			<apex:pageBlockTable value="{!upList}" var="up" id="up">
				<apex:column headerValue="选中" width="10px">
					<apex:inputcheckbox value="{!up.isCheck}" />
				</apex:column>
				<apex:column headerValue="用户">
					<apex:outputText value="{!up.user.Name}" ></apex:outputText>
				</apex:column>
			</apex:pageBlockTable>
			<apex:pageBlockButtons >
				<apex:commandButton action="{!addShare}" value="共享"></apex:commandButton>
				<apex:commandButton action="{!cancel}" value="取消"></apex:commandButton>
			</apex:pageBlockButtons>
		</apex:pageBlock>
	</apex:form>
</apex:page>