<apex:page standardController="Opportunity" extensions="Ctrl_InProjectExt" id="ipage">
<script>
function SetSelectedLineNum(line){
    document.getElementById("ipage:iform:iblock:ihidden").value=line;
}
function checkPower(){
    var CanNew = '{!blnCanNew}';
    if(CanNew == 'false' || CanNew == false){
        alert('您没有权限。');
        if(document.all){
            window.event.returnValue = false;
        }else if(e && e.preventDefault){
            e.preventDefault();
        }
        return false;
    }
}
</script>
<apex:form id="iform">
<apex:pageBlock id="iblock">
<apex:inputHidden id="ihidden" value="{!SelectedIndex}"/>
<apex:commandButton action="{!addLine}" value="＋" onclick="if(!checkPower())return"/>
<apex:pageMessages />
<apex:pageBlockTable value="{!list_InProWra}" var="ipw">
<apex:column headerValue="操作">
<apex:outputPanel rendered="{!ipw.IsShowBtn}">
<apex:commandButton action="{!saveLine}" value="保存" rendered="{!ipw.IsEditing}" onclick="SetSelectedLineNum({!ipw.intIndex})"/>
<apex:commandButton action="{!cancelEdit}" value="取消" rendered="{!ipw.IsEditing}" onclick="SetSelectedLineNum({!ipw.intIndex})"/>
<apex:commandButton action="{!editLine}" value="编辑" rendered="{!ipw.IsReadOnly}" onclick="SetSelectedLineNum({!ipw.intIndex})"/>
<apex:commandButton action="{!deleteLine}" value="删除" rendered="{!ipw.IsReadOnly}" onclick="SetSelectedLineNum({!ipw.intIndex})"/>
</apex:outputPanel>
<apex:outputPanel rendered="{!if(ipw.IsShowBtn==false,true,false)}">
<apex:outputLabel value="项目总费用" style="font-weight: bold"/>
</apex:outputPanel>
</apex:column> 
<apex:column headerValue="{!$ObjectType.InProject_Expense__c.fields.Project_Expense__c.label}">
<apex:outputPanel rendered="{!ipw.IsShowBtn}">
<apex:inputField value="{!ipw.InPro.Project_Expense__c}" rendered="{!ipw.IsEditing}" />
<apex:outputText value="{!ipw.InPro.Project_Expense__c}" rendered="{!ipw.IsReadOnly}"/>
</apex:outputPanel>
<apex:outputPanel rendered="{!if(ipw.IsShowBtn==false,true,false)}">
<apex:outputText value="{!ipw.InPro.Project_Expense__c}" rendered="{!ipw.IsReadOnly}" style="font-weight: bold"/>
</apex:outputPanel>
</apex:column>
<apex:column headerValue="{!$ObjectType.InProject_Expense__c.fields.Product_Remark__c.label}">
<apex:inputField value="{!ipw.InPro.Product_Remark__c}" rendered="{!ipw.IsEditing}"/>
<apex:outputField value="{!ipw.InPro.Product_Remark__c}" rendered="{!ipw.IsReadOnly}"/>
</apex:column>
<apex:column headerValue="提交人">
<apex:inputField value="{!ipw.InPro.Owner.Alias}" rendered="{!ipw.IsEditing}"/>
<apex:outputField value="{!ipw.InPro.Owner.Alias}" rendered="{!ipw.IsReadOnly}"/>
</apex:column>
<apex:column headerValue="提交时间">
<apex:outputField value="{!ipw.InPro.CreatedDate}" />
</apex:column>
</apex:pageBlockTable>
</apex:pageBlock>
</apex:form>
</apex:page>