<apex:page standardController="Campaign" extensions="MarketActity_PatientSurvival" showHeader="false">
    <style type="text/css">
    
    .PageTable1{border-collapse:collapse;border-spacing:0;border-left:1px solid #E0E3E5;border-top:1px solid #E0E3E5;background:#ffffff;width: 100%;}
    .PageTable1 th{border-right:1px solid #E0E3E5;border-bottom:1px solid #E0E3E5;padding:4px 5px;}
    .PageTable1 td{border-right:1px solid #E0E3E5;border-bottom:1px solid #E0E3E5;padding:3px 5px;text-align:center;vertical-align:middle;}
    .PageTable1 th{background:#F2F3F3;font-size:11px;}
    
    </style>
    <script language="JavaScript">
       function DownLoad(){
          window.open("/apex/MarketActity_PatientSurvival_Download?campaignId="+'{!campaignId}'+"&StartYear="+'{!StartYear}'+"&StartMonth="+'{!StartMonth}'+"&EndYear="+'{!EndYear}'+"&EndMonth="+'{!EndMonth}');
       }
       function copyToClipBoard(){
         window.clipboardData.setData("text",document.getElementById("report").outerHTML);
         alert("复制成功，请粘贴到EXCEL表格");
       }
       if ( top.location.href == window.location.href && window.location.href.indexOf("no_full_screen") == -1 )
       {
          self.moveTo(-4,-4);
          self.resizeTo((screen.availWidth+8),(screen.availHeight+8));
       }
    </script>
	<apex:form id="myform">
		<apex:pageblock >
		<table align="left" cellpadding ="5" border="0">
				<tr>
					<td Style="font-family: 微软雅黑;font-size: 15px;">
						<apex:selectList size="1" value="{!StartYear}" >
	         				<apex:selectOptions value="{!ListYears}"/>
	         			</apex:selectList>年
					</td>
					<td Style="font-family: 微软雅黑;font-size: 15px;">
						<apex:selectList size="1"  value="{!StartMonth}" >
	         				<apex:selectOptions value="{!ListMonths}"/>
						</apex:selectList>月
					</td>
					<td Style="font-family: 微软雅黑;font-size: 15px;">至</td>
					<td Style="font-family: 微软雅黑;font-size: 15px;">
						<apex:selectList size="1" value="{!EndYear}" >
	         				<apex:selectOptions value="{!ListYears}"/>
	         			</apex:selectList>年
					</td>
					<td Style="font-family: 微软雅黑;font-size: 15px;">
						<apex:selectList size="1"  value="{!EndMonth}" >
	         				<apex:selectOptions value="{!ListMonths}"/>
						</apex:selectList>月
					</td>
					<td>
						<apex:commandButton value="查询" action="{!SelectResult}"/>
					</td>
					<td>
						<input class="btn" type="submit" value='复制内容' onclick="copyToClipBoard();"/>
					</td>
					<td><apex:pageMessage summary="导出报表步骤  1.点击“复制内容”按钮 2.新建一个Excel文件 3.粘贴" severity="confirm" strength="3"/>
                     <apex:pageMessages /></td>	
                     				   <td>
					<apex:pageMessage summary="开始月份大于结束月份！" severity="warning" strength="3" rendered="{!pageMessage}"/>
                     <apex:pageMessages />
                   </td>
				</tr>
			</table>
						<br/>
			<table Id="report"  class="PageTable1">
                <tr>
                    <th align="left" colspan = "{!tableCols}">市场活动相关医院存活病人数报表-- For Renal</th>
                </tr>
                <tr>
                    <th colspan = "2">市场活动</th>
                    <th align="left" colspan = "{!tableCols-2}"><apex:outputText value="{!accountName}"/></th>
                </tr>
               <apex:outputPanel id="thePanel" rendered="{!output}">
                <tr>
                    <td width="5%">客户</td>
                    <td width="5%">病人关爱数据所有人</td>
                    <td></td>
                    <apex:repeat value="{!strings}" var="string" id="theRepeat">
                          <td><apex:outputText value="{!string}" id="theValue"/></td>
                    </apex:repeat>
                </tr>
                 <apex:repeat value="{!List_MarketActivityFields}" var="field">
                <tr>
                   <td rowspan="3"><apex:outputText value="{!field.AccountName}"/></td>
                   <td rowspan="3"><apex:outputText value="{!field.NewOwner}"/></td>
                   <td>Surviving Target</td>
                   <apex:repeat value="{!field.SurvivingTargets}" var="this">
                     <td><apex:outputText value="{!this}"/></td>
                   </apex:repeat>
                </tr>
                <tr>
                   <td>Surviving This Year</td>
                   <apex:repeat value="{!field.SurvivingThisYears}" var="tar">
                     <td><apex:outputText value="{!tar}"/></td>
                   </apex:repeat>
                </tr>
                <tr>
                   <td>达成率</td>
                   <apex:repeat value="{!field.list_CompletionRates}" var="list">
                     <td><apex:outputText value="{!list}"/></td>
                   </apex:repeat>
                </tr>
                 </apex:repeat>
               </apex:outputPanel>
            </table>
		</apex:pageblock>
	</apex:form>
</apex:page>