<apex:page controller="Ctrl_OppEvaluation">
<script type="text/javascript">
function openNew(){
    window.open('/apex/OpportunityStrategyCommentLevelTwo');
}
function openNew2(){
    window.open('/apex/OppEvaluationSearch', 'newwindow', 'height=400, width=800, top=100, left=100, toolbar=no, menubar=no, scrollbars=yes,resizable=yes,location=yes, status=no');
}
</script>
<apex:form >
<apex:sectionHeader title="业务机会策略评估：主页" />


<apex:pageBlock title="业务机会策略评估" >
<apex:pageBlockButtons location="top">
<input type="button" class="btn" value="新建" onclick="openNew();"/>
<input type="button" class="btn" value="查询" onclick="openNew2();" style="display: {!if(isAdmin,'','none')}"/>
<apex:outputLabel value="年:    " for="year" style="font-weight:bold;"/>
<apex:selectList value="{!strSelectYear}" size="1" id="year" onchange="changeyear();" >
    <apex:selectOptions value="{!Years}"/>
</apex:selectList>
<apex:actionFunction action="{!buildTable}" name="changeyear" reRender="pt" status="butStatus"/>
<apex:actionStatus startText="运行中..."
            stopText="" id="butStatus"/>
</apex:pageBlockButtons>

<apex:pageBlockTable value="{!listLine}" var="line" id="pt">
<apex:column headerValue="年">
<apex:outputText value="{!line.strYear}"/>
</apex:column>
<apex:column headerValue="月">
<apex:outputText value="{!line.strMonth}"/>
</apex:column>
<apex:column headerValue="详细信息">
<apex:outputLink value="{!line.strUrl}">{!line.strUrlName}</apex:outputLink>
</apex:column>
</apex:pageBlockTable>


</apex:pageBlock>
</apex:form>
</apex:page>