<apex:page standardController="PatientApply__c" showHeader="false" extensions="PM_OpenNewPatientsTableController" >
<script>
function openDetail()
{
    window.open("/a1hO0000000irOG");
}
</script>
<apex:form >
<apex:pageBlock title="重复病人列表信息：">
<table border="0" cellspacing="0" cellpadding="0" id="VapLists" class="list" style="margin-top:5px;">
<tr style="background: #537BD3;border: 1px solid #868781">
<th style="color:#FFFFFD;border: 1px solid #868781;">重复类型</th>
<th style="color:#FFFFFD;border: 1px solid #868781;">姓名</th>
<th style="color:#FFFFFD;border: 1px solid #868781;">电话</th>
<th style="color:#FFFFFD;border: 1px solid #868781;">地址</th>
<th style="color:#FFFFFD;border: 1px solid #868781;">插管医院</th>
<th style="color:#FFFFFD;border: 1px solid #868781;">状态</th>
</tr>
<apex:repeat value="{!list_repeat}" var="tb">
	<tr style="background:#FFFFFD;">
		<td style="border: 1px solid #868781;">{!tb.repeattype}</td>
		<td style="border: 1px solid #868781;"><apex:outputLink target="_blank" value="/{!tb.pat.Id}" >{!tb.pat.Name}</apex:outputLink></td>
		<td style="border: 1px solid #868781;">{!tb.tel}</td>
		<td style="border: 1px solid #868781;">{!tb.pat.PM_Address__c}</td>
		<td style="border: 1px solid #868781;">{!tb.pat.PM_InHospital__r.name}</td>
		<td style="border: 1px solid #868781;">{!tb.pat.PM_Status__c}</td>
	</tr>
</apex:repeat>
</table>
</apex:pageBlock>
</apex:form>
</apex:page>