<apex:page controller="PM_PatientVisitPerodController">
<apex:form id="f">
<apex:pageBlock title="病人拜访周期设置" id="pb">
<apex:pageMessages id="pageMessage"/>
    <apex:pageBlockButtons >
        <apex:commandButton value="保存" action="{!save}"/>
        <input type="button" value="关闭" onclick="window.close();" class="btn"/>
    </apex:pageBlockButtons>
    <div>1.在拜访列表页面上，如果病人的创建时间(New病人)或上次成功拜访时间(Active、APD病人)到当天日期大于病人提醒周期1（单位：天），则用1个闹钟显示在病人姓名的前面</div>
	<div>2.在拜访列表页面上，如果病人的创建时间(New病人)或上次成功拜访时间(Active、APD病人)到当天日期大于病人提醒周期2（单位：天），则用2个闹钟显示在病人姓名的前面</div>
	<div>3.如果病人的上次成功拜访时间到当天日期大于病人拜访周期（单位：天），则将该病人记录置为未拜访</div>
    <apex:pageBlockSection columns="3">
        <apex:pageBlockSectionItem >
            <apex:outputLabel value="NEW病人提醒周期1"/>
            <apex:inputText value="{!NewPatientCallCycle1}"/>
        </apex:pageBlockSectionItem> 
        <apex:pageBlockSectionItem >
            <apex:outputLabel value="NEW病人提醒周期2"/>
             <apex:inputText value="{!NewPatientCallCycle2}"/>
        </apex:pageBlockSectionItem> 
         <apex:pageBlockSectionItem >
         </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
            <apex:outputLabel value="Active病人提醒周期1"/>
             <apex:inputText value="{!ActivePatientCallCycle1}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
            <apex:outputLabel value="Active病人提醒周期2"/>
             <apex:inputText value="{!ActivePatientCallCycle2}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
            <apex:outputLabel value="Active病人拜访周期"/>
             <apex:inputText value="{!ActivePatientVisitCycle}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
            <apex:outputLabel value="APD病人提醒周期1"/>
            <apex:inputText value="{!APDPatientCallCycle1}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
            <apex:outputLabel value="APD病人提醒周期2"/>
             <apex:inputText value="{!APDPatientCallCycle2}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
            <apex:outputLabel value="APD病人拜访周期"/>
             <apex:inputText value="{!APDPatientVisitCycle}"/>
        </apex:pageBlockSectionItem>
    </apex:pageBlockSection>
</apex:pageBlock>
</apex:form>
</apex:page>