<apex:page controller="PM_PSRMonthPlanSummarizeController" sidebar="false" showHeader="false">
<apex:sectionHeader subtitle="拜访月计划汇总"/>
	<apex:form id="myform">
	 <apex:pageMessages />
        <apex:pageblock rendered="{!IsView}">
			<!-- <div align="center" style="font-family: 微软雅黑; font-size: 16px;">拜访月计划汇总</div> -->
            <hr size= "0" color="#99CC33"  ></hr>
            <table align="center" cellpadding ="5" border="0">
                <tr>
                    <td Style="font-family: 微软雅黑;font-size: 15px; float:right;">
                       		年份:
                        <apex:selectList size="1" value="{!Year}" >
                            <apex:selectOptions value="{!ListYears}"/>
                        </apex:selectList>
                    </td>
                    <td Style="font-family: 微软雅黑;font-size: 15px;">
                        	月份：
                        <apex:selectList size="1"  value="{!Month}" >
                                <apex:selectOptions value="{!ListMonths}"/>
                        </apex:selectList>
                    </td>
                    <td></td>
                    <td><apex:commandButton value="开始汇总"  Style="float:left;" action="{!BeginComputationBonus}" disabled="{!ButtonDisabled}"/></td>
                </tr>
            </table>
        </apex:pageblock>
    </apex:form>
</apex:page>