<apex:page showHeader="false" Controller="PM_PatinetExportController" contentType="application/vnd.ms-excel#Patient{!ExcelTime}.xls">
<script type="text/javascript">
<!-- 导出excel去掉默认的星期 -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
function R()
{ 
   document.getElementById("datePicker").remove();
   document.getElementById("calBody").remove();
   document.getElementById("buttonBar").remove();
} 
</script> 
<body  onload="R();">
<table class="list" border="1" cellspacing="0" cellpadding="0" width="100%">
   <tr>
        <apex:repeat value="{!list_ExportField}" var="f">
            <td>{!f.fieldLabel}</td>
        </apex:repeat>
   </tr>
   <apex:repeat value="{!list_PatientExcellist}" var="itemList">
    <apex:repeat value="{!itemList}" var="item">
    <tr>
         <apex:repeat value="{!list_ExportField}" var="f">
             <td>{!item[f.apiName.fieldPath]}</td>
         </apex:repeat>
    </tr>
    </apex:repeat>  
   </apex:repeat> 
</table>
</body>
</apex:page>