<apex:page standardController="PM_Patient__c" extensions="PM_QueryPatientDevController"  id="pt">
<!-- 病人查询 --> 

<apex:includeScript value="{!URLFOR($Resource.jquery)}" />
<apex:includeScript value="{!URLFOR($Resource.jquery_bgiframe1)}" />
<apex:includeScript value="{!URLFOR($Resource.multiselect)}" />
<apex:stylesheet value="{!URLFOR($Resource.multiselectcss)}"  />

<apex:includeScript value="/soap/ajax/27.0/connection.js"/>
<apex:includeScript value="/soap/ajax/27.0/apex.js"/> 

<style type="text/css"> 
.contexts
{
width:20px;
}
.values
{
width:100px;
}
.lblfont{ color:#4a4a56 !important;white-space: nowrap;font-size: 91%;font-weight: bold;}
</style>
<script type="text/javascript">
var isFirst = "true";
    function ShowRoom(obj){
        var objValue = "";
        var objdiv1 = document.getElementById('div1');
        var objdiv2 = document.getElementById('checkArea');
        if(obj != 'undefined' && obj != null)
        {
            objValue = obj.value;
        }
        if(objValue == '显示更多查询条件')
        {
            objdiv1.style.display = 'block';
            objdiv2.value = "隐藏更多查询条件";
            if(isFirst =="true")
            {
                twistDiv('img_pt','BasicInformation');
                twistDiv('img_pt','ContactInformation');
                twistDiv('img_pt','IntubateInformation');
                twistDiv('img_pt','ClinicalInformation');
                twistDiv('img_pt','CaringInformation');
                twistDiv('img_pt','HighriskInformationDeath');
                twistDiv('img_pt','HighImpactInformationDeath');
                twistDiv('img_pt','TreatmentInformation');
                twistDiv('img_pt','DealersInformation');
                twistDiv('img_pt','DropoutInformation');
                isFirst ="false";
            }
        }
        else
        {
            objdiv1.style.display = 'none';
            objdiv2.value = "显示更多查询条件";
        }
   }   
$(document).ready(function(){
var AreaAllList;
var ProvinceAllList;
var PM_ProvinceAllList;
var CityAllList;
 $("#BigArea,#Province,#City,#County,#PatientProvince,#PatientCity,#PatientCounty,#SonArea,#InHospital,#TeDistributors,#TeDistributorsCounty,#TeDistributorsProvince,#TeDistributorsCity,#BestVisitTime").multiSelect({ noneSelected: '', oneOrMoreSelected:'*' });
 $("#BigArea,#Province,#City,#County,#PatientProvince,#PatientCity,#PatientCounty,#SonArea,#InHospital,#TeDistributors,#TeDistributorsCounty,#TeDistributorsProvince,#TeDistributorsCity,#BestVisitTime").width(80);
 $("#BigArea,#Province,#City,#County,#PatientProvince,#PatientCity,#PatientCounty,#SonArea,#InHospital,#TeDistributors,#TeDistributorsCounty,#TeDistributorsProvince,#TeDistributorsCity,#BestVisitTime").height(16);

LoadArea();
})

function goToDetail(item)
{
  window.open("/apex/PM_PatientVisitDetail?id="+item);
}
function goToNormDetail(item)
{
    window.open("/"+item);
}
function onchange1(obj)
{ 
    if(obj.id=="pt:f:bl:bs:sect2:secItem:ps:0")
    {
       var list = document.getElementsByName("pt:f:bl:bs:sect2:secItem:ps");
       for (var i = 0; i < list.length; i++)
       {
          document.getElementById(list[i].id).checked = obj.checked;
       } 
    }
}
function ChangeSelect()
{
//document.getElementById("content").text;
}
function LoadArea()
{
   //绑定大区
    sforce.connection.sessionId = '{!$Api.Session_ID}';
    var sqlstr="select Name from Region__c   Order By Name ";
    var stateBigArea = { 
        tabId: "BigArea"
    };
    var callbackBigArea = {
        onSuccess: loaderResults,
        onFailure: queryFailed,
        source: stateBigArea
    };
    sforce.connection.query(sqlstr,callbackBigArea);
    //绑定省份
    var sqlstr1="select Name,Region__r.Name from Provinces__c Order By Name ";
    var stateProvince = { 
        tabId: "Province"
    };
    var callbackProvince = {
        onSuccess: loaderResults,
        onFailure: queryFailed,
        source: stateProvince
    };
    sforce.connection.query(sqlstr1,callbackProvince);
    //绑定业务省份
    var sqlstr1="select Name,PM_Region__r.Name from PM_Province__c Order By Name ";
    var stateProvince = { 
        tabId: "PM_Province"
    };
    var callbackProvince = {
        onSuccess: loaderResults,
        onFailure: queryFailed,
        source: stateProvince
    };
    sforce.connection.query(sqlstr1,callbackProvince);
    //绑定城市
    var sqlstr2="select Name,PM_Province__r.Name,PM_Province__r.PM_Region__r.Name,BelongToProvince__r.Name,BelongToProvince__r.Region__r.Name from Cities__c Order By Name";
    var stateCity = { 
        tabId: "City"
    };
    var callbackCity = {
        onSuccess: loaderResults,
        onFailure: queryFailed,
        source: stateCity
    };
    sforce.connection.query(sqlstr2,callbackCity);
}
//失败
function queryFailed(error, source) {alert('联动失败，原因：'+error);}
//成功
function layoutResults(queryResult, source) 
{
    var records = queryResult.getArray('records');
    $("#"+source.tabId).empty();
    for (var i=0; i< records.length; i++) 
    {
    	if(source.tabId == 'InHospital'&&records[i].PMMNib__r==null)
    	{
    		continue;
    	}
        $("#"+source.tabId).append('<option value="'+records[i].Name+'">'+records[i].Name+'</option>');
    }
    $("#"+source.tabId).multiSelect({noneSelected: '', oneOrMoreSelected:'*'});
    $("#"+source.tabId).width(80);
    $("#"+source.tabId).height(16);
    if(source.tabId == 'InHospital')
    {
    	document.getElementById("pt:f:bl:messageIcon").style.display = "none";
    }
	if(source.tabId == 'TeDistributors')
    {
    	document.getElementById("pt:f:bl:messageIcon2").style.display = "none";
    }
    if(source.tabId=="PatientCounty")
    {
    	document.getElementById("pt:f:bl:messageIcon3").style.display = "none";
    }
    if(source.tabId=="County")
    {
    	document.getElementById("pt:f:bl:messageIcon4").style.display = "none";
    }
    if(source.tabId=="TeDistributorsCounty")
    {
    	document.getElementById("pt:f:bl:messageIcon5").style.display = "none";
    }
}
//loader task
function loaderResults(queryResult, source) 
{
    if(source.tabId=="BigArea")
    {
        AreaAllList = queryResult.getArray('records');
        pickListFill('BigArea',AreaAllList);
    }
    else if(source.tabId == "Province")
    {
        ProvinceAllList = queryResult.getArray('records');
        pickListFill('PatientProvince',ProvinceAllList);
        pickListFill('TeDistributorsProvince',ProvinceAllList);
    }
    else if(source.tabId == "PM_Province")
    {
        PM_ProvinceAllList = queryResult.getArray('records');
        pickListFill('Province',PM_ProvinceAllList);
    }
    else if(source.tabId == "City")
    {
        CityAllList = queryResult.getArray('records');
        pickListFill('City',CityAllList);
        pickListFill('PatientCity',CityAllList);
        pickListFill('TeDistributorsCity',CityAllList);
    }
}
//多选列表填充方法
function pickListFill(tabId,sObList)
{
    $("#"+tabId).empty();
    for (var i=0; i< sObList.length; i++) 
    {
        $("#"+tabId).append('<option value="'+sObList[i].Name+'">'+sObList[i].Name+'</option>');
    }
    $("#"+tabId).multiSelect({noneSelected: '', oneOrMoreSelected:'*'});
    $("#"+tabId).width(80);
    $("#"+tabId).height(16);
}
//通过选中的大区，查询选中大区的省份
function ChangeAreaAsy(tabId)
{
    var provincePickList = new Array();
    var cityPickList = new Array();
    var countyPickList = new Array();
    //大区条件
    var area;
    if ( document.all && "object" == typeof( window.external ) )//IE浏览器
    {  
        area=document.getElementById("BigArea").innerText;
    }
    else//其他浏览器
    {
        area=document.getElementById("BigArea").text;
    }
    if(area == null || area == '')
    {
        if(tabId != "Province")
        {
            pickListFill('Province',PM_ProvinceAllList);
        }
        if(tabId != "City")
        {
            pickListFill('City',CityAllList);
        }
        return;
    }
    //省份
    if(tabId != "Province")
    {
        for(var i=0;i<PM_ProvinceAllList.length;i++)
        {
           if(PM_ProvinceAllList[i].PM_Region__r == null || area.indexOf(PM_ProvinceAllList[i].PM_Region__r.Name) == -1)
           {
                continue;
           }
           provincePickList.push(PM_ProvinceAllList[i]);
        }
        
        pickListFill("Province",provincePickList);
    }
     //城市
    if(tabId != "City")
    {
        for(var i=0;i<CityAllList.length;i++)
        {
           if(CityAllList[i].PM_Province__r.PM_Region__r == null ||area.indexOf(CityAllList[i].PM_Province__r.PM_Region__r.Name) == -1)
           {
                continue;
           }
           cityPickList.push(CityAllList[i]);
        }
        pickListFill("City",cityPickList);
    }
}
//通过选中的省份，查询选中省份的城市
function ChangeProvinceAsy(provId,tabId)
{
    var cityPickList = new Array();
    var countyPickList = new Array();
    var province;
    if ( document.all && "object" == typeof( window.external ) )//IE浏览器
    {  
        province=document.getElementById(provId).innerText;
    }
    else//其他浏览器
    {
        province=document.getElementById(provId).text;
    }
    if(provId=="Province"&&(province == null || province == ""))
    {
        if(tabId != null && tabId != '')
        {
            ChangeAreaAsy(tabId);
        }
        else
        {
            ChangeAreaAsy(provId);
        }
        return;
    }
    else if(provId=="PatientProvince" && (province == null || province == ""))
    {
        if(tabId != "PatientCity")
        {
            pickListFill('PatientCity',CityAllList);
        }
        return;
    }
    else if(provId=="TeDistributorsProvince" && (province == null || province == ""))
    {
        if(tabId != "TeDistributorsCity")
        {
            pickListFill('TeDistributorsCity',CityAllList);
        }
        return;
    }
     //城市
    for(var i=0;i<CityAllList.length;i++)
    {
       if(provId == 'Province')
       {
	       if(province.indexOf(CityAllList[i].PM_Province__r.Name) == -1)
	       {
	            continue;
	       }
	       cityPickList.push(CityAllList[i]);
       }
       else
       {
       	   if(province.indexOf(CityAllList[i].BelongToProvince__r.Name) == -1)
	       {
	            continue;
	       }
	       cityPickList.push(CityAllList[i]);
       }
    }
    if(tabId != "City" && provId =="Province")
    {
        pickListFill("City",cityPickList);
    }
    else if(tabId != "PatientCity" && provId =="PatientProvince")
    {
        pickListFill("PatientCity",cityPickList);
    }
    else if(tabId != "TeDistributorsCity" && provId =="TeDistributorsProvince")
    {
        pickListFill("TeDistributorsCity",cityPickList);
    }
}
//通过选中的大区、省份、城市、县，查询医院
function ChangeHospitalAsy()
{
	document.getElementById("pt:f:bl:messageIcon").style.display = "block";
    //大区堆栈
    var area;
    if ( document.all && "object" == typeof( window.external ) )//IE浏览器
    {  
        area=document.getElementById("BigArea").innerText;
    }
    else//其他浏览器
    {
        area=document.getElementById("BigArea").text;
    }
    var areaList=area.split(', ');
    var areas = "";
    for(var i=0;i<areaList.length;i++)
    {
       if(areas=="")
       {
         areas="'"+areaList[i]+"'";
       }
       else
       {
         areas+=",'"+areaList[i]+"'";
       }
    }
    //省份堆栈
    var province;
    if ( document.all && "object" == typeof( window.external ) )//IE浏览器
    {  
        province=document.getElementById("Province").innerText;
    }
    else//其他浏览器
    {
        province=document.getElementById("Province").text;
    }
    var provinceList = province.split(', ');
    var provinces="";
    for(var i=0;i<provinceList.length;i++)
    {
       if(provinces=="")
       {
         provinces="'"+provinceList[i]+"'";
       }
       else
       {
         provinces+=",'"+provinceList[i]+"'";
       }
    }
    //城市堆栈
    var city;
    if ( document.all && "object" == typeof( window.external ) )//IE浏览器
    {  
        city=document.getElementById("City").innerText;
    }
    else//其他浏览器
    {
        city=document.getElementById("City").text;
    }
    var cityList=city.split(', ');
    var cities="";
    for(var i=0;i<cityList.length;i++)
    {
       if(cities=="")
       {
         cities="'"+cityList[i]+"'";
       }
       else
       {
         cities+=",'"+cityList[i]+"'";
       }
    }
    //县堆栈
    var county;
    if ( document.all && "object" == typeof( window.external ) )//IE浏览器
    {  
        county=document.getElementById("County").innerText;
    }
    else//其他浏览器
    {
        county=document.getElementById("County").text;
    }
    var countyList=county.split(', ');
    var counties="";
    for(var i=0;i<countyList.length;i++)
    {
       if(counties=="")
       {
         counties="'"+countyList[i]+"'";
       }
       else
       {
         counties+=",'"+countyList[i]+"'";
       }
    }
    var sql ="select Name,(Select Id From PMMNib__r limit 1)  from Account Where RecordType.DeveloperName = 'RecordType' and  RecordType.SobjectType = 'Account'  ";
    if(counties != null && counties != "''" && counties != "'Select options'")
    {
        sql += " and Country__r.Name in ("+counties+") ";
    }
    else if(cities != null && cities != "''" && cities != "'Select options'")
    {
        sql += " and Cities__r.Name in ("+cities+") ";
    }
    else if(provinces != null && provinces != "''" && provinces != "'Select options'")
    {
        sql += " and PM_Province__r.Name in ("+provinces+") ";
    }
    else if(areas != null && areas != "''" && areas != "'Select options'")
    {
        sql += " and Region__r.Name in ("+areas+") ";
    }
    sql += " Order by Name ";
    var stateInHos = { 
        tabId: "InHospital"
    };
    var callbackInHos = {
        onSuccess: layoutResults,
        onFailure: queryFailed,
        source: stateInHos
    };
    sforce.connection.query(sql,callbackInHos);
}
//通过选中的大区、省份、城市、县，查询终端商
function ChangeTeDistributorsAsy()
{
	document.getElementById("pt:f:bl:messageIcon2").style.display = "block";
    //省份堆栈
    var province;
    if ( document.all && "object" == typeof( window.external ) )//IE浏览器
    {  
        province=document.getElementById("TeDistributorsProvince").innerText;
    }
    else//其他浏览器
    {
        province=document.getElementById("TeDistributorsProvince").text;
    }
    var provinceList = province.split(', ');
    var provinces="";
    for(var i=0;i<provinceList.length;i++)
    {
       if(provinces=="")
       {
         provinces="'"+provinceList[i]+"'";
       }
       else
       {
         provinces+=",'"+provinceList[i]+"'";
       }
    }
    //城市堆栈
    var city;
    if ( document.all && "object" == typeof( window.external ) )//IE浏览器
    {  
        city=document.getElementById("TeDistributorsCity").innerText;
    }
    else//其他浏览器
    {
        city=document.getElementById("TeDistributorsCity").text;
    }
    var cityList=city.split(', ');
    var cities="";
    for(var i=0;i<cityList.length;i++)
    {
       if(cities=="")
       {
         cities="'"+cityList[i]+"'";
       }
       else
       {
         cities+=",'"+cityList[i]+"'";
       }
    }
    //县堆栈
    var county;
    if ( document.all && "object" == typeof( window.external ) )//IE浏览器
    {  
        county=document.getElementById("TeDistributorsCounty").innerText;
    }
    else//其他浏览器
    {
        county=document.getElementById("TeDistributorsCounty").text;
    }
    var countyList=county.split(', ');
    var counties="";
    for(var i=0;i<countyList.length;i++)
    {
       if(counties=="")
       {
         counties="'"+countyList[i]+"'";
       }
       else
       {
         counties+=",'"+countyList[i]+"'";
       }
    }
    var sql ="select Name from Account Where  RecordType.SobjectType = 'Account' ";
    if(counties != null && counties != "''" && counties != "'Select options'")
    {
        sql += " and Country__r.Name in ("+counties+") ";
    }
    else if(cities != null && cities != "''" && cities != "'Select options'")
    {
        sql += " and Cities__r.Name in ("+cities+") ";
    }
    else if(provinces != null && provinces != "''" && provinces != "'Select options'")
    {
        sql += " and Provinces__r.Name in ("+provinces+") ";
    }
    sql += " Order by Name ";
    var stateInHos = { 
        tabId: "TeDistributors"
    };
    var callbackInHos = {
        onSuccess: layoutResults,
        onFailure: queryFailed,
        source: stateInHos
    };
    sforce.connection.query(sql,callbackInHos);
}
//通过选中的大区、省份、城市查询县
function ChangeCountyAsy(tabId)
{
	if(tabId=="Patient")
    {
    	document.getElementById("pt:f:bl:messageIcon3").style.display = "block";
    }
    else if(tabId=="TeDistributors")
    {
    	document.getElementById("pt:f:bl:messageIcon5").style.display = "block";
    }
    else
    {
    	document.getElementById("pt:f:bl:messageIcon4").style.display = "block";
    }
	
    //大区堆栈
    var area;
    if(tabId=="")
    {
	    if ( document.all && "object" == typeof( window.external ) )//IE浏览器
	    {  
	        area=document.getElementById("BigArea").innerText;
	    }
	    else//其他浏览器
	    {
	        area=document.getElementById("BigArea").text;
	    }
	    var areaList=area.split(', ');
	    var areas = "";
	    for(var i=0;i<areaList.length;i++)
	    {
	       if(areas=="")
	       {
	         areas="'"+areaList[i]+"'";
	       }
	       else
	       {
	         areas+=",'"+areaList[i]+"'";
	       }
	    }
    }
    //省份堆栈
    var province;
    if ( document.all && "object" == typeof( window.external ) )//IE浏览器
    {  
        province=document.getElementById(tabId+"Province").innerText;
    }
    else//其他浏览器
    {
        province=document.getElementById(tabId+"Province").text;
    }
    var provinceList = province.split(', ');
    var provinces="";
    for(var i=0;i<provinceList.length;i++)
    {
       if(provinces=="")
       {
         provinces="'"+provinceList[i]+"'";
       }
       else
       {
         provinces+=",'"+provinceList[i]+"'";
       }
    }
    //城市堆栈
    var city;
    if ( document.all && "object" == typeof( window.external ) )//IE浏览器
    {  
        city=document.getElementById(tabId+"City").innerText;
    }
    else//其他浏览器
    {
        city=document.getElementById(tabId+"City").text;
    }
    var cityList=city.split(', ');
    var cities="";
    for(var i=0;i<cityList.length;i++)
    {
       if(cities=="")
       {
         cities="'"+cityList[i]+"'";
       }
       else
       {
         cities+=",'"+cityList[i]+"'";
       }
    }
    var sql ="select Name from Country__c Where Name != null ";
    if(areas != null && areas != "''" && areas != "'Select options'")
    {
        sql += " and City__r.PM_Province__r.PM_Region__r.Name in ("+areas+") ";
    }
    if(provinces != null && provinces != "''" && provinces != "'Select options'")
    {
        sql += " and City__r.PM_Province__r.Name in ("+provinces+") ";
    }
    if(cities != null && cities != "''" && cities != "'Select options'")
    {
        sql += " and City__r.Name in ("+cities+") ";
    }
    sql += " Order by Name ";
    if(tabId=="Patient")
    {
    	var stateCounty = { 
        tabId: "PatientCounty"
	    };
	    var callbackCounty = {
	        onSuccess: layoutResults,
	        onFailure: queryFailed,
	        source: stateCounty
	    };
	    sforce.connection.query(sql,callbackCounty);
    }
    else if(tabId=="TeDistributors")
    {
    	var stateCounty = { 
        tabId: "TeDistributorsCounty"
	    };
	    var callbackCounty = {
	        onSuccess: layoutResults,
	        onFailure: queryFailed,
	        source: stateCounty
	    };
	    sforce.connection.query(sql,callbackCounty);
    }
    else
    {
    	var stateCounty = { 
        tabId: "County"
	    };
	    var callbackCounty = {
	        onSuccess: layoutResults,
	        onFailure: queryFailed,
	        source: stateCounty
	    };
	    sforce.connection.query(sql,callbackCounty);
    }
}
function changeHide()
{

//alert(document.getElementById('pt:f:bl:bs:j_id33:PM_InHospital_lkid').value);

    if ( document.all && "object" == typeof( window.external ) )//IE浏览器
    {  
        var BigArea = document.getElementById("BigArea").innerText;
        document.getElementById("pt:f:BigArea").value=BigArea;
        
        var Province = document.getElementById("Province").innerText;
        document.getElementById("pt:f:Province").value=Province;
        
        var City = document.getElementById("City").innerText;
        document.getElementById("pt:f:City").value=City;
        
        var County = document.getElementById("County").innerText;
        document.getElementById("pt:f:County").value=County;
        
        var PatientProvince = document.getElementById("PatientProvince").innerText;
        document.getElementById("pt:f:PatientProvince").value=PatientProvince;
        
        var PatientCity = document.getElementById("PatientCity").innerText;
        document.getElementById("pt:f:PatientCity").value=PatientCity;
        
        var PatientCounty = document.getElementById("PatientCounty").innerText;
        document.getElementById("pt:f:PatientCounty").value=PatientCounty;
        
        var SonArea = document.getElementById("SonArea").innerText;
        document.getElementById("pt:f:SonArea").value=SonArea;
        
        var InHospital = document.getElementById("InHospital").innerText;
        document.getElementById("pt:f:InHospital").value=InHospital;
        
        var TeDistributors = document.getElementById("TeDistributors").innerText;
        document.getElementById("pt:f:TeDistributors").value=TeDistributors;
        
        var TeDistributorsProvince = document.getElementById("TeDistributorsProvince").innerText;
        document.getElementById("pt:f:TeDistributorsProvince").value=TeDistributorsProvince;
        
        var TeDistributorsCity = document.getElementById("TeDistributorsCity").innerText;
        document.getElementById("pt:f:TeDistributorsCity").value=TeDistributorsCity;
        
        var TeDistributorsCounty = document.getElementById("TeDistributorsCounty").innerText;
        document.getElementById("pt:f:TeDistributorsCounty").value=TeDistributorsCounty;
        
        var BestVisitTime = document.getElementById("BestVisitTime").innerText;
        document.getElementById("pt:f:BestVisitTime").value= BestVisitTime;

    }
    else//其他浏览器
    {
        var BigArea = document.getElementById("BigArea").text;
        document.getElementById("pt:f:BigArea").value=BigArea;

        var Province = document.getElementById("Province").text;
        document.getElementById("pt:f:Province").value=Province;
        
        var City = document.getElementById("City").text;
        document.getElementById("pt:f:City").value=City;
        
        var County = document.getElementById("County").text;
        document.getElementById("pt:f:County").value=County;
        
        var PatientProvince = document.getElementById("PatientProvince").text;
        document.getElementById("pt:f:PatientProvince").value=PatientProvince;
        
        var PatientCity = document.getElementById("PatientCity").text;
        document.getElementById("pt:f:PatientCity").value=PatientCity;
        
        var PatientCounty = document.getElementById("PatientCounty").text;
        document.getElementById("pt:f:PatientCounty").value=PatientCounty;
        
        var SonArea = document.getElementById("SonArea").text;
        document.getElementById("pt:f:SonArea").value=SonArea;
        
        var InHospital = document.getElementById("InHospital").text;
        document.getElementById("pt:f:InHospital").value=InHospital;
        
        var TeDistributors = document.getElementById("TeDistributors").text;
        document.getElementById("pt:f:TeDistributors").value=TeDistributors;
        
        var TeDistributorsProvince = document.getElementById("TeDistributorsProvince").text;
        document.getElementById("pt:f:TeDistributorsProvince").value=TeDistributorsProvince;
         
        var TeDistributorsCity = document.getElementById("TeDistributorsCity").text;
        document.getElementById("pt:f:TeDistributorsCity").value=TeDistributorsCity;
        
        var TeDistributorsCounty = document.getElementById("TeDistributorsCounty").text;
        document.getElementById("pt:f:TeDistributorsCounty").value=TeDistributorsCounty;
        
        var BestVisitTime = document.getElementById("BestVisitTime").text;
        document.getElementById("pt:f:BestVisitTime").value= BestVisitTime;
    }
}

//导出字段选中区域显示出来
var isExportFirst = "true";
function ExportExcel(obj)
{
    var objValue = "";
       var objdiv1 = document.getElementById('fields');
       var objdiv2 = document.getElementById('ExportExcelBtn');
       if(obj != 'undefined' && obj != null)
       {
           objValue = obj.value;
       }
       
       if(objValue == '导出EXCEL')
       {
            objdiv1.style.display = 'block';
            objdiv2.value = "确认导出";   
            if(isExportFirst =="true")
            {
                twistDiv('img_pt','BasicInformationExport');
                twistDiv('img_pt','ContactInformationExport');
                twistDiv('img_pt','IntubateInformationExport');
                twistDiv('img_pt','ClinicalInformationExport');
                twistDiv('img_pt','CaringInformationExport');
                twistDiv('img_pt','HighriskInformationExport');
                twistDiv('img_pt','HighImpactInformationExport');
                twistDiv('img_pt','TreatmentInformationExport');
                twistDiv('img_pt','DealersInformationExport');
                twistDiv('img_pt','DropoutInformationExport');
                isExportFirst = "false";
            }
            
       }
       else
       {
            var cf = window.confirm('您确认导出吗？');
        if(cf){
            exportExcelMethod();
            //window.open("../apex/PM_PatientExport",'newwindow', 'height=500, width=600, top=150, left=300, toolbar=no, menubar=no, scrollbars=yes,resizable=yes,location=yes, status=no');
            //window.event.returnValue = false;
            //return false;
        }else{
            objdiv1.style.display = 'none';
            objdiv2.value = "导出EXCEL";
            window.event.returnValue = false;
            return false;
        }
    }
}
    //联系电话全选
    function check_all_phone()
    {
        if(this.checked == true)
        {
            var tel1 = document.getElementById("pt:f:bl:j_id176:j_id181:j_id182:0:field:ExportField");
            var tel2 = document.getElementById("pt:f:bl:j_id176:j_id181:j_id182:1:field:ExportField");
            var tel3 = document.getElementById("pt:f:bl:j_id176:j_id181:j_id182:2:field:ExportField");
            var tel4 = document.getElementById("pt:f:bl:j_id176:j_id181:j_id182:3:field:ExportField");
            var tel5 = document.getElementById("pt:f:bl:j_id176:j_id181:j_id182:4:field:ExportField");
            var tel6 = document.getElementById("pt:f:bl:j_id176:j_id181:j_id182:5:field:ExportField");
            
            tel1.checked = true;        
            tel2.checked = true;        
            tel3.checked = true;        
            tel4.checked = true;        
            tel5.checked = true;
            tel6.checked = true;
        }
    }
    //最佳拜访全选
    function check_all_bf()
    {
        if(this.checked == true)
        {
            var pho1 = document.getElementById("pt:f:bl:j_id176:j_id181:j_id182:6:field:ExportField");
            var pho2 = document.getElementById("pt:f:bl:j_id176:j_id181:j_id182:7:field:ExportField");
            var pho3 = document.getElementById("pt:f:bl:j_id176:j_id181:j_id182:8:field:ExportField");
            var pho4 = document.getElementById("pt:f:bl:j_id176:j_id181:j_id182:9:field:ExportField");
            var pho5 = document.getElementById("pt:f:bl:j_id176:j_id181:j_id182:10:field:ExportField");
            var pho6 = document.getElementById("pt:f:bl:j_id176:j_id181:j_id182:11:field:ExportField");
            
            pho1.checked = true;        
            pho2.checked = true;        
            pho3.checked = true;        
            pho4.checked = true;        
            pho5.checked = true;
            pho6.checked = true;
        }
    }

    //复选框全选操作
    function checkAll(cb)
    {
        var inputElem = document.getElementsByTagName("input");
        for(var i=0; i<inputElem.length; i++)
        {
            if(inputElem[i].id.indexOf("checkedone")!=-1)
            inputElem[i].checked = cb.checked;
        }
        var objdiv1 = document.getElementById('fields');
        var objdiv2 = document.getElementById('ExportExcelBtn');
        if(obj != 'undefined' && obj != null)
        {
            objValue = obj.value;
        }
        if(objValue == '确认导出')
        {
            objdiv1.style.display = 'block';
            objdiv2.value = "确认导出";
        }
    }
    
    //全选
    function check_all()
    {
        var list = document.getElementsByTagName("input");
        for (var i = 0; i < list.length; i++)
        {
        
            if(list[i].type=="checkbox" && list[i].id.indexOf('ExportField')!=-1)
            {
                document.getElementById(list[i].id).checked = true;
            }
        } 
    }
    //全不选
    function uncheck_all()
    {
        var list = document.getElementsByTagName("input");
        for (var i = 0; i < list.length; i++)
        {
            if(list[i].type=="checkbox" && list[i].id.indexOf('ExportField')!=-1)
            {
                document.getElementById(list[i].id).checked = false;

            }
        } 
    }
    function displaybut()
    {
        if('{!$Profile.Name}'.indexOf('PM-PSR Specialist') >= 0)
        {           
            document.getElementById("ExportExcelBtn").style.display = "none";   
        }
        else
        {
            document.getElementById("ExportExcelBtn").style.display = "inline-block";   
        }
        
    }
    //Henry Add 2013-10-16
    function twistDiv(twisty, sectionId) {
       var div = document.getElementById(sectionId);
       if (div.style.display != 'none') { 
           div.style.display = 'none';  
           twisty.className ='showListButton';
           twisty.alt = twisty.title = '显示部分 - '+twisty.name;
       } else {
           div.style.display = 'block'; 
           twisty.className = 'hideListButton';
           twisty.alt = twisty.title = '隐藏部分 - '+twisty.name;
       } 
    }
    //Tobe 2013.10.31 联动change
    function contactCheck2(obj)
    {
        if(obj.checked == true)
        {
            var inputElem = document.getElementsByTagName("input");
            for(var i=0; i<inputElem.length; i++)
            {
                if(inputElem[i].id.indexOf("ExportFieldTelphone2")!=-1)
                    inputElem[i].checked = obj.checked;
            }
        }
    }
     function contactCheckPhone(obj)
    {
        if(obj.checked == true)
        {
            var inputElem = document.getElementsByTagName("input");
            for(var i=0; i<inputElem.length; i++)
            {
                if(inputElem[i].id.indexOf("ExportFieldTelphone1")!=-1)
                    inputElem[i].checked = obj.checked;
            }
        }
    }
    function bestVisitCheck(obj)
    {
        //alert('最佳拜访时间');
        if(obj.checked == true)
        {
            var inputElem = document.getElementsByTagName("input");
            for(var i=0; i<inputElem.length; i++)
            {
                if(inputElem[i].id.indexOf("ExportFieldVisitTime")!=-1)
                    inputElem[i].checked = obj.checked;
            }
        }
    }
//终端配送商查询界面
function SelectTerminal()
{
    var HosValue=window.showModalDialog("PM_SelectTerminal","","dialogWidth=600px;dialogHeight=400px;status=no;help=no;scrollbars=no");
    //alert(HosValue.substr(HosValue.indexOf('001'),HosValue.length));
    //document.form1.p1t.value=someValue;
    document.getElementById("pt:f:bl:TeDistributors_Fuzzy").value = HosValue.substr(0,HosValue.indexOf('001'));
}
</script> 
<body>
<apex:form id="f">
<apex:inputHidden id="BigArea" value="{!BigArea}"/>
<apex:inputHidden id="Province" value="{!Province}"/>
<apex:inputHidden id="City" value="{!City}"/>
<apex:inputHidden id="County" value="{!County}"/>
<apex:inputHidden id="PatientProvince" value="{!PatientProvince}"/>
<apex:inputHidden id="PatientCity" value="{!PatientCity}"/>
<apex:inputHidden id="PatientCounty" value="{!PatientCounty}"/>
<apex:inputHidden id="SonArea" value="{!PatientStatus}"/>
<apex:inputHidden id="InHospital" value="{!InHospital}"/>
<apex:inputHidden id="TeDistributors" value="{!TeDistributors}"/>
<apex:inputHidden id="TeDistributorsProvince" value="{!TeDistributorsProvince}"/>
<apex:inputHidden id="TeDistributorsCity" value="{!TeDistributorsCity}"/>
<apex:inputHidden id="TeDistributorsCounty" value="{!TeDistributorsCounty}"/>
<apex:inputHidden id="BestVisitTime" value="{!BestVisitTime}"/>
        <apex:actionFunction name="Check" action="{!Check}" reRender="pt:f:bl:result"/>
        <apex:pageBlock title="病人查询" mode="detail" id="bl">
        <div style="color:RED">PS:由于Salesforce对记录数查询的限制，本页面只显示符合条件的前{!Limit_Size}条记录，如需导出所有记录请在报表中进行操作。</div>
            <input id="ExportExcelBtn" type="button" value="导出EXCEL" onclick="ExportExcel(this);" class="btn" />
            <input id="checkArea" type="button" value="显示更多查询条件" onclick="ShowRoom(this);" class="btn"/>
            <apex:commandButton styleClass="btn"  onclick="changeHide();" action="{!Check}" value="查询" status="StatusChecking" id="theButton"  reRender="pt:f:bl:result"/>
            <apex:actionStatus id="StatusChecking" startText="查询中..."/>
            <!-- Henry Add 2013-10-16 Begin -->
            <div id="CommonQueriesSection">
                <div class="pbSubheader brandTertiaryBgr first tertiaryPalette"><img src="/s.gif" alt="隐藏部分 - 常用查询条件"  class="hideListButton" id="img_pt" name="常用查询条件" onclick="twistDiv(this,'CommonQueriesInformation');" onkeypress="if (event.keyCode=='13')twistDiv(this,'CommonQueriesInformation');" style="cursor:pointer;" tabindex="0" title="隐藏部分 - 常用查询条件"/><h3>常用查询条件</h3></div>
                <div id="CommonQueriesInformation"> 
                <table border="0" class="detailList" style="width:90% !important">
                    <tr>
                        <td class="lblfont">编号</td>
                        <td><apex:inputText style="width:100px;" id="PatientNo" value="{!Patient.PM_PatientNo__c}" /></td>
                        <td class="lblfont">插管大区</td>
                        <td>
                            <div onclick ="ChangeAreaAsy('');"  style ="width:10px">
                                <select id= "BigArea" multiple = "multiple" size ="1" >
                                </select>
                            </div>
                        </td>
                        <td class="lblfont">终端配送商省份</td>
                        <td>
                            <div onclick ="ChangeProvinceAsy('TeDistributorsProvince','');"  style ="width:10px">
                                <select id= "TeDistributorsProvince" multiple= "multiple" size ="3" >
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="lblfont">姓名</td>
                        <td><apex:inputField style="width:100px;" id="PM_Name" value="{!Patient.Name}" /></td>
                        <td class="lblfont">插管省份</td>
                        <td>
                            <div onclick ="ChangeProvinceAsy('Province','');"  style ="width:10px">
                                <select id= "Province" multiple = "multiple" size ="1" >
                                </select>
                            </div>
                        </td>
                        <td class="lblfont">终端配送商城市</td>
                        <td>
                        	<div onclick ="ChangeSelect()" >
	                            <select id= "TeDistributorsCity" multiple= "multiple" size ="3" >
	                            </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="lblfont">电话</td>
                        <td><apex:inputText style="width:100px;" id="MobilePhone" value="{!MobilePhone}" /></td>
                        <td class="lblfont">插管城市</td>
                        <td>
                        	<div onclick ="ChangeSelect()" >
	                            <select id= "City" multiple = "multiple" size ="1" >
	                            </select>
                            </div>
                        </td>
                        <td class="lblfont">终端配送商县
                        	<apex:commandButton styleClass="btn"  onclick="ChangeCountyAsy('TeDistributors');" value="获取" id="Button5" reRender="pt:f:bl:result"/>
                        	<apex:image id="messageIcon5" value="{!$Resource.AjaxAnimation}" width="15px" height="15px" style="float:right;display:none"/>
                        </td>
                        <td>
                            <div onclick ="ChangeSelect();" >
                                <select id= "TeDistributorsCounty" multiple= "multiple" size ="3" >
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="lblfont" style = "vertical-align:middle">居住省份</td>
                        <td style = "vertical-align:middle">
                            <div onclick ="ChangeProvinceAsy('PatientProvince','');"  style ="width:10px">
                                <select id= "PatientProvince" multiple = "multiple" size ="3" >
                                </select>
                            </div>
                        </td>
                        <td class="lblfont" style = "vertical-align:middle">插管县
                        	<apex:commandButton styleClass="btn"  onclick="ChangeCountyAsy('');" value="获取" id="Button4" reRender="pt:f:bl:result"/>
                        	<apex:image id="messageIcon4" value="{!$Resource.AjaxAnimation}" width="15px" height="15px" style="float:right;display:none"/>
                        </td>
                        <td style = "vertical-align:middle">
                            <div onclick ="ChangeSelect()">
                                <select id= "County" multiple = "multiple" size ="3" >
                                </select>
                            </div>
                        </td>
                        <td class="lblfont" style = "vertical-align:middle">终端配送商
                            <apex:commandButton styleClass="btn"  onclick="ChangeTeDistributorsAsy();" value="获取"  id="TeDistributorsButton" reRender="pt:f:bl:result"/>
                        	<apex:image id="messageIcon2" value="{!$Resource.AjaxAnimation}" width="15px" height="15px" style="float:right;display:none"/>
                        </td>
                        <td style = "vertical-align:middle">
                            <div onclick ="ChangeSelect()" >
                                <select id= "TeDistributors" multiple = "multiple" size ="3" style="float:left;">
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="lblfont" style = "vertical-align:middle">居住城市</td>
                        <td style = "vertical-align:middle">
                        	<div onclick ="ChangeSelect()">
	                            <select id= "PatientCity" multiple = "multiple" size ="1" >
	                            </select>
	                        </div>
                        </td>
                        <td class="lblfont" style = "vertical-align:middle">插管医院
                            <apex:commandButton styleClass="btn"  onclick="ChangeHospitalAsy();" value="获取" id="HospitalButton" reRender="pt:f:bl:result"/>
                        	<apex:image id="messageIcon" value="{!$Resource.AjaxAnimation}" width="15px" height="15px" style="float:right;display:none"/>
                        </td>
                        <td style="width:120px;vertical-align:middle">
                            <div onclick="ChangeSelect()">
                            <select id="InHospital" multiple="multiple" size="3" style="float:left;">
                            </select>
                            </div>
                        </td>
                        <td class="lblfont" style = "vertical-align:middle">终端配送商（模糊查询）</td>
                        <td style = "vertical-align:middle"><apex:inputText style="width:100px;" id="TeDistributors_Fuzzy" value="{!PM_Terminal}" />
                        <input type="button" onclick="SelectTerminal()" value="更换" /></td>
                    </tr>
                    <tr>
                        <td class="lblfont" style="vertical-align:middle">居住县
                        	<apex:commandButton styleClass="btn"  onclick="ChangeCountyAsy('Patient');" value="获取" id="Button3" reRender="pt:f:bl:result"/>
                        	<apex:image id="messageIcon3" value="{!$Resource.AjaxAnimation}" width="15px" height="15px" style="float:right;display:none"/>
                        </td>
                        <td>
                            <div onclick ="ChangeSelect()" >
                                <select id= "PatientCounty" multiple = "multiple" size ="3">
                                </select>
                            </div>
                        </td>
                        <td class="lblfont">插管医院（模糊查询）</td>
                        <td><apex:inputField style="width:100px;" id="InHospital_Fuzzy" value="{!Patient.PM_InHospital__c}" /></td>
                        <td class="lblfont">负责PSR</td>
                        <td><apex:inputField style="width:100px;" value="{!Patient.PM_Current_PSR__c}"/></td>
                    </tr>
                    <tr>
                        <td class="lblfont">地址</td>
                        <td><apex:inputText style="width:100px;" id="Address" value="{!Patient.PM_Address__c}"/></td>
                        <td class="lblfont">状态</td>
                        <td>
                            <select id="SonArea" multiple="multiple" size="4" >
                                <option  Value="New" >New</option>
                                <option  Value="Active" >Active</option>
                                <option  Value="Unreachable" >Unreachable</option>
                                <option  Value="Dropout" >Dropout</option>
                            </select>
                        </td>
                        <td class="lblfont">最佳拜访时间</td>
                        <td>
                            <select id="BestVisitTime" multiple="multiple" size="5" >
                                <option  Value="9:00-10:00" >9:00-10:00</option>
                                <option  Value="10:01-11:00" >10:01-11:00</option>
                                <option  Value="11:01-12:00" >11:01-12:00</option>
                                <option  Value="12:01-13:00" >12:01-13:00</option>
                                <option  Value="13:01-15:00" >13:01-15:00</option>
                                <option  Value="15:01-17:00" >15:01-17:00</option>
                                <option  Value="17:01-18:00" >17:01-18:00</option>
                                <option  Value="18:01-20:00" >18:01-20:00</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                    	<td class="lblfont">年龄</td>
                        <td><apex:inputText style="width:100px;" id="Age_Lower" value="{!Age_Lower}"/>至<apex:inputText style="width:100px;" id="Age_Upper" value="{!Age_Upper}"/></td>
                    	<td class="lblfont">Active病人管理类型</td>
                        <td><apex:inputField style="width:100px;" id="PM_Active_PMT__c" value="{!Patient.PM_Active_PMT__c}" /></td>
                    	<td class="lblfont">要求拜访间隔天数(范围)</td>
                        <td><apex:selectList value="{!Visit_Interval}" size="1" style="width:100px;" >
                            <apex:selectOptions value="{!Visit_Intervals}"/>
                            </apex:selectList>
                        </td>
                    </tr>
                    <tr>
                        <td class="lblfont">创建日期</td>
                        <td><apex:inputText style="width:100px;" id="cjcj" value="{!CreatedDate_Start}" onfocus="DatePicker.pickDate(true, 'pt:f:bl:cjcj', false);"/>至<apex:inputText style="width:100px;" id="cde1" value="{!CreatedDate_End}" onfocus="DatePicker.pickDate(true, 'pt:f:bl:cde1', false);"/></td>
<!--                        <td class="lblfont">插管护士</td>-->
<!--                        <td><apex:inputField style="width:100px;" id="nurser" value="{!Patient.PM_InNurser__c}"/></td>-->
                        <td></td>
                        <td></td>
                        <td class="lblfont">掉队实际日期</td>
                        <td><apex:inputText style="width:100px;" id="ddrq" value="{!DropActDate_Start}" onfocus="DatePicker.pickDate(true, 'pt:f:bl:ddrq', false);"/>至<apex:inputText style="width:100px;" id="dae2" value="{!DropActDate_End}" onfocus="DatePicker.pickDate(true, 'pt:f:bl:dae2', false);"/></td>
                    </tr>
                    <tr>
                        <td class="lblfont">插管日期</td>
                        <td><apex:inputText style="width:100px;" id="cgrq" value="{!InDate_Start}" onfocus="DatePicker.pickDate(true, 'pt:f:bl:cgrq', false);"/>至<apex:inputText style="width:100px;" id="ide3" value="{!InDate_End}" onfocus="DatePicker.pickDate(true, 'pt:f:bl:ide3', false);"/></td>
                        <td></td>
                        <td></td>
                        <td class="lblfont">掉队创建日期</td>
                        <td><apex:inputText style="width:100px;" id="ddcjrq" value="{!DropDate_Start}" onfocus="DatePicker.pickDate(true, 'pt:f:bl:ddcjrq', false);"/>至<apex:inputText style="width:100px;" id="dae4" value="{!DropDate_End}" onfocus="DatePicker.pickDate(true, 'pt:f:bl:dae4', false);"/></td>
                    </tr>
                </table>
                </div>
            </div>
            <!-- Henry Add End 2013-10-16 -->
            
            <div id="div1" style="display:none">
            <!-- Henry Add 2013-10-16 Begin -->
            <div id="BasicSection">
                <div class="pbSubheader brandTertiaryBgr first tertiaryPalette"><img src="/s.gif" alt="隐藏部分 - 基本信息"  class="showListButton" id="img_pt" name="基本信息" onclick="twistDiv(this,'BasicInformation');" onkeypress="if (event.keyCode=='13')twistDiv(this,'BasicInformation');" style="cursor:pointer;" tabindex="0" title="隐藏部分 - 基本信息"/><h3>基本信息</h3></div>
                <div id="BasicInformation">
                <table border="0" class="detailList" style="width:90% !important">
                    <tr>
                    	<td class="lblfont">性别</td>
                        <td><apex:inputField value="{!Patient.PM_Sex__c}" /></td>
                        <td class="lblfont">生日</td>
                        <td><apex:inputField value="{!Patient.PM_Birthday__c}" /></td>
                        <td class="lblfont">第一拜访电话是否有效</td>
                        <td><apex:inputField value="{!Patient.PM_FTCValid__c}" /></td>
                        <td class="lblfont">费用支付方式</td>
                        <td><apex:inputField value="{!Patient.PM_Payment__c}" /></td>
                        
                    </tr>
                    <tr>
                    	<td class="lblfont">邮编</td>
                        <td><apex:inputField value="{!Patient.PM_ZipCode__c}" /></td>
                        <td class="lblfont">是否确认地址</td>
                        <td><apex:inputField value="{!Patient.PM_CAddress__c}" /></td>
                        <td class="lblfont">家庭收入</td>
                        <td><apex:inputField value="{!Patient.PM_FAIncome__c}" /></td>
                        <td class="lblfont">文化程序</td>
                        <td><apex:inputField value="{!Patient.PM_PatientDegree__c}" /></td>
                    </tr>
                    <tr>
						<td class="lblfont">是否上网</td>
                        <td><apex:inputField value="{!Patient.PM_Internet__c}" /></td>
                        <td class="lblfont">身份证号</td>
                        <td><apex:inputField value="{!Patient.PM_IdNumber__c}" /></td>
                        <td class="lblfont">要求拜访间隔天数</td>
                        <td><apex:inputField value="{!Patient.PM_Visit_Interval__c}" /></td>
                        <td class="lblfont">职业</td>
                        <td><apex:inputField value="{!Patient.PM_Profession__c}"/></td>
                    </tr>
                    <tr>
                        <td class="lblfont">电子邮箱</td>
                        <td><apex:inputField value="{!Patient.PM_Email__c}" /></td>
                        <td class="lblfont">备注</td>
                        <td><apex:inputField value="{!Patient.PM_Binformation__c}" /></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                </div>
            </div>
            
            <div id="ContactSection">
                <div class="pbSubheader brandTertiaryBgr first tertiaryPalette"><img src="/s.gif" alt="隐藏部分 - 联系电话"  class="showListButton" id="img_pt" name="联系电话" onclick="twistDiv(this,'ContactInformation');" onkeypress="if (event.keyCode=='13')twistDiv(this,'ContactInformation');" style="cursor:pointer;" tabindex="0" title="隐藏部分 - 联系电话"/><h3>联系电话</h3></div>
                <div id="ContactInformation">
                <table border="0" class="detailList" style="width:95% !important">
                    <tr>
                        <td class="lblfont">家庭电话状态</td>
                        <td><apex:inputField id="HomeTelType" value="{!Patient.PM_PhoneState1__c}" /></td>
                        <td class="lblfont">家庭电话</td>
                        <td><apex:inputField id="HomeTel" value="{!Patient.PM_HomeTel__c}" /></td>
                        <td class="lblfont">家庭电话最佳拜访</td>
                        <td><apex:inputField value="{!Patient.PM_BVTime1__c}" /></td>
                    </tr>
                    <tr>
                        <td class="lblfont">病人手机状态</td>
                        <td><apex:inputField id="PmPhoneType" value="{!Patient.PM_PhoneState2__c}" /></td>
                        <td class="lblfont">病人手机</td>
                        <td><apex:inputField id="PmPhone" value="{!Patient.PM_PmPhone__c}" /></td>
                        <td class="lblfont">病人手机最佳拜访</td>
                        <td><apex:inputField value="{!Patient.PM_BVTime2__c}" /></td>
                    </tr>
                    <tr>
                        <td class="lblfont">病人电话状态</td>
                        <td><apex:inputField id="PmTelType" value="{!Patient.PM_PhoneState3__c}" /></td>
                        <td class="lblfont">病人电话</td>
                        <td><apex:inputField id="PmTel" value="{!Patient.PM_PmTel__c}" /></td>
                        <td class="lblfont">病人电话最佳拜访</td>
                        <td><apex:inputField value="{!Patient.PM_BVTime3__c}" /></td>
                    </tr>
                    <tr>
                        <td class="lblfont">家属手机状态</td>
                        <td><apex:inputField id="FamilyPhoneType" value="{!Patient.PM_PhoneState4__c}" /></td>
                        <td class="lblfont">家属手机</td>
                        <td><apex:inputField id="FamilyPhone" value="{!Patient.PM_FamilyPhone__c}" /></td>
                        <td class="lblfont">家属手机最佳拜访</td>
                        <td><apex:inputField value="{!Patient.PM_BVTime4__c}" /></td>
                    </tr>
                    <tr>
                        <td class="lblfont">家属电话状态</td>
                        <td><apex:inputField id="FamilyTelType" value="{!Patient.PM_PhoneState5__c}" /></td>
                        <td class="lblfont">家属电话</td>
                        <td><apex:inputField id="FamilyTel" value="{!Patient.PM_FamilyTel__c}" /></td>
                        <td class="lblfont">家属电话最佳拜访</td>
                        <td><apex:inputField value="{!Patient.PM_BVTime5__c}" /></td>
                    </tr>
                    <tr>
                        <td class="lblfont">其他电话状态</td>
                        <td><apex:inputField id="OhterTelType" value="{!Patient.PM_PhoneState6__c}" /></td>
                        <td class="lblfont">其他电话</td>
                        <td><apex:inputField id="OhterTel" value="{!Patient.PM_OtherTel2__c}" /></td>
                        <td class="lblfont">其他电话最佳拜访</td>
                        <td><apex:inputField value="{!Patient.PM_BVTime6__c}" /></td>
                    </tr>
                </table>
                </div>
            </div>
            
            <div id="IntubateSection">
                <div class="pbSubheader brandTertiaryBgr first tertiaryPalette"><img src="/s.gif" alt="隐藏部分 - 插管信息"  class="showListButton" id="img_pt" name="插管信息" onclick="twistDiv(this,'IntubateInformation');" onkeypress="if (event.keyCode=='13')twistDiv(this,'IntubateInformation');" style="cursor:pointer;" tabindex="0" title="隐藏部分 - 插管信息"/><h3>插管信息</h3></div>
                <div id="IntubateInformation">
                <table border="0" class="detailList" style="width:90% !important">
                    <tr>
                    	<td class="lblfont">插管医生</td>
                        <td><apex:inputField value="{!Patient.PM_InDoctor__c}"/></td>
                        <td class="lblfont">当前负责销售</td>
                        <td><apex:inputField value="{!Patient.PM_Current_Saler__c}"/></td>
                        <td class="lblfont">插管类型</td>
                        <td><apex:inputField value="{!Patient.PM_InType__c}"/></td>
                        <td class="lblfont">插管销售</td>
                        <td><apex:inputField value="{!Patient.PM_InUser__c}"/></td>
                    </tr>
                    <tr>
                        <td class="lblfont">插管护士</td>
                        <td><apex:inputField id="nurser" value="{!Patient.PM_InNurser__c}"/></td>
                        <td class="lblfont">备注</td>
                        <td><apex:inputField value="{!Patient.PM_InInformation__c}"/></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                </div>
            </div>
            
            <div id="ClinicalSection">
                <div class="pbSubheader brandTertiaryBgr first tertiaryPalette"><img src="/s.gif" alt="隐藏部分 - 临床信息"  class="showListButton" id="img_pt" name="临床信息" onclick="twistDiv(this,'ClinicalInformation');" onkeypress="if (event.keyCode=='13')twistDiv(this,'ClinicalInformation');" style="cursor:pointer;" tabindex="0" title="隐藏部分 - 临床信息"/><h3>临床信息</h3></div>
                <div id="ClinicalInformation">
                <table border="0" class="detailList" style="width:90% !important">
                    <tr>
                        <td class="lblfont">原发病</td>
                        <td><apex:inputField value="{!Patient.PM_Protopathy__c}"/></td>
                        <td class="lblfont">每日尿量(ML)</td>
                        <td><apex:inputField value="{!Patient.PM_DaUroutput__c}"/></td>
                        <td class="lblfont">舒张压(MMOL/L)</td>
                        <td><apex:inputField value="{!Patient.PM_DiBlpressure__c}"/></td>
                        <td class="lblfont">收缩压(MMOL/L)</td>
                        <td><apex:inputField value="{!Patient.PM_SyBlpressure__c}"/></td>
                    </tr>
                    <tr>
                        <td class="lblfont">血肌酐(MG/L)</td>
                        <td><apex:inputField value="{!Patient.PM_SeCreatinine__c}"/></td>
                        <td class="lblfont">血色素(g/L)</td>
                        <td><apex:inputField value="{!Patient.PM_Hemoglobin__c}"/></td>
                        <td class="lblfont">白蛋白(g/L)</td>
                        <td><apex:inputField value="{!Patient.PM_Albumin__c}"/></td>
                        <td class="lblfont">尿素氮(mmol/L)</td>
                        <td><apex:inputField value="{!Patient.PM_UrNitrogen__c}"/></td>
                    </tr>
                    <tr>
                        <td class="lblfont">是否肢体瘫痪</td>
                        <td><apex:inputField value="{!Patient.PM_LiParalysis__c}"/></td>
                        <td class="lblfont">是否视力障碍</td>
                        <td><apex:inputField value="{!Patient.PM_ViImpairment__c}"/></td>
                        <td class="lblfont">是否做过腹膜平衡测试</td>
                        <td><apex:inputField value="{!Patient.PM_PeEqtest__c}"/></td>
                        <td class="lblfont">备注</td>
                        <td><apex:inputField value="{!Patient.PM_ClInformation__c}"/></td>
                    </tr>
                </table>
                </div>
            </div>
            
            <div id="CaringSection">
                <div class="pbSubheader brandTertiaryBgr first tertiaryPalette"><img src="/s.gif" alt="隐藏部分 - 关爱信息"  class="showListButton" id="img_pt" name="关爱信息" onclick="twistDiv(this,'CaringInformation');" onkeypress="if (event.keyCode=='13')twistDiv(this,'CaringInformation');" style="cursor:pointer;" tabindex="0" title="隐藏部分 - 关爱信息"/><h3>关爱信息</h3></div>
                <div id="CaringInformation">
                <table border="0" class="detailList" style="width:90% !important">
                    <tr>
                    	<td class="lblfont">是否收到日记本</td>
                        <td><apex:inputField value="{!Patient.PM_Received_Diary__c}"/></td>
                        <td class="lblfont">是否收到指导手册</td>
                        <td><apex:inputField value="{!Patient.PM_IsInstruction__c}"/></td>
                        <td class="lblfont">是否收到关爱通讯</td>
                        <td><apex:inputField value="{!Patient.PM_ReCommunication__c}"/></td>
                        <td class="lblfont">送货方式</td>
                        <td><apex:inputField value="{!Patient.PM_Delivery__c}"/></td>
                        
                    </tr>
                    <tr>
                    	<td class="lblfont">是否收到个人信息回执</td>
                        <td><apex:inputField value="{!Patient.PM_PeReInformation__c}"/></td>
                        <td class="lblfont">是否来电</td>
                        <td><apex:inputField value="{!Patient.PM_WhTocall__c}"/></td>
                        <td class="lblfont">是否投稿</td>
                        <td><apex:inputField value="{!Patient.PM_WhTosend__c}"/></td>
                        <td class="lblfont">是否参加过自由行</td>
                        <td><apex:inputField value="{!Patient.PM_IsFree__c}"/></td>
                    </tr>
                    <tr>
                    	<td class="lblfont">是否收到关爱包</td>
                        <td><apex:inputField value="{!Patient.PM_ReCarepackages__c}"/></td>
                        <td class="lblfont">是否接受“橙心关爱”透前教育</td>
                        <td><apex:inputField value="{!Patient.PM_OHCEducation__c}"/></td>
                        <td class="lblfont">是否收到礼物</td>
                        <td><apex:inputField value="{!Patient.PM_LoGifts__c}"/></td>
                        <td class="lblfont">是否参加过活动</td>
                        <td><apex:inputField value="{!Patient.PM_IsJoined__c}"/></td>
                        
                    </tr>
                    <tr>
                    	<td class="lblfont">是否上门拜访过</td>
                        <td><apex:inputField value="{!Patient.PM_AcHoVisits__c}"/></td>
                        <td class="lblfont">家访时间1</td>
                        <td><apex:inputField value="{!Patient.PM_FaViTime1__c}"/></td>
                        <td class="lblfont">家访时间2</td>
                        <td><apex:inputField value="{!Patient.PM_FaViTime2__c}"/></td>
                        <td class="lblfont">活动满意度</td>
                        <td><apex:inputField value="{!Patient.PM_Activities_Satisfactied__c}"/></td>
                    </tr>
                    <tr>
                    	<td class="lblfont">是否愿意接受电话拜访</td>
                        <td><apex:inputField value="{!Patient.PM_IsAcceptCall__c}"/></td>
                        <td class="lblfont">是否已填写个人信息</td>
                        <td><apex:inputField value="{!Patient.PM_Is_Personal_Information__c}"/></td>
                        <td class="lblfont">备注</td>
                        <td><apex:inputField value="{!Patient.PM_CaInformation__c}"/></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                </div>
            </div>
            
            <div id="HighriskSectionDeath">
                <div class="pbSubheader brandTertiaryBgr first tertiaryPalette"><img src="/s.gif" alt="隐藏部分 - 高风险掉队信息"  class="showListButton" id="img_pt" name="高风险掉队信息" onclick="twistDiv(this,'HighriskInformationDeath');" onkeypress="if (event.keyCode=='13')twistDiv(this,'HighriskInformationDeath');" style="cursor:pointer;" tabindex="0" title="隐藏部分 - 高风险掉队信息"/><h3>高风险掉队信息</h3></div>
                <div id="HighriskInformationDeath">
                <table border="0" class="detailList" style="width:90% !important">
                    <tr>
                    	<td class="lblfont">是否高风险</td>
                        <td><apex:inputField value="{!Patient.PM_HighRisk__c}"/></td>
                        <td class="lblfont">是否有转血透意向</td>
                        <td><apex:inputField value="{!Patient.PM_TuHeIntention__c}"/></td>
                        <td class="lblfont">是否有转竞争产品意向</td>
                        <td><apex:inputField value="{!Patient.PM_TuToCoPro__c}"/></td>
                        <td class="lblfont">是否等待移植</td>
                        <td><apex:inputField value="{!Patient.PM_WhTransplants__c}"/></td>
                        
                       
                    </tr>
                    <tr>
                        <td class="lblfont">是否高龄</td>
                        <td><apex:inputField value="{!Patient.PM_IsOld__c}"/></td>
                        <td class="lblfont">是否有腹透通路问题</td>
                        <td><apex:inputField value="{!Patient.PM_DrAcProblems__c}"/></td>
                        <td class="lblfont">是否有心脑疾病</td>
                        <td><apex:inputField value="{!Patient.PM_CeDisease__c}"/></td>
                        <td class="lblfont">是否经济困难</td>
                        <td><apex:inputField value="{!Patient.PM_EcDifficulties__c}"/></td>
                        
                    </tr>
                    <tr>
                        <td class="lblfont">备注</td>
                        <td><apex:inputField value="{!Patient.PM_HRInformation__c}"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                </div>
            </div>  
            
            <div id="HighImpactSectionDeath">
                <div class="pbSubheader brandTertiaryBgr first tertiaryPalette"><img src="/s.gif" alt="隐藏部分 - 高影响信息"  class="showListButton" id="img_pt" name="高影响信息" onclick="twistDiv(this,'HighImpactInformationDeath');" onkeypress="if (event.keyCode=='13')twistDiv(this,'HighImpactInformationDeath');" style="cursor:pointer;" tabindex="0" title="隐藏部分 - 高影响信息"/><h3>高影响信息</h3></div>
                <div id="HighImpactInformationDeath">
                <table border="0" class="detailList" style="width:90% !important">
                    <tr>
                    	<td class="lblfont">是否高影响</td>
                        <td><apex:inputField value="{!Patient.PM_HighImpac__c}"/></td>
                        <td class="lblfont">是否是明星病人</td>
                        <td><apex:inputField value="{!Patient.PM_IsStarPatient__c}"/></td>
                        <td class="lblfont">是否在工作</td>
                        <td><apex:inputField value="{!Patient.PM_BeWorking__c}"/></td>
                        <td class="lblfont">是否在学习</td>
                        <td><apex:inputField value="{!Patient.PM_BeStudent__c}"/> </td>
                       
                    </tr>
                    <tr>
                    	<td class="lblfont">是否有突出兴趣爱好</td>
                        <td><apex:inputField value="{!Patient.PM_HiHobbies__c}"/></td>
                        <td class="lblfont">是否坚持运动</td>
                        <td><apex:inputField value="{!Patient.PM_AdTomovement__c}"/></td>
                    	<td class="lblfont">是否乐观</td>
                        <td><apex:inputField value="{!Patient.PM_Optimistic__c}"/></td>
                        <td class="lblfont">是否健谈</td>
                        <td><apex:inputField value="{!Patient.PM_Talkative__c}"/></td>
                        
                    </tr>
                    <tr>
                        <td class="lblfont">对腹透是否了解</td>
                        <td><apex:inputField value="{!Patient.PM_ATUnderstand__c}"/></td>
                        <td class="lblfont">是否认可baxter</td>
                        <td><apex:inputField value="{!Patient.PM_ReToBaite__c}"/></td>
                        <td class="lblfont">是否>5年</td>
                        <td>
                            <apex:selectList id="PM_ToDrFofive2__c" value="{!ToDrFofive2}" size="1">
                                <apex:selectOption itemValue="--无--" itemLabel="--无--"/>
                                <apex:selectOption itemValue="是" itemLabel="是"/>
                                <apex:selectOption itemValue="否" itemLabel="否"/>
                            </apex:selectList> 
                        </td>
                        <td class="lblfont">是否家庭和睦</td>
                        <td><apex:inputField value="{!Patient.PM_FaPeace__c}"/></td>
                    </tr>
                    <tr>
                   		<td class="lblfont">是否拥有社会地位</td>
                        <td><apex:inputField value="{!Patient.PM_HiSostatus__c}"/></td>
                        <td class="lblfont">备注</td>
                        <td><apex:inputField value="{!Patient.PM_HIInformation__c}"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                </div>
            </div>  
            
            <div id="TreatmentSection">
                <div class="pbSubheader brandTertiaryBgr first tertiaryPalette"><img src="/s.gif" alt="隐藏部分 - 治疗信息"  class="showListButton" id="img_pt" name="治疗信息" onclick="twistDiv(this,'TreatmentInformation');" onkeypress="if (event.keyCode=='13')twistDiv(this,'TreatmentInformation');" style="cursor:pointer;" tabindex="0" title="隐藏部分 - 治疗信息"/><h3>治疗信息</h3></div>
                <div id="TreatmentInformation">
                <table border="0" class="detailList" style="width:90% !important">
                    <tr>
                    	<td class="lblfont">PD治疗方式</td>
                        <td><apex:inputField value="{!Patient.PM_Pdtreatment__c}"/></td>
                        <td class="lblfont">每天用水量</td>
                        <td><apex:inputField value="{!Patient.PM_WaConsumption__c}"/></td>
                        <td class="lblfont">加热方式</td>
                        <td><apex:inputField value="{!Patient.PM_Heatingmode__c}"/></td>
                    </tr>
                    <tr>
                    	<td class="lblfont">是否在同时使用竞品</td>
                        <td><apex:inputField value="{!Patient.PM_UsCoGoSameTime__c}"/></td>
                        <td class="lblfont">是否在同时进行保守治疗</td>
                        <td><apex:inputField value="{!Patient.PM_Stay_Treat__c}"/></td>
                        <td class="lblfont">是否在同时进行HD和PD</td>
                        <td><apex:inputField value="{!Patient.PM_HDAndPD__c}"/></td>
                    </tr>
                    <tr>
                    	<td class="lblfont">治疗医院</td>
                        <td><apex:inputField value="{!Patient.PM_Treat_Hospital__c}"/></td>
                        <td class="lblfont">治疗销售</td>
                        <td><apex:inputField value="{!Patient.PM_Treat_Saler__c}"/></td>
                        <td class="lblfont">治疗医生</td>
                        <td><apex:inputField value="{!Patient.PM_Treat_Doctor__c}"/></td>
                     </tr>
                     <tr>
                     	<td class="lblfont">治疗护士</td>
                        <td><apex:inputField value="{!Patient.PM_Treat_Nurse__c}"/></td>
                        <td class="lblfont">备注</td>
                        <td><apex:inputField value="{!Patient.PM_TrInformation__c}"/></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                </div>
            </div>  
            
            <div id="DealersSection">
                <div class="pbSubheader brandTertiaryBgr first tertiaryPalette"><img src="/s.gif" alt="隐藏部分 - 经销商信息"  class="showListButton" id="img_pt" name="经销商信息" onclick="twistDiv(this,'DealersInformation');" onkeypress="if (event.keyCode=='13')twistDiv(this,'DealersInformation');" style="cursor:pointer;" tabindex="0" title="隐藏部分 - 经销商信息"/><h3>经销商信息</h3></div>
                <div id="DealersInformation">
                <table border="0" class="detailList" style="width:90% !important">  
                    <tr>
                        <td class="lblfont">经销商</td>
                        <td><apex:inputField value="{!Patient.PM_Distributor__c}"/></td>
                        <td class="lblfont">需要添加的终端配送商名称</td>
                        <td><apex:inputField value="{!Patient.PM_DealerRemark__c}"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                </div>
            </div>  
            
            <div id="DropoutSection">
                <div class="pbSubheader brandTertiaryBgr first tertiaryPalette"><img src="/s.gif" alt="隐藏部分 - 掉队信息"  class="showListButton" id="img_pt" name="掉队信息" onclick="twistDiv(this,'DropoutInformation');" onkeypress="if (event.keyCode=='13')twistDiv(this,'DropoutInformation');" style="cursor:pointer;" tabindex="0" title="隐藏部分 - 掉队信息"/><h3>其他信息</h3></div>
                <div id="DropoutInformation">
                <table border="0" class="detailList" style="width:90% !important">
                    <tr>
                        <td class="lblfont">掉队一级原因</td>
                        <td><apex:inputField value="{!Patient.PM_DropOut_One_Reason__c}"/></td>
                        <td class="lblfont">掉队二级原因</td>
                        <td><apex:inputField value="{!Patient.PM_DropOut_Two_Reason__c}"/></td>
                        <td class="lblfont">转用竞品品牌</td>
                        <td><apex:selectList value="{!TransfornBrand}" size="1" style="width:100px;" >
                            <apex:selectOptions value="{!transfornBrands}"/>
                            </apex:selectList>
                        </td>
                        <td class="lblfont">转竞品后掉队原因</td>
                        <td><apex:inputField value="{!Patient.PM_CompetingReason__c}"/></td>
                    </tr>
                    <tr>
		                <td class="lblfont">转归一级原因</td>
					    <td><apex:inputField style="width:80px;" id="zgyjyy" value="{!Patient.PM_TransfornReason__c}" /></td>
					    <td class="lblfont">转归二级原因</td>
					    <td><apex:inputField style="width:80px;" id="zgejyy" value="{!Patient.PM_SecondaryReason__c}" /></td>
					    <td class="lblfont">无法联系原因</td>
					    <td><apex:inputField style="width:80px;" id="wflxyy" value="{!Patient.PM_Disappearanc__c}" /></td>
					    <td></td>
					    <td></td> 
                    </tr>
                    <tr>
                    	<td class="lblfont">实际转归日期</td>
					    <td><apex:inputText style="width:80px;" id="sjzgrq" value="{!TransfornDate_Start}" onfocus="DatePicker.pickDate(true, 'pt:f:bl:sjzgrq', false);"/></td>
					    <td>至<apex:inputText style="width:80px;" id="sjzgrqh" value="{!TransfornDate_End}" onfocus="DatePicker.pickDate(true, 'pt:f:bl:sjzgrqh', false);"/></td>
					   	<td></td>
                    	<td class="lblfont">转归创建日期</td>
					    <td><apex:inputText style="width:80px;" id="zgcjrq" value="{!TransfornCreateDate_Start}" onfocus="DatePicker.pickDate(true, 'pt:f:bl:zgcjrq', false);"/></td>
					    <td>至<apex:inputText style="width:80px;" id="zgcjrqh" value="{!TransfornCreateDate_End}" onfocus="DatePicker.pickDate(true, 'pt:f:bl:zgcjrqh', false);"/></td>
		           		<td></td>
		            </tr>
		            <tr>
		                <td class="lblfont">转竞品后掉队创建日期</td>
					    <td><apex:inputText style="width:80px;" id="zjddcj" value="{!TransfornCreatedDate_Start}" onfocus="DatePicker.pickDate(true, 'pt:f:bl:zjddcj', false);"/></td>
					    <td>至<apex:inputText style="width:80px;" id="zjddcje" value="{!TransfornCreatedDate_End}" onfocus="DatePicker.pickDate(true, 'pt:f:bl:zjddcje', false);"/></td>
					    <td></td>
					    <td class="lblfont">转竞品后掉队实际日期</td>
					    <td><apex:inputText style="width:80px;" id="zjddsj" value="{!TransfornActDate_Start}" onfocus="DatePicker.pickDate(true, 'pt:f:bl:zjddsj', false);"/></td>
					    <td>至<apex:inputText style="width:80px;" id="zjddsje" value="{!TransfornActDate_End}" onfocus="DatePicker.pickDate(true, 'pt:f:bl:zjddsje', false);"/></td>
						<td></td>
					</tr>
					<tr>    
					    <td class="lblfont">Unreachable创建日期</td>
					    <td><apex:inputText style="width:80px;" id="wflxcjrq" value="{!UnreachableDate_Start}" onfocus="DatePicker.pickDate(true, 'pt:f:bl:wflxcjrq', false);"/></td>
					    <td>至<apex:inputText style="width:80px;" id="wflxcjrqh" value="{!UnreachableDate_End}" onfocus="DatePicker.pickDate(true, 'pt:f:bl:wflxcjrqh', false);"/></td>
					    <td></td>
                    </tr>
                </table>
                </div>
            </div>  
            <!-- Henry Add End 2013-10-16 -->
            </div>
            <!-- 选择导出字段区域 -->
            <div id="fields" style="display:none"> 
            <div class="pbSubheader brandTertiaryBgr first tertiaryPalette"><img src="/s.gif" alt="隐藏部分 - 导出字段"  class="hideListButton" id="img_pt" name="导出字段" onclick="twistDiv(this,'ExportFieldPanel');" onkeypress="if (event.keyCode=='13')twistDiv(this,'ExportFieldPanel');" style="cursor:pointer;" tabindex="0" title="隐藏部分 - 导出字段"/><h3>导出字段</h3></div>
            <div id="ExportFieldPanel" style="margin-left:20px">
                 <apex:commandButton styleClass="btn"  onclick="check_all();" value="全部选择" id="AllCheckButton" reRender="pt:f:bl:result"/>
                 <apex:commandButton styleClass="btn"  onclick="uncheck_all();" value="全部取消" id="AllNoCheckButton" reRender="pt:f:bl:result"/>
                 <div id="BasicSectionExport">
                    <div class="pbSubheader brandTertiaryBgr first tertiaryPalette"><img src="/s.gif" alt="隐藏部分 - 基本信息导出字段"  class="showListButton" id="img_pt" name="基本信息导出字段" onclick="twistDiv(this,'BasicInformationExport');" onkeypress="if (event.keyCode=='13')twistDiv(this,'BasicInformationExport');" style="cursor:pointer;" tabindex="0" title="隐藏部分 - 基本信息导出字段"/><h3>基本信息</h3></div>
                    <div id="BasicInformationExport">
                        <table border="0"  style="width:90%">
                            <apex:repeat value="{!list_BaseInfoWrapper}" var="secList">
                                <tr>
                                    <apex:repeat value="{!secList}" var="f">
                                        <td class="lblfont" style = "width:25%">
                                            <apex:inputCheckbox value="{!f.IsChecked}" id="ExportField" /> 
                                            {!f.fieldLabel}
                                        </td>
                                    </apex:repeat>
                                </tr>
                            </apex:repeat>
                        </table>
                    </div>
                </div>
                
                <div id="ContactSectionExport">
                    <div class="pbSubheader brandTertiaryBgr first tertiaryPalette"><img src="/s.gif" alt="隐藏部分 - 联系拜访导出字段"  class="showListButton" id="img_pt" name="联系拜访导出字段" onclick="twistDiv(this,'ContactInformationExport');" onkeypress="if (event.keyCode=='13')twistDiv(this,'ContactInformationExport');" style="cursor:pointer;" tabindex="0" title="隐藏部分 - 联系拜访导出字段"/><h3>联系拜访</h3></div>
                    <div id="ContactInformationExport">
                        <table border="0"  style="width:90%">
                            <apex:repeat value="{!list_ContactWrapper3}" var="secList">
                                <tr>
                                    <apex:repeat value="{!secList}" var="f">
                                        <td class="lblfont" style = "width:25%">
                                            <apex:inputCheckbox value="{!f.IsChecked}" id="ExportFieldTelphone1" onchange="contactCheckPhone(this);"/> 
                                            {!f.fieldLabel}
                                        </td>
                                    </apex:repeat>
                                    <td class="lblfont" style = "width:25%"></td>
                                </tr>
                            </apex:repeat>
                            <apex:repeat value="{!list_ContactWrapper1}" var="secList">
                                <tr>
                                    <apex:repeat value="{!secList}" var="f">
                                        <td class="lblfont" style = "width:25%">
                                            <apex:inputCheckbox value="{!f.IsChecked}" id="ExportFieldTelphone2" onchange="contactCheck2(this);"/> 
                                            {!f.fieldLabel}
                                        </td>
                                    </apex:repeat>
                                    <td class="lblfont" style = "width:25%"></td>
                                </tr>
                            </apex:repeat>
                            <apex:repeat value="{!list_ContactWrapper2}" var="secList">
                                <tr>
                                    <apex:repeat value="{!secList}" var="f">
                                        <td class="lblfont" style = "width:25%">
                                            <apex:inputCheckbox value="{!f.IsChecked}" id="ExportFieldVisitTime"  onchange="bestVisitCheck(this);"/> 
                                            {!f.fieldLabel}
                                        </td>
                                    </apex:repeat>
                                    <td class="lblfont" style = "width:25%"></td>
                                </tr>
                            </apex:repeat>
                        </table>
                    </div>
                </div>
                
                <div id="IntubateSectionExport">
                    <div class="pbSubheader brandTertiaryBgr first tertiaryPalette"><img src="/s.gif" alt="隐藏部分 - 插管信息导出字段"  class="showListButton" id="img_pt" name="插管信息导出字段" onclick="twistDiv(this,'IntubateInformationExport');" onkeypress="if (event.keyCode=='13')twistDiv(this,'IntubateInformationExport');" style="cursor:pointer;" tabindex="0" title="隐藏部分 - 插管信息导出字段"/><h3>插管信息</h3></div>
                    <div id="IntubateInformationExport">
                        <table border="0"  style="width:90%">
                            <apex:repeat value="{!list_InInfoWrapper}" var="secList">
                                <tr>
                                    <apex:repeat value="{!secList}" var="f">
                                        <td class="lblfont" style = "width:25%">
                                            <apex:inputCheckbox value="{!f.IsChecked}" id="ExportField" /> 
                                            {!f.fieldLabel}
                                        </td>
                                    </apex:repeat>
                                </tr>
                            </apex:repeat>
                        </table>
                    </div>
                </div>
                
                <div id="ClinicalSectionExport">
                    <div class="pbSubheader brandTertiaryBgr first tertiaryPalette"><img src="/s.gif" alt="隐藏部分 - 临床信息导出字段"  class="showListButton" id="img_pt" name="临床信息导出字段" onclick="twistDiv(this,'ClinicalInformationExport');" onkeypress="if (event.keyCode=='13')twistDiv(this,'ClinicalInformationExport');" style="cursor:pointer;" tabindex="0" title="隐藏部分 - 临床信息导出字段"/><h3>临床信息</h3></div>
                    <div id="ClinicalInformationExport">
                        <table border="0"  style="width:90%">
                        <apex:repeat value="{!list_ClinicalInfoWrapper}" var="secList">
                                <tr>
                                    <apex:repeat value="{!secList}" var="f">
                                        <td class="lblfont" style = "width:25%">
                                            <apex:inputCheckbox value="{!f.IsChecked}" id="ExportField" /> 
                                            {!f.fieldLabel}
                                        </td>
                                    </apex:repeat>
                                </tr>
                            </apex:repeat>
                        </table>
                    </div>
                </div>
                
                <div id="CaringSectionExport">
                    <div class="pbSubheader brandTertiaryBgr first tertiaryPalette"><img src="/s.gif" alt="隐藏部分 - 关爱信息导出字段"  class="showListButton" id="img_pt" name="关爱信息导出字段" onclick="twistDiv(this,'CaringInformationExport');" onkeypress="if (event.keyCode=='13')twistDiv(this,'CaringInformationExport');" style="cursor:pointer;" tabindex="0" title="隐藏部分 - 关爱信息导出字段"/><h3>关爱信息</h3></div>
                    <div id="CaringInformationExport">
                        <table border="0"  style="width:90%">
                            <apex:repeat value="{!list_CareInfoWrapper}" var="secList">
                                <tr>
                                    <apex:repeat value="{!secList}" var="f">
                                        <td class="lblfont" style = "width:25%">
                                            <apex:inputCheckbox value="{!f.IsChecked}" id="ExportField" /> 
                                            {!f.fieldLabel}
                                        </td>
                                    </apex:repeat>
                                </tr>
                            </apex:repeat>
                        </table>
                    </div>
                </div>
                
                <div id="HighriskSectionExport">
                    <div class="pbSubheader brandTertiaryBgr first tertiaryPalette"><img src="/s.gif" alt="隐藏部分 - 高风险掉队信息导出字段"  class="showListButton" id="img_pt" name="高风险掉队信息导出字段" onclick="twistDiv(this,'HighriskInformationExport');" onkeypress="if (event.keyCode=='13')twistDiv(this,'HighriskInformationExport');" style="cursor:pointer;" tabindex="0" title="隐藏部分 - 高风险掉队信息导出字段"/><h3>高风险掉队信息</h3></div>
                    <div id="HighriskInformationExport">
                        <table border="0"  style="width:90%">
                            <apex:repeat value="{!list_HighRiskWrapper}" var="secList">
                                <tr>
                                    <apex:repeat value="{!secList}" var="f">
                                        <td class="lblfont" style = "width:25%">
                                            <apex:inputCheckbox value="{!f.IsChecked}" id="ExportField" /> 
                                            {!f.fieldLabel}
                                        </td>
                                    </apex:repeat>
                                </tr>
                            </apex:repeat>
                        </table>
                    </div>
                </div>
                
                <div id="HighImpactSectionExport">
                    <div class="pbSubheader brandTertiaryBgr first tertiaryPalette"><img src="/s.gif" alt="隐藏部分 - 高影响信息导出字段"  class="showListButton" id="img_pt" name="高影响信息导出字段" onclick="twistDiv(this,'HighImpactInformationExport');" onkeypress="if (event.keyCode=='13')twistDiv(this,'HighImpactInformationExport');" style="cursor:pointer;" tabindex="0" title="隐藏部分 - 高影响信息导出字段"/><h3>高影响信息</h3></div>
                    <div id="HighImpactInformationExport">
                        <table border="0"  style="width:90%">
                            <apex:repeat value="{!list_HighEffectWrapper}" var="secList">
                                <tr>
                                    <apex:repeat value="{!secList}" var="f">
                                        <td class="lblfont" style = "width:25%">
                                            <apex:inputCheckbox value="{!f.IsChecked}" id="ExportField" /> 
                                            {!f.fieldLabel}
                                        </td>
                                    </apex:repeat>
                                </tr>
                             </apex:repeat>
                        </table>
                    </div>
                </div>
                
                <div id="TreatmentSectionExport">
                    <div class="pbSubheader brandTertiaryBgr first tertiaryPalette"><img src="/s.gif" alt="隐藏部分 - 治疗信息导出字段"  class="showListButton" id="img_pt" name="治疗信息导出字段" onclick="twistDiv(this,'TreatmentInformationExport');" onkeypress="if (event.keyCode=='13')twistDiv(this,'TreatmentInformationExport');" style="cursor:pointer;" tabindex="0" title="隐藏部分 - 治疗信息导出字段"/><h3>治疗信息</h3></div>
                    <div id="TreatmentInformationExport">
                        <table border="0"  style="width:90%">
                        <apex:repeat value="{!list_TreatInfoWrapper}" var="secList">
                                <tr>
                                    <apex:repeat value="{!secList}" var="f">
                                        <td class="lblfont" style = "width:25%">
                                            <apex:inputCheckbox value="{!f.IsChecked}" id="ExportField" /> 
                                            {!f.fieldLabel}
                                        </td>
                                    </apex:repeat>
                                </tr>
                         </apex:repeat>
                        </table>
                    </div>
                </div>
                
                <div id="DealersSectionExport">
                    <div class="pbSubheader brandTertiaryBgr first tertiaryPalette"><img src="/s.gif" alt="隐藏部分 - 经销商信息导出字段"  class="showListButton" id="img_pt" name="经销商信息导出字段" onclick="twistDiv(this,'DealersInformationExport');" onkeypress="if (event.keyCode=='13')twistDiv(this,'DealersInformationExport');" style="cursor:pointer;" tabindex="0" title="隐藏部分 - 经销商信息导出字段"/><h3>经销商信息</h3></div>
                    <div id="DealersInformationExport">
                        <table border="0"  style="width:90%">
                        <apex:repeat value="{!list_DealerInfoWrapper}" var="secList">
                                <tr>
                                    <apex:repeat value="{!secList}" var="f">
                                        <td class="lblfont" style = "width:25%">
                                            <apex:inputCheckbox value="{!f.IsChecked}" id="ExportField" /> 
                                            {!f.fieldLabel}
                                        </td>
                                    </apex:repeat>
                                    <td class="lblfont" style = "width:25%"></td>
                                </tr>
                         </apex:repeat>
                        </table>
                    </div>
                </div>
                
                <div id="DropoutSectionExport">
                    <div class="pbSubheader brandTertiaryBgr first tertiaryPalette"><img src="/s.gif" alt="隐藏部分 - 掉队信息导出字段"  class="showListButton" id="img_pt" name="掉队信息导出字段" onclick="twistDiv(this,'DropoutInformationExport');" onkeypress="if (event.keyCode=='13')twistDiv(this,'DropoutInformationExport');" style="cursor:pointer;" tabindex="0" title="隐藏部分 - 掉队信息导出字段"/><h3>其他信息</h3></div>
                    <div id="DropoutInformationExport">
                        <table border="0"  style="width:90%">
                            <apex:repeat value="{!list_DropInfoWrapper}" var="secList">
                                <tr>
                                    <apex:repeat value="{!secList}" var="f">
                                        <td class="lblfont" style = "width:25%">
                                            <apex:inputCheckbox value="{!f.IsChecked}" id="ExportField" /> 
                                            {!f.fieldLabel}
                                        </td>
                                    </apex:repeat>
                                </tr>
                         </apex:repeat>
                        </table>
                    </div>
                </div>
                
            </div>
            </div>
            <apex:pageblocksection id="result" columns="1" title="共有病人记录：{!categoryNumber}条" >
            
            <apex:pageBlockTable value="{!list_Patient}" var="item" id="bTable">
                <apex:column width="20px">
                <apex:facet name="header">
                <apex:inputCheckbox id="allCheck">
                <apex:actionSupport event="onclick" onsubmit="checkAll(this)" />
                </apex:inputCheckbox>
                </apex:facet>
                <apex:inputCheckbox value="{!item.IsExport}" id="checkedone"/>
                </apex:column>
                <apex:column headerValue="编号" >
                <apex:facet name="header">
                <apex:commandLink action="{!sortOrders}" rerender="result" status="status1">编号
                <apex:outputText rendered="{!and(strSortField=='PM_PatientNo__c',strOrder=='desc')}">↓</apex:outputText>
                <apex:outputText rendered="{!and(strSortField=='PM_PatientNo__c',strOrder=='asc')}">↑</apex:outputText>
                 <apex:param name="sortField" value="PM_PatientNo__c" assignTo="{!strSortField}"/>
                </apex:commandLink>
                </apex:facet>
                <apex:commandLink value="{!item.patient.PM_PatientNo__c}" onclick="goToNormDetail('{!item.patient.Id}');return false;" />
                </apex:column>
                
                <apex:column headerValue="姓名" >
                <apex:facet name="header">
                <apex:commandLink action="{!sortOrders}" rerender="result" status="status1">姓名
                <apex:outputText rendered="{!and(strSortField=='Name',strOrder=='desc')}">↓</apex:outputText>
                <apex:outputText rendered="{!and(strSortField=='Name',strOrder=='asc')}">↑</apex:outputText>
                 <apex:param name="sortField" value="Name" assignTo="{!strSortField}"/>
                </apex:commandLink>
                </apex:facet>
                <apex:commandLink value="{!item.patient.Name}" onclick="goToDetail('{!item.patient.Id}');return false;" />
                </apex:column>
                
                <apex:column headerValue="地址" >
                <apex:facet name="header">
                <apex:commandLink action="{!sortOrders}" rerender="result" status="status1">地址
                <apex:outputText rendered="{!and(strSortField=='PM_Address__c',strOrder=='desc')}">↓</apex:outputText>
                <apex:outputText rendered="{!and(strSortField=='PM_Address__c',strOrder=='asc')}">↑</apex:outputText>
                 <apex:param name="sortField" value="PM_Address__c" assignTo="{!strSortField}"/>
                </apex:commandLink>
                </apex:facet>
                <apex:outputfield value="{!item.patient.PM_Address__c}"/>
                </apex:column>
                
                <apex:column headerValue="插管省份" >
                <apex:facet name="header">
                <apex:commandLink action="{!sortOrders}" rerender="result" status="status1">插管省份
                <apex:outputText rendered="{!and(strSortField=='PM_InHospital__r.PM_Province__c',strOrder=='desc')}">↓</apex:outputText>
                <apex:outputText rendered="{!and(strSortField=='PM_InHospital__r.PM_Province__c',strOrder=='asc')}">↑</apex:outputText>
                 <apex:param name="sortField" value="PM_InHospital__r.PM_Province__c" assignTo="{!strSortField}"/>
                </apex:commandLink>
                </apex:facet>
                <apex:outputfield value="{!item.patient.PM_InHospital__r.PM_Province__c}"/>
                </apex:column>
                
                <apex:column headerValue="插管医院" >
                <apex:facet name="header">
                <apex:commandLink action="{!sortOrders}" rerender="result" status="status1">插管医院
                <apex:outputText rendered="{!and(strSortField=='PM_InHospital__c',strOrder=='desc')}">↓</apex:outputText>
                <apex:outputText rendered="{!and(strSortField=='PM_InHospital__c',strOrder=='asc')}">↑</apex:outputText>
                 <apex:param name="sortField" value="PM_InHospital__c" assignTo="{!strSortField}"/>
                </apex:commandLink>
                </apex:facet>
                <apex:outputfield value="{!item.patient.PM_InHospital__c}"/>
                </apex:column>
                
                <apex:column headerValue="当前负责销售" >
                <apex:facet name="header">
                <apex:commandLink action="{!sortOrders}" rerender="result" status="status1">当前负责销售
                <apex:outputText rendered="{!and(strSortField=='PM_Current_Saler__c',strOrder=='desc')}">↓</apex:outputText>
                <apex:outputText rendered="{!and(strSortField=='PM_Current_Saler__c',strOrder=='asc')}">↑</apex:outputText>
                 <apex:param name="sortField" value="PM_Current_Saler__c" assignTo="{!strSortField}"/>
                </apex:commandLink>
                </apex:facet>
                <apex:outputfield value="{!item.patient.PM_Current_Saler__c}"/>
                </apex:column>
                
                <apex:column headerValue="负责PSR" >
                <apex:facet name="header">
                <apex:commandLink action="{!sortOrders}" rerender="result" status="status1">负责PSR
                <apex:outputText rendered="{!and(strSortField=='PM_Current_PSR__c',strOrder=='desc')}">↓</apex:outputText>
                <apex:outputText rendered="{!and(strSortField=='PM_Current_PSR__c',strOrder=='asc')}">↑</apex:outputText>
                 <apex:param name="sortField" value="PM_Current_PSR__c" assignTo="{!strSortField}"/>
                </apex:commandLink>
                </apex:facet>
                <apex:outputfield value="{!item.patient.PM_Current_PSR__c}"/>
                </apex:column>
                
                
                <apex:column headerValue="状态" >
                <apex:facet name="header">
                <apex:commandLink action="{!sortOrders}" rerender="result" status="status1">状态
                <apex:outputText rendered="{!and(strSortField=='PM_Status__c',strOrder=='desc')}">↓</apex:outputText>
                <apex:outputText rendered="{!and(strSortField=='PM_Status__c',strOrder=='asc')}">↑</apex:outputText>
                 <apex:param name="sortField" value="PM_Status__c" assignTo="{!strSortField}"/>
                </apex:commandLink>
                </apex:facet>
                <apex:outputfield value="{!item.patient.PM_Status__c}"/> 
                </apex:column>
            </apex:pageBlockTable> 
                <apex:panelGrid columns="6">
                    <apex:commandLink action="{!first}" rendered="{!hasPrevious}" reRender="result">首页</apex:commandlink>
                    <apex:commandLink action="{!previous}" rendered="{!hasPrevious}" reRender="result">上一页</apex:commandlink>
                    <apex:commandLink action="{!next}" rendered="{!hasNext}" reRender="result">下一页</apex:commandlink>
                    <apex:commandLink action="{!last}" rendered="{!hasNext}" reRender="result">尾页</apex:commandlink>
                    <apex:outputText value="第{!pageNumber}页" />
                    <apex:outputText value="本页共{!result}条" />
                </apex:panelGrid>
            </apex:pageblocksection>
        </apex:pageBlock>
        <apex:actionFunction action="{!exportExcel}" name="exportExcelMethod"></apex:actionFunction>
    </apex:form>
</body>
</apex:page>