<apex:page tabStyle="Contact_Mod__c" standardController="Contact_Mod__c" extensions="TW_CtrAddContact" id="mypage" >

<apex:form id="myform">  
	<apex:pagemessages />
	<apex:actionFunction action="{!getContactInfo}" name="getContactInfoJs" reRender="Section2" status="ChangeOption"/>
	<apex:sectionHeader title="新增HCP修改申请" subtitle="選取HCP修改申请記錄類型" description="選取 新增HCP修改申请的記錄類型。 以後若要略過此頁面，請在個人設定頁上變更您的記錄類型設定。" rendered="{!IsPage1}"/> 
	<apex:pageblock title="選取HCP修改申请記錄類型" rendered="{!IsPage1}">
		<apex:pageBlockButtons location="bottom">
                <apex:commandButton action="{!PageContinue}" value="繼續" reRender="myform" status="Continue" disabled="{!IsLock}"/>
                <apex:commandButton action="{!Cancel}" value="取消" status="saveStatus"/>
                <apex:actionStatus id="Continue">
	                <apex:facet name="start">
	                    <apex:image id="messageIcon" value="{!$Resource.AjaxAnimation}" />
	                </apex:facet>
	                <apex:facet name="stop">
	                </apex:facet>
	            </apex:actionStatus>
         </apex:pageBlockButtons>
		<apex:pageBlockSection columns="2" showHeader="false">
			<apex:pageBlockSectionItem >
				<apex:outputLabel value="新增記錄的記錄類型" for="RT__name"/>
            <apex:selectList size="1" value="{!RtDevName}" id="RT_name" required="true">
 				<apex:selectOptions value="{!RecordTypelist}" />
 		  	</apex:selectList>
			</apex:pageBlockSectionItem>
		</apex:pageBlockSection>
	</apex:pageblock>
<!--	编辑界面-->
	<apex:sectionHeader subtitle="编辑：HCP修改申請"  rendered="{!IsPage2}"/> 
	<apex:pageblock title="HCP申請編輯"  rendered="{!IsPage2}">
		<apex:pageBlockButtons location="bottom">
                <apex:commandButton action="{!SaveContactMod}" value="保存並提交審批" status="saveStatus2" disabled="{!IsLock}" reRender="myform"  />
                <apex:actionStatus id="saveStatus2">
	                <apex:facet name="start2">
	                    <apex:image id="messageIcon2" value="{!$Resource.AjaxAnimation}" />
	                </apex:facet>
	                <apex:facet name="stop2">
	                </apex:facet>
	            </apex:actionStatus>
                <apex:commandButton action="{!Cancel}" value="取消"/>
         </apex:pageBlockButtons>
		<apex:pageBlockSection columns="2" title="申請模式" collapsible="false">
			<apex:outputfield value="{!curContact.Type__c}" />
    		<apex:outputfield value="{!curContact.Account__c}"/>
    		<apex:pageBlockSectionItem rendered="{!IsEdit}">
        		<apex:outputLabel value="選擇要修改HCP" for="Con__name"/>
        		<apex:selectList size="1"  value="{!contactId}"  Onchange="getContactInfoJs()" Id="Con_name">
		            <apex:selectOptions value="{!ContactOption}"/>
		        </apex:selectList>
		   	</apex:pageBlockSectionItem>
		   	<apex:actionStatus id="ChangeOption">
                <apex:facet name="start">
                    <apex:image id="messageIcon" value="{!$Resource.AjaxAnimation}" />
                </apex:facet>
                <apex:facet name="stop">
                </apex:facet>
            </apex:actionStatus>
		</apex:pageBlockSection>
		<apex:outputPanel id="Section2">
			<apex:pageBlockSection columns="2" title="詳細信息" collapsible="false">
				<apex:inputfield value="{!curContact.NewContact__c}" required="true"/>
				<apex:inputfield value="{!curContact.Gender__c}"/>
				<apex:inputfield value="{!curContact.Phone__c}"/>
				<apex:inputfield value="{!curContact.Mobile__c}"/>
				<apex:inputfield value="{!curContact.Email__c}"/>
				<apex:inputfield value="{!curContact.Birthday__c}"/>
				<apex:inputfield value="{!curContact.TW_Title__c}"/>
				<apex:inputfield value="{!curContact.TW_Position__c}"/>
				<apex:inputfield value="{!curContact.TW_Department__c}"/> 
				<apex:inputfield value="{!curContact.TW_DoctorStatus__c}"/>
				<apex:inputfield value="{!curContact.V2_interest__c}"/>
				<apex:inputfield value="{!curContact.TW_DoctorStatusDetail__c}"/>
				<apex:inputfield value="{!curContact.Comment__c}"/>
			</apex:pageBlockSection>
            <!--	评估资讯		-->
            <apex:pageBlockSection columns="2" title="評估資訊" collapsible="false">
				<apex:inputfield value="{!curContact.TW_RateBaxterProduct__c}"/>
				<apex:inputfield value="{!curContact.V2_Level__c}"/>
				<apex:inputfield value="{!curContact.V2_ContactTypeByRENAL__c}"/>
				<apex:inputfield value="{!curContact.TW_RateBaxBusiness__c}"/>
				<apex:inputfield value="{!curContact.TW_Outpatient__c}"/>
				<apex:inputfield value="{!curContact.V2_Education__c}"/>
				<apex:inputfield value="{!curContact.TW_AverageInpatients__c}"/> 
				<apex:inputfield value="{!curContact.V2_RateLeadership__c}"/>
				<apex:inputfield value="{!curContact.TW_PrescriptionPotential__c}"/>
				<apex:inputfield value="{!curContact.V2_TotalScore__c}"/>
			</apex:pageBlockSection>
            <!--	市场细分资讯		-->
            <apex:pageBlockSection columns="2" title="市場細分資訊" collapsible="false">
				<apex:inputfield value="{!curContact.TW_INfusor__c}"/>
				<apex:inputfield value="{!curContact.TW_INfusorType__c}"/>
				<apex:inputfield value="{!curContact.TW_Nutrition__c}"/>
				<apex:inputfield value="{!curContact.TW_NutritionType__c}"/>
			</apex:pageBlockSection>
		</apex:outputPanel>
	</apex:pageblock>
</apex:form>
</apex:page>