<apex:page standardcontroller="V2_Account_Team__c" extensions="V2_CreateAccountTeam_Con">
	<script>
		function  Confirm()
		{
			var win = window.confirm("您确认保存并提交审批吗？");
			if(!win)
			{
				return false;
			}
		}
	</script>
	<apex:sectionHeader subtitle="新建客户小组成员"/>
	<apex:form >
		<apex:pageBlock >
		<apex:pageMessage severity="warning" strength="2" summary="{!strRepMsgShow}" rendered="{!blnRepMsgShow}"/>
		<apex:pageMessage severity="error" strength="2" summary="{!strMessage}" rendered="{!blnIsMesShow}"/>
		<apex:pageBlockSection title="选择是否替换原成员" columns="2" Id="theBlock" rendered="{!blnSubordinateShow && Isdisabled==false}">
			<apex:pageBlockSectionItem >
				<apex:outputLabel value="替换原成员"/>
				<apex:inputCheckbox value="{!blnReplace}"  />
			</apex:pageBlockSectionItem>
			<apex:pageBlockSectionItem >
				<apex:outputLabel value="选择原成员"/>
				<apex:selectList size="1" value="{!strUserId}">
					<apex:selectOptions value="{!ListUser}"/>
				</apex:selectList>
			</apex:pageBlockSectionItem>
		</apex:pageBlockSection>
		
		<apex:pageBlockSection title="小组成员信息" columns="2" rendered="{!Isdisabled==false}">
			<apex:pageBlockSectionItem >
				<apex:outputLabel value="小组成员"/>
				<apex:inputField value="{!objAccountTeam.V2_User__c}" required="true"/>
			</apex:pageBlockSectionItem>
			<apex:pageBlockSectionItem >
				<apex:outputLabel value="起效年份"/>
				<apex:selectList size="1" value="{!Year}" >
					<apex:selectOptions value="{!ListYears}"/>
				</apex:selectList>
			</apex:pageBlockSectionItem>	
			<apex:pageBlockSectionItem >
				<apex:outputLabel value="起效月份"/>
				<apex:selectList size="1"  value="{!Month}" >
					<apex:selectOptions value="{!ListMonths}"/>
				</apex:selectList>
			</apex:pageBlockSectionItem>
			<apex:pageBlockSectionItem >
				<apex:outputLabel value="调整原因"/>
				<apex:inputField value="{!objAccountTeam.V2_AdjustReson__c}" required="true"/>			</apex:pageBlockSectionItem>
		</apex:pageBlockSection> 
		
		<apex:pageblockButtons location="bottom">
			<apex:commandButton value="完成并提交审批" onclick="return Confirm()" action="{!saveChange2}" rendered="{!Isdisabled==false}"/>
			<apex:commandButton value="取消" action="{!doCancel}" immediate="true"/>
		</apex:pageblockButtons>
		</apex:pageBlock>
	</apex:form>
	
	
	
	
</apex:page>