<apex:page standardcontroller="Lead" extensions="V2_CreateLeadTeam_Con">
	<script>
		function  Confirm()
		{
			var win = window.confirm("您确认保存并提交审批吗？");
			if(!win)
			{
				return false;
			}
		}
	</script>
	<apex:sectionHeader subtitle="新建客户小组成员"/>
	<apex:form >
		<apex:pageBlock >
		<apex:pageMessages />
		<apex:pageMessage severity="error" strength="2" summary="{!strMessage}" rendered="{!blnIsMesShow}"/>
		
		<apex:pageBlockSection title="新建小组成员" columns="3" rendered="{!blnFieldShow}">
		<apex:pageBlockSectionItem >
			<apex:outputLabel value="小组成员"/>
			<apex:inputField value="{!objLeadTeam.V2_User__c}"/>
		</apex:pageBlockSectionItem>
		<apex:pageBlockSectionItem >
			<apex:outputLabel value="起效年份"/>
			<apex:selectList size="1" value="{!Year}" >
				<apex:selectOptions value="{!ListYears}"/>
			</apex:selectList>
		</apex:pageBlockSectionItem>	
		<apex:pageBlockSectionItem >
			<apex:outputLabel value="起效月份"/>
			<apex:selectList size="1"  value="{!Month}" >
				<apex:selectOptions value="{!ListMonths}"/>
			</apex:selectList>
		</apex:pageBlockSectionItem>
		</apex:pageBlockSection> 
		
		
		<apex:pageblockButtons location="bottom">
			<apex:commandButton value="完成并提交审批" onclick="return Confirm()" action="{!saveChange2}" disabled="{!Isdisabled}"/>
			<apex:commandButton value="返回" action="{!doCancel}"/>
		</apex:pageblockButtons>
		</apex:pageBlock>
	</apex:form>
</apex:page>