<apex:page standardController="Vaporizer_Application_Detail__c" recordSetVar="vad" extensions="Ctrl_VaporizerSalesReceive" showHeader="false">
<script>
function checkAll(cb)
{
    var inputElem = document.getElementsByTagName("input");
    for(var i=0; i<inputElem.length; i++)
    {
    if(inputElem[i].id.indexOf("checkedone")!=-1)
    inputElem[i].checked = cb.checked;
    }
}
function myConfirm(){
    var cf = window.confirm('您确认要将勾选的挥发罐确认收货吗？\n请在确定收到货之后点击确认！');
    //alert(cf);
    if(cf){
        return true;
    }else{
        window.event.returnValue = false;
        return false;
    }
}
//窗口关闭时刷新父页面
//window.onunload = function(){ 
//    window.opener.location.reload(); 
//} 
</script>
<apex:form >
<apex:pageBlock >
<apex:outputPanel style="font-size: 16px;"> 
<apex:outputLabel value="销售确认收货"/><br/>
</apex:outputPanel>
<apex:outputPanel style="font-size: 13px;">
    <apex:outputLabel value="1. 此页面将会显示尚未收货的发货明细" /><br/>
    <apex:outputLabel value="2. 请在确定收到货之后，填写手术室号并点击确定按钮" /><br/>
    <apex:outputLabel value="3. 未填写手术号的将认为尚未收到货，不会被确定为收货" /><br/>
</apex:outputPanel>
<apex:pageMessages />
<apex:pageBlockTable value="{!list_AppDetail}" var="ap">
<!-- 
<apex:column width="20px">
<apex:facet name="header">
<apex:inputCheckbox id="allCheck" >
<apex:actionSupport event="onclick" onsubmit="checkAll(this)" />
</apex:inputCheckbox>
</apex:facet>
<apex:inputCheckbox value="{!ap.blnSelected}" id="checkedone"/>
</apex:column>
 -->
<apex:column headerValue="{!$ObjectType.Vaporizer_Application_Detail__c.fields.VaporizerInfo__c.label}">
<apex:outputField value="{!ap.appDetail.VaporizerInfo__c}"/>
</apex:column>
<apex:column headerValue="{!$ObjectType.Vaporizer_Application_Detail__c.fields.VaporType__c.label}">
<apex:outputField value="{!ap.appDetail.VaporType__c}"/>
</apex:column>
<apex:column headerValue="{!$ObjectType.Vaporizer_Application_Detail__c.fields.VaporInterface__c.label}">
<apex:outputField value="{!ap.appDetail.VaporInterface__c}"/>
</apex:column>
<apex:column headerValue="{!$ObjectType.Vaporizer_Application_Detail__c.fields.AppProduct__c.label}">
<apex:outputField value="{!ap.appDetail.AppProduct__c}"/>
</apex:column>
<apex:column headerValue="{!$ObjectType.Vaporizer_Application_Detail__c.fields.OperationRoom_No__c.label}">
<div class="requiredInput">
<!-- <div class="requiredBlock"></div> -->
<apex:inputField value="{!ap.appDetail.OperationRoom_No__c}" />
</div>
</apex:column>
</apex:pageBlockTable>
<apex:pageBlockButtons location="bottom">
<apex:commandButton action="{!SaveDetails}" value="确定" onclick="if(myConfirm())return;"/>
<input type="button" value="关闭" class="btn" onclick="window.opener.location.reload();window.close();"/>
</apex:pageBlockButtons>
</apex:pageBlock>
</apex:form>
</apex:page>