<apex:page standardController="Lead" extensions="ChinaLeadToInvalid" action="{!init}" tabStyle="Lead">
<apex:pageMessages escape="false"/>
  <script language="javascript">
  	<apex:outputText value="{!IF(haveError, '', 'window.location.href=\"/'+currId+'\";')}" />
  </script> 
</apex:page>