<!-- Create by Steven 20140515 -->
<apex:page standardController="Account_Competitor_Situation__c" extensions="ChinaNAMainChannelController" action="{!initMainChannel}">
<apex:includeScript value="{!$Resource.jquery}"/>
<head>
	<title>主导厂商及我司拓展管理</title>
</head>
<body>
	<apex:form id="ert">
	  <!-- 定义Action可以在JS的function中直接调用 -->
		<apex:actionFunction name="saveMainChannel" action="{!saveMainChannel}"/>
		<apex:actionFunction name="addMainChannel" action="{!addMainChannel}"/>
		<apex:actionFunction name="deleteMainChannel" action="{!deleteMainChannel}"/>
		
		<apex:pageBlock title="NA主流渠道拓展" mode="edit" id="opppb">
			<apex:pageBlockButtons >
				<input type="button" value="{!$Label.VF_Easy_Button_Save}" onclick="submitForm()" class="btn" id="saveBtn"/>
				<apex:commandButton value="{!$Label.VF_Easy_Button_Return}" action="{!cancel}"/>
			</apex:pageBlockButtons>  
			<apex:pageMessages />
			<apex:inputHidden value="{!product}" />
			<apex:pageBlockSection title="数通主导厂商及我司拓展" columns="1">
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.Account_Competitor_Situation__c.Fields.Switch_Router_Competitor__c.Label}" for="srCompetitor" />
					<apex:inputField value="{!mainChannelExpand.Switch_Router_Competitor__c}" id="srCompetitor"/>
				</apex:pageBlockSectionItem>
			</apex:pageBlockSection>
			
			<apex:pageBlockTable value="{!srNCList}" var="srNC" style="width:95%;margin-top:10px" align="center" >
				<apex:column Style="width:6%;">
					<apex:facet name="header">
						<span class="addNC srNC">{!$Label.Add}</span>
					</apex:facet>
					<span class="delNC ncLine">{!$Label.Delete}</span>
					<apex:inputHidden value="{!srNC.IsDelete__c}"/>
				</apex:column>
				<apex:column headerValue="{!$ObjectType.China_Main_Channel__c.Fields.Main_Partner_Type__c.Label}" style="width:30%">
					<apex:inputField value="{!srNC.Main_Partner_Type__c}" required="true" style="width:180px;" id="ncType"/>
				</apex:column>
				<apex:column headerValue="{!$ObjectType.China_Main_Channel__c.Fields.Partner_Name__c.Label}" style="width:30%">
					<apex:inputField value="{!srNC.Partner_Name__c}" style="width:180px;"/><br/>
					<span class="errorMsg"></span> 
				</apex:column> 
				<apex:column headerValue="{!$ObjectType.China_Main_Channel__c.Fields.Partner_Name_Input__c.Label}" style="width:34%"> 
					<apex:inputField value="{!srNC.Partner_Name_Input__c}" style="width:180px;"/><br/>
					<span class="errorMsg"></span> 
				</apex:column>
			</apex:pageBlockTable>
			
			<apex:pageBlockSection title="存储主导厂商及我司拓展" columns="1">
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.Account_Competitor_Situation__c.Fields.Storage_Competitor__c.Label}" for="stCompetitor" />
					<apex:inputField value="{!mainChannelExpand.Storage_Competitor__c}" id="stCompetitor"/>
				</apex:pageBlockSectionItem>
			</apex:pageBlockSection>
			
			<apex:pageBlockTable value="{!stNCList}" var="stNC" style="width:95%;margin-top:10px" align="center" >
				<apex:column Style="width:6%;">
					<apex:facet name="header">
						<span class="addNC stNC">{!$Label.Add}</span>
					</apex:facet>
					<span class="delNC ncLine">{!$Label.Delete}</span>
					<apex:inputHidden value="{!stNC.IsDelete__c}"/>
				</apex:column>
				<apex:column headerValue="{!$ObjectType.China_Main_Channel__c.Fields.Main_Partner_Type__c.Label}" style="width:30%">
					<apex:inputField value="{!stNC.Main_Partner_Type__c}" required="true" style="width:180px;" id="ncType"/>
				</apex:column>
				<apex:column headerValue="{!$ObjectType.China_Main_Channel__c.Fields.Partner_Name__c.Label}" style="width:30%">
					<apex:inputField value="{!stNC.Partner_Name__c}" style="width:180px;"/><br/>
					<span class="errorMsg"></span> 
				</apex:column> 
				<apex:column headerValue="{!$ObjectType.China_Main_Channel__c.Fields.Partner_Name_Input__c.Label}" style="width:34%"> 
					<apex:inputField value="{!stNC.Partner_Name_Input__c}" style="width:180px;"/><br/>
					<span class="errorMsg"></span> 
				</apex:column>
			</apex:pageBlockTable>
			
			<apex:pageBlockSection title="智真&视讯主导厂商及我司拓展" columns="1">
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.Account_Competitor_Situation__c.Fields.TP_VC_Competitor__c.Label}" for="tvCompetitor" />
					<apex:inputField value="{!mainChannelExpand.TP_VC_Competitor__c}" id="tvCompetitor"/>
				</apex:pageBlockSectionItem>
			</apex:pageBlockSection>
			
			<apex:pageBlockTable value="{!tvNCList}" var="tvNC" style="width:95%;margin-top:10px;margin-bottom:15px" align="center" >
				<apex:column Style="width:6%;">
					<apex:facet name="header">
						<span class="addNC tvNC">{!$Label.Add}</span>
					</apex:facet>
					<span class="delNC ncLine">{!$Label.Delete}</span>
					<apex:inputHidden value="{!tvNC.IsDelete__c}"/>
				</apex:column>
				<apex:column headerValue="{!$ObjectType.China_Main_Channel__c.Fields.Main_Partner_Type__c.Label}" style="width:30%">
					<apex:inputField value="{!tvNC.Main_Partner_Type__c}" required="true" style="width:180px;" id="ncType"/>
				</apex:column>
				<apex:column headerValue="{!$ObjectType.China_Main_Channel__c.Fields.Partner_Name__c.Label}" style="width:30%">
					<apex:inputField value="{!tvNC.Partner_Name__c}" style="width:180px;"/><br/>
					<span class="errorMsg"></span> 
				</apex:column> 
				<apex:column headerValue="{!$ObjectType.China_Main_Channel__c.Fields.Partner_Name_Input__c.Label}" style="width:34%"> 
					<apex:inputField value="{!tvNC.Partner_Name_Input__c}" style="width:180px;"/><br/>
					<span class="errorMsg"></span> 
				</apex:column>
			</apex:pageBlockTable>
		</apex:pageBlock>
	</apex:form>
</body>
<script>
	var j$ = jQuery.noConflict();
	var canSave = true;
	j$(document).ready(function(){
		j$(".addNC").css('color','#015BA7').css('cursor','pointer')
	  	.mouseover(function(){j$(this).css('color','green').css('text-decoration','underline');})
	  	.mouseout(function(){j$(this).css('color','#015BA7').css('text-decoration','none');})
			.parent().css('text-align','center');
		j$(".delNC").css('color','#015BA7').css('cursor','pointer')
			.mouseover(function(){j$(this).css('color','red').css('text-decoration','underline');})
			.mouseout(function(){j$(this).css('color','#015BA7').css('text-decoration','none');})
			.click(function(){j$(this).parent().find("input[type=hidden]").val(true); deleteMainChannel();})
			.parent().css('text-align','center')
			.parent().find("select").change(function(){initNCNameField(j$(this));});
		j$(".srNC").click(function(){j$(".pbBody input:eq(0)").val("数通"); addMainChannel();});
		j$(".stNC").click(function(){j$(".pbBody input:eq(0)").val("存储"); addMainChannel();});
		j$(".tvNC").click(function(){j$(".pbBody input:eq(0)").val("智真&视讯"); addMainChannel();});
		//根据类型初始化是该选择渠道还是填写渠道
		j$(".ncLine").parent().parent().find("select").each(function(){ initNCNameField(j$(this))});
		//对于没有NC数据的Table显示为空
		j$(".pbBody>table").find("tbody").each(function(){ initTable(j$(this));});
		//设置主导厂商字段的必填属性
		j$(".pbBody .pbSubsection input").each(function(){
		  j$(this).attr("size","40");
			var input = j$(this).parent().html();
			input = "<div class=\"requiredInput\"><div class=\"requiredBlock\"></div>"+input+"<span class=\"errorMsg\"></span></div>";
			j$(this).parent().html(input);
		});
		initTitle();
  });
  function initNCNameField(select) {
		var ncType = select.val();
		var tr = select.parent().parent().parent();
		if(ncType == "我司合作的NA主流渠道") {
			//启用渠道选择字段
			tr.find('td:eq(2) span input').removeAttr('disabled');
			tr.find('td:eq(2) a').show();
			//失效渠道填写字段
			tr.find('td:eq(3) input').val("").attr('disabled','disabled');
			//清空错误信息
			tr.find('td:eq(3) input').removeClass("error");
			tr.find('td:eq(3) span').text("");
		} else if(ncType == "竞争对手的NA主流渠道") {
			//失效渠道选择字段
			tr.find('td:eq(2) span input').val("").attr('disabled','disabled');
			tr.find('td:eq(2) input:eq(0)').val("");
			tr.find('td:eq(2) a').hide();
			//启用渠道填写字段
			tr.find('td:eq(3) input').removeAttr('disabled');
			//清空错误信息
			tr.find('td:eq(2) span input').removeClass("error");
			tr.find('td:eq(2) span:eq(1)').text("");
		}
  }
  function submitForm() {
    canSave = true;
    if("{!canEdit}"=="false") { alert("{!$Label.No_Privilege}"); return; }
  	j$(".ncLine").parent().parent().find("select").each(function(){ validateNCInfo(j$(this))});
  	j$(".pbBody .pbSubsection input").each(function(){validateMainChannelInfo(j$(this));});
  	if(canSave) saveMainChannel();
  }
  function validateMainChannelInfo(mainChannel) {
		var mcName = mainChannel.val();
		if(mcName.trim()=="") {
  		mainChannel.parent().find('input').addClass("error");
			mainChannel.parent().find('span').text("错误:必须填写主导厂商名称");
			canSave = false;
 		}
  }
  function validateNCInfo(select) {
		var ncType = select.val();
		var tr = select.parent().parent().parent();
		var selectNC = tr.find('td:eq(2) input:eq(0)').val();
		var inputNC = tr.find('td:eq(3) input').val();
		if(ncType=="我司合作的NA主流渠道" && (selectNC=="000000000000000" || selectNC=="")) {
			tr.find('td:eq(2) span input').addClass("error");
			tr.find('td:eq(2) span:eq(1)').text("错误:必须选择一个渠道");
			canSave = false;
		} else if(ncType=="竞争对手的NA主流渠道" && inputNC.trim()=="") {
			tr.find('td:eq(3) input').addClass("error");
			tr.find('td:eq(3) span').text("错误:必须填写渠道名称");
			canSave = false;
		}
  }
  function initTable(table) {
  	if(""==table.html()) {
 			var html = "<tr class=\"dataRow even first last\" "+
 			  "onmouseover=\"if (window.hiOn){hiOn(this);} \" "+
 			  "onmouseout=\"if (window.hiOff){hiOff(this);} \" "+
 			  "onblur=\"if (window.hiOff){hiOff(this);}\" "+
 			  "onfocus=\"if (window.hiOn){hiOn(this);}\"> "+
				"<td class=\"dataCell\" style=\"color:gray;\" colspan=\"4\"> "+
				"<label>{!$Label.VF_Easy_No_Records_To_Display}</label></td></tr>";
			table.html(html);
 		}
  }
  function initTitle() {
  	j$(".pbTitle").css('width','40%');
		j$(".apexp").prepend("<div class=\"bPageTitle\"><div class=\"ptBody\"><div class=\"content\">"+
  		"<img src=\"/s.gif\" class=\"pageTitleIcon\"><h1 class=\"pageType noSecondHeader\">"+
  		"{!accountName}</h1></div></div></div>");
  }
</script>
</apex:page>