<apex:page standardController="Opportunity" extensions="HuaweiChinaProductMasterHandler" action="{!init}" showHeader="false">
    <head>
  <!-- Begin Default Content REMOVE THIS -->
  <h1 style="height: 30px;line-height: 30px;align:center; magin-left:auto;magin-right:auto;text-align: center; font-size:18px;">添加机会点产品</h1>
  <!-- End Default Content REMOVE THIS -->
  
  <!-- Begin dtree javascript file include -->
  <apex:includeScript value="{!$Resource.dtree_js}"/> 
  <link rel="StyleSheet" type="text/css" href="{!$Resource.dtree_css}" />
  <!-- End dtree javascript file include -->
  
  <!-- Begin Main Block -->
        <apex:includeScript value="{!URLFOR($Resource.ProjectProducts,'js/jquery.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.ProjectProducts,'js/jquery.dataTables.min.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.ProjectProducts,'js/jquery.jeditable.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.ProjectProducts,'js/jquery-ui.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.ProjectProducts,'js/jquery.dataTables.editable.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.ProjectProducts,'js/jquery.validate.js')}"/>
        <apex:includeScript value="/soap/ajax/24.0/connection.js" /> 
        <apex:includeScript value="/soap/ajax/24.0/apex.js" /> 
        <script type="text/javascript">
            var recNum = {!JSENCODE(itemNum)};
            var oppId = window.location.href.split('?')[1].split("&")[1].split('=')[1];
            
            function fnGetSelected( oTableLocal ){
                return oTableLocal.$('tr.row_selected');
            }
            
            function fnSuccess(result) {
                if ( result[0].getBoolean("success") ){
                    window.opener.location.href = '/' + oppId;
                    if (window.opener.progressWindow)
                    {
                        window.opener.progressWindow.close();
                    }
                    window.close();
                }
                else{
                    alert(result[0]["errors"]["message"]);
                    window.close();
                }
            }
            
            function fnFailure(error) {
                //alert("Error happened: Failure " + error);
                window.close();
            }
            
            function fnCreateRecords(){ 
                var a = $('#example').dataTable().fnGetData();
                var addRecords = [];                
                
                for(var i = recNum; i < a.length; i++){
                    var tempRecord = new sforce.SObject("Project_Product__c");
                    
                    tempRecord.Quantity__c = a[i][4];
                    tempRecord.Lookup__c = a[i][1];
                    tempRecord.Sales_Price__c= a[i][5];
                    tempRecord.Project_Name__c = oppId;
                    tempRecord.Name = a[i][2];
                    if(a[i][6] === 'U.S. Dollar') {
                        tempRecord.CurrencyIsoCode = 'USD';
                    } else if(a[i][6] === 'RMB') {
                        tempRecord.CurrencyIsoCode = 'RMB';
                    }
                    addRecords.push(tempRecord);
                }

                var s = window.location.href.split("&")[0];
                var sid = s.split('=')[1];
                sforce.connection.sessionId = sid.replace("%21","!");
                var result = sforce.connection.create(addRecords, {onSuccess: fnSuccess, onFailure: fnFailure, timeout: 10000});
            }
            
            $(document).ready(function(){
                $('#example').dataTable({
                "bPaginate": true, //翻页功能
                "bLengthChange": true, //改变每页显示数据数量
                "bFilter": true, //过滤功能
                "bSort": true, //排序功能
                "bInfo": true,//页脚信息
                "oLanguage": {
                       "sInfo": "第_START_ - _END_条  共 _TOTAL_ 条",
                       "sInfoEmpty": "第0-0条  共0条",
                       "sLengthMenu": "显示 _MENU_ 条",
                       "sEmptyTable":"",
                       "sZeroRecords":"",
                       "sSearch":"搜索",
                       "oPaginate": {
                           "sPrevious": "上一页",
                           "sNext":  "下一页",
                           "sLast": "最后一页",
                           "sFirst": "第一页"
                           }
                      },
                "bAutoWidth": true,
                "sPaginationType": "full_numbers",
                "sDom": 'T<"clear">lfrtip',
                "sSelectedRowClass": "",             
                "sClass": "center",   
                "aoColumns"   : [{ "bSearchable": false, "bVisible": false }, { "bSearchable": true, "bVisible": false }, {"sWidth": "40%" }, {"sWidth": "10%" }, {"sWidth": "10%" }, {"sWidth": "10%" }, {"sWidth": "10%" }]
                });                     
                
                $('#btnSave').click(function(){
                    //disable save button;
                    $('#example form').submit();
                    this.disabled = true;
                    this.className = "btnDisabled";
                    this.value= "Saving ..."
                    fnCreateRecords();
                });
                
                $('input[name=prochk]').click(function(){
                    if($(this).is(':checked')){
                        var a = $(this).attr('value');
                        var aid = a.split(",")[1];
                        var aName = a.split(",")[0];
                        var aLevel = a.split(",")[2];
                        $('#example').dataTable().fnAddData([$('#example').dataTable().fnGetData.length, aid,aName, aLevel ,1,0,'RMB']);                        
                    } else {
                        for(var i = $('#example').dataTable().fnGetData().length - 1; i >= 0 ; i--) {
                            if( $(this).attr('value').split(",")[1] == $('#example').dataTable().fnGetData()[i][1]) {
                                $('#example').dataTable().fnDeleteRow(i);
                                break;
                            }
                        }
                    }             
                        
                    $('#example').dataTable().makeEditable({
                    sUpdateURL: function(value, settings){
                                return value;
                        },
                    sReadOnlyCellClass: "read_only",
                    sAddURL: "",
                    sDeleteURL: "",
                    sSelectedRowClass: "",
                    sSuccessResponse: "IGNORE",
                    "aoColumns": [
                                    null,
                                    null,
                                    {
                                        tooltip: 'Click to edit',
                                        event: 'click',
                                        onblur: 'submit'
                                    },
                                    {
                                        tooltip: 'Click to edit',
                                        event: 'click',
                                        onblur: 'submit'
                                    },
                                    {
                                        tooltip: 'Click to edit',
                                        event: 'click',
                                        type: 'select',
                                        data: "{'RMB':'RMB','USD':'U.S. Dollar'}",
                                        onblur: 'submit'
                                    }
                            ]
                }); 
                });
            });

        function closeWindow(){
            window.close();
        }
        </script>
        <apex:stylesheet value="{!URLFOR($Resource.ProjectProducts,'css/demo_page.css')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.ProjectProducts,'css/demo_table.css')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.ProjectProducts,'css/jquery-ui-1.8.4.custom.css')}"/>
        <style type="text/css" title="currentStyle">
            #example_wrapper { -webkit-box-shadow: 2px 2px 6px #666; box-shadow: 2px 2px 6px #666; border-radius: 5px; }
            #example tbody {
                border-left: 1px solid #AAA;
                border-right: 1px solid #AAA;
            }
            #example thead th:first-child { border-left: 1px solid #AAA; }
            #example thead th:last-child { border-right: 1px solid #AAA; }
            .dataTables_info { padding-top: 0; }
            .dataTables_paginate { padding-top: 0; }
            .css_right { float: right; }
            #dt_example {background-color:#F8F8F8;}            
            #example tr.even:hover {background-color: #ECFFB3;}
            #example tr.even:hover td.sorting_1 {background-color: #DDFF75;}
            #example tr.even:hover td.sorting_2 {background-color: #E7FF9E;}
            #example tr.even:hover td.sorting_3 {background-color: #E2FF89;}
            #example tr.odd:hover {background-color: #E6FF99;}
            #example tr.odd:hover td.sorting_1 {background-color: #D6FF5C;}
            #example tr.odd:hover td.sorting_2 {background-color: #E0FF84;}
            #example tr.odd:hover td.sorting_3 {background-color: #DBFF70;}
        </style>  
  </head>
  
  <apex:form style="background-color:#ffffff;">
    <apex:pageBlock >
    <table style="border-collapse: separate;border-spacing: 2px; vertical-align:top">
    <tr>
      <td width="25%" valign="top" style="background-color: #ffffff; border-style: none; border-width: 0px;border-radius: 5px;">
        <div style="line-width:100px;color:#F8F8F8;border-radius: 5px;background-color:#1797C0;height: 30px;line-height: 30px;align:center; magin-left:auto;magin-right:auto;text-align: left; font-size:14px;font-weight:bold;padding-top: 5px;padding-right: 9px;padding-bottom: 5px;padding-left: 9px;"> 产品树</div>
        <div style="background-color: #A9E2F3;    border-radius: 5px;    margin-top: 2px;" >
        <script type="text/javascript">          
          var d = new dTree('d');  
            d.icon = {
                empty               : '{!$Resource.dtree_empty_gif}',
                line                : '{!$Resource.dtree_line_gif}',
                join                : '{!$Resource.dtree_join_gif}',
                joinBottom          : '{!$Resource.dtree_joinbottom_gif}',
                plus                : '{!$Resource.dtree_plus_gif}',
                plusBottom          : '{!$Resource.dtree_plusbottom_gif}',
                minus               : '{!$Resource.dtree_minus_gif}',
                minusBottom         : '{!$Resource.dtree_minusbottom_gif}',
                nlPlus              : '{!$Resource.dtree_nolines_plus_gif}',
                nlMinus             : '{!$Resource.dtree_nolines_minus_gif}'
            };
            d.config.useIcons=false;
            d.config.useCookies=false;
          d.add('0','-1','','');
          <apex:repeat value="{!parentNodes}" var="parent">
            d.add('{!parent.Id}','0','<input type="checkbox" name="prochk" id="{!parent.Id}" value="{!parent.Name},{!parent.Id},{!parent.Product_Level__c}">{!parent.Name}</input>','','','','','',false);
          </apex:repeat>
          <apex:repeat value="{!childNodes}" var="child">
            d.add('{!child.Id}','{!child.Parent_Product__c}','<input type="checkbox" name="prochk" id="{!child.Id}" value="{!child.Name},{!child.Id},{!child.Product_Level__c}">{!child.Name}</input>','','','','','',false);
          </apex:repeat>
          document.write(d); 
          
          <!-- Begin Add Product Event -->
          var proList = new Array();
          function addProduct(){
            // clear the product list
            proList = new Array();
            // all the prochk checkbox
            var chklst = document.getElementsByName("prochk");
            // push all the checked product to proList.
            for( var i=0; i<chklst.length; i++ ){
              if( chklst[i].checked ){
                proList.push(new Array(chklst[i].value.split(",")[0], chklst[i].value.split(",")[1]));
              }
            }
            alert(proList);
          };
          <!-- End Add Product Event -->
        </script>
        </div>
      </td>
      
      <td style="padding-left: 40px; padding-top:0px; vertical-align: top;">
        <div id="dt_example">        
        <div id="container"> 
        <div id="demo">  
            <table cellpadding="5" cellspacing="0" border="1" class="display" id="example" align="center">
            <thead>
                <tr>
                  <th>index</th>
                  <th>id</th>
                  <th>{!$ObjectType.Project_Product__c.fields.Product_Name__c.label}</th>
                  <th>{!$ObjectType.Project_Product__c.fields.Product_level__c.label}</th>
                  <th>{!$ObjectType.Project_Product__c.fields.Quantity__c.label}</th>
                  <th>{!$ObjectType.Project_Product__c.fields.Sales_Price__c.label}</th>
                  <th>{!$ObjectType.Project_Product__c.fields.CurrencyIsoCode.label}</th>
                </tr>
            </thead>
            <tbody>
                <apex:repeat value="{!existProducts}" var="item">
                    <tr class="gradeU">
                        <td class="read_only"></td>
                        <td class="sorting_1 read_only">{!item.Lookup__c}</td>
                        <td class="read_only">{!item.Product_Name__c}</td>
                        <td class="read_only">{!item.Product_level__c}</td>
                        <td class="read_only"><apex:outputText value="{0,number,#,###,###}"><apex:param value="{!item.Quantity__c}"/></apex:outputText></td>
                        <td class="read_only"><apex:outputText value="{0,number,#,###,###.##}"><apex:param value="{!item.Sales_Price__c}"/></apex:outputText></td>
                        <td class="read_only"><apex:outputText value="{!IF((item.CurrencyIsoCode=='USD'),'U.S. Dollar','RMB')}" /></td>
                    </tr>                     
                </apex:repeat>                        
            </tbody>
            <tfoot>
            </tfoot>    
        </table>
        </div>        
        </div> 
        </div>    
        <!-- <apex:commandButton id="btnSave" value="Save"/> -->
      </td>
    </tr>
    </table>    
    </apex:pageBlock>
    <center>
    <input type="button" id="btnSave" value="保存" class="btn" />
    <input type="button" id="btnClose" value="关闭" onclick="closeWindow()" class="btn" />
    </center>
  </apex:form>
  <!-- End Main Block -->
</apex:page>