<apex:page controller="CreateSruvey" action="{!init}" sidebar="false"
    showHeader="false">
    <!-- Begin Default Content REMOVE THIS -->

    <apex:pageMessages escape="false" />
    <br/>
    
    <br/>
    <a href="javascript:void(0)" style="color:#000" onclick="window.close()">关闭窗口</a>
    <script language="javascript">
    <apex:outputText value="{!IF(normal, 'window.location.href='+path,'')}"/>;

    </script>
    <!-- End Default Content REMOVE THIS -->
</apex:page>