<apex:page title="{!$Label.VF_CaseEdit_Label_PageTitle}: {!Case.CaseNumber}" Id="Page" standardController="Case" extensions="EditCaseWithoutConflictCheck">
	<!-- EditCaseWithoutConflictCheck -->
	<!-- @Purpose: Avoid conflict check during user edit case.-->
	<!-- @Author: Tommy Liu (tommyliu@celnet.com.cn)-->
	<!-- @Date: 2014-2-10 -->
	<div class="bPageTitle">
	<div class="ptBody">
	<div class="content">
		<img src="/s.gif" alt="{!$ObjectType.Case.Label}" class="pageTitleIcon" title="{!$ObjectType.Case.Label}"></img>
		<h1 class="pageType">{!$Label.VF_CaseEdit_Label_PageTitle}<span class="titleSeparatingColon">:</span></h1>
		<h2 class="pageDescription">{!Case.CaseNumber}<span class="icon"></span></h2><div class="blank">&nbsp;
	</div>
	</div>
	<!--  
	<div class="links"><a href="javascript:openPopupFocusEscapePounds(%27https://help.salesforce.com/apex/htdoor?loc=help&amp;target=cases_edit.htm&amp;section=Cases&amp;language=en_US&amp;release=188.7.4&amp;instance=CS5&amp;showSplash=true%27, %27Help%27, 1024, 768, %27width=1024,height=768,resizable=yes,toolbar=yes,status=yes,scrollbars=yes,menubar=yes,directories=no,location=yes,dependant=no%27, false, false);" title="Help for this Page (New Window)"><span class="helpLink">Help for this Page</span><img src="/s.gif" alt="" class="helpIcon"></img></a></div></div><div class="ptBreadcrumb">
	-->
	</div>
	</div>
	<apex:form Id="Form"> 
	  <div id="HiddenDiv" style="display:none;" >
    <apex:inputField value="{!Case.Type}" Id="Case_Type_Field"/>
    <apex:inputField value="{!Case.Problem_Priority__c}" Id="Case_Problem_Priority__c_Field"/>
    </div>
		<apex:pageBlock title="{!$Label.VF_CaseEdit_Label_PageTitle}" Id="PageBlock" mode="edit">
			<apex:pageMessages />
			<apex:pageBlockButtons >
				<apex:commandButton action="{!save}" value="{!$Label.VF_CaseEdit_Button_Save}"/>
				<apex:commandButton action="{!cancel}" value="{!$Label.VF_CaseEdit_Button_Cancel}"/>
			</apex:pageBlockButtons>
			
    	<apex:pageBlockSection title="{!$Label.VF_CaseEdit_Section_ProductInformation}" columns="2">
        <apex:pageBlockSectionItem >  
            <apex:outputLabel value="{!$ObjectType.Case.Fields.Barcode__c.Label}" for="Case__Barcode__c"/>
            <apex:inputField value="{!Case.Barcode__c}" id="Case__Barcode__c"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
            <apex:outputLabel value="{!$ObjectType.Case.Fields.Barcode_if_not_found_in_the_system__c.Label}" for="Case__Barcode_if_not_found_in_the_system__c"/>
            <apex:inputField value="{!Case.Barcode_if_not_found_in_the_system__c}" id="Case__Barcode_if_not_found_in_the_system__c"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
            <apex:outputLabel value="{!$ObjectType.Case.Fields.If_Second_Entitlement_Check_Passed__c.Label}" for="Case__If_Second_Entitlement_Check_Passed__c"/>
            <apex:inputField value="{!Case.If_Second_Entitlement_Check_Passed__c}" id="Case__If_Second_Entitlement_Check_Passed__c"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
            <apex:outputLabel value="{!$ObjectType.Case.Fields.Second_Entitlement_Check_Failed_Reason__c.Label}" for="Case__Second_Entitlement_Check_Failed_Reason__c"/>
            <apex:inputField value="{!Case.Second_Entitlement_Check_Failed_Reason__c}" id="Case__Second_Entitlement_Check_Failed_Reason__c"/>
        </apex:pageBlockSectionItem>
      </apex:pageBlockSection>
      
    	<apex:pageBlockSection title="{!$Label.VF_CaseEdit_Section_AfterSalesTechnicalSupportAdditionalInformation}" columns="2" Id="AfterSalesTechnicalSupportAdditionalInformation_Selection">
				<apex:pageBlockSectionItem Id="Case_Type_Item" >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Type.Label}"/>
         	<apex:outputField value="{!Case.Type}" Id="Case_Type_Field"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Problem_Priority__c.Label}"/>
         	<apex:outputField value="{!Case.Problem_Priority__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Fault_Type__c.Label}"/>
         	<apex:inputField value="{!Case.Fault_Type__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Servere_Accident_Level__c.Label}"/>
         	<apex:inputText value="{!Case.Servere_Accident_Level__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Remote_Resolved_Once__c.Label}"/>
         	<apex:inputField value="{!Case.Remote_Resolved_Once__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.CreatedDate.Label}"/>
         	<apex:outputField value="{!Case.CreatedDate}"/>
        </apex:pageBlockSectionItem>
        <!--  
    	</apex:pageBlockSection>
    	<apex:pageBlockSection title="InnerSection_Solved_Record" showHeader="false" columns="2">
    	-->
				<apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Uses_Cases__c.Label}" />
         	<apex:inputField value="{!Case.Uses_Cases__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Cases_ID__c.Label}"/>
         	<apex:inputField value="{!Case.Cases_ID__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Fault_Cause__c.Label}"/>
         	<apex:inputField value="{!Case.Fault_Cause__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Diagnostic_Method__c.Label}"/>
         	<apex:inputField value="{!Case.Diagnostic_Method__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Root_Cause_Analysys__c.Label}"/>
         	<apex:inputField value="{!Case.Root_Cause_Analysys__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Root_Cause_Type__c.Label}"/>
         	<apex:inputField value="{!Case.Root_Cause_Type__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Root_Cause_SubType__c.Label}"/>
         	<apex:inputField value="{!Case.Root_Cause_SubType__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Implementation_Type__c.Label}"/>
         	<apex:inputField value="{!Case.Implementation_Type__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Product_Family1__c.Label}"/>
         	<apex:inputField value="{!Case.Product_Family1__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Solution_Type__c.Label}"/>
         	<apex:inputField value="{!Case.Solution_Type__c}"/>
        </apex:pageBlockSectionItem> 
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Fault_Module__c.Label}"/>
         	<apex:inputField value="{!Case.Fault_Module__c}"/>
        </apex:pageBlockSectionItem>
    	</apex:pageBlockSection>
    	<apex:pageBlockSection title="InnerSection_Footer" showHeader="false" columns="1">
				<apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$Label.VF_CaseEdit_Label_InternalComments}" />
         	<apex:inputTextArea value="{!comments}" style="width: 80%"/><!-- this is fake field for intenal comments -->
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Root_Cause_Analysis__c.Label}"/>
         	<apex:inputField value="{!Case.Root_Cause_Analysis__c}" style="width: 80%"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        <!--  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Solution__c.Label}"/>
         	<apex:outputField value="{!Case.Solution__c}" style="width: 80%"/>
        -->
        </apex:pageBlockSectionItem>
    	</apex:pageBlockSection>
    	
    	<apex:pageBlockSection title="{!$Label.VF_CaseEdit_Section_OnSiteServiceInformation}" columns="2">
				<apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Onsite_Work_Order_Required__c.Label}"/>
         	<apex:inputField value="{!Case.Onsite_Work_Order_Required__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Office__c.Label}"/>
         	<apex:inputField value="{!Case.Office__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Requested_Arrival_Time__c.Label}"/>
         	<apex:inputField value="{!Case.Requested_Arrival_Time__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Requested_Resolution_Time__c.Label}"/>
         	<apex:inputField value="{!Case.Requested_Resolution_Time__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Prearranged_Arrival_Time__c.Label}"/>
         	<apex:inputField value="{!Case.Prearranged_Arrival_Time__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem > </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Final_Arranged_Arrival_Time__c.Label}"/>
         	<apex:inputField value="{!Case.Final_Arranged_Arrival_Time__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Cause_of_Rearrange_Arrival_Time__c.Label}"/>
         	<apex:inputField value="{!Case.Cause_of_Rearrange_Arrival_Time__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Set_Out_Time__c.Label}"/>
         	<apex:inputField value="{!Case.Set_Out_Time__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem > </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Actual_Arrival_Time__c.Label}"/>
         	<apex:inputField value="{!Case.Actual_Arrival_Time__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Arrival_On_Time__c.Label}"/>
         	<apex:outputField value="{!Case.Arrival_On_Time__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem > </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Arrival_Delay_Reason__c.Label}"/>
         	<apex:inputField value="{!Case.Arrival_Delay_Reason__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Actual_Restore_Time__c.Label}"/>
         	<apex:inputField value="{!Case.Actual_Restore_Time__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Restore_On_Time__c.Label}"/>
         	<apex:outputField value="{!Case.Restore_On_Time__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem > </apex:pageBlockSectionItem>
         <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Restore_Delay_Reason__c.Label}"/>
         	<apex:inputField value="{!Case.Restore_Delay_Reason__c}"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Leave_Time__c.Label}"/>
         	<apex:inputField value="{!Case.Leave_Time__c}"/>
        </apex:pageBlockSectionItem>
    	</apex:pageBlockSection>
    	<apex:pageBlockSection title="InnerSection_Footer" showHeader="false" columns="1">
    		<apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Onsite_Service_Advice__c.Label}"/>
         	<apex:inputField value="{!Case.Onsite_Service_Advice__c}" style="width: 80%"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.Remark__c.Label}"/>
         	<apex:inputField value="{!Case.Remark__c}" style="width: 80%"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >  
        	<apex:outputLabel value="{!$ObjectType.Case.Fields.RMA__c.Label}"/>
         	<apex:inputField value="{!Case.RMA__c}" style="width: 80%"/>
        </apex:pageBlockSectionItem>
    	</apex:pageBlockSection>
		</apex:pageBlock>
	</apex:form>
	<script type="text/javascript">
	//因为Type字段是控制字段，不能够在服务器端 代码设置为只读，所以在这里设置为只读 
	var hidDiv = document.getElementById("HiddenDiv");
	hidDiv.style = "display:none;";
	</script>
</apex:page>