<apex:page standardController="Income_And_Forecast__c" extensions="MassMaIncomeForecastExtension" recordSetVar="incomeAndForecasts">
<apex:includeScript value="{!$Resource.jquery}"/>
<style>
	.outer {table-layout:fixed;}
	#bodyCell {padding-left: 30px;}
	.customerScrollBar { position:relative; zoom:1; overflow:auto; margin-top:10px;}
	.tableMarginBottom { margin-bottom:25px}
</style>
<script>
	var j$ = jQuery.noConflict();
	j$(document).ready(function(){
		//j$(".pbBody").css('margin','0');
		j$(".pbTitle").css('width','40%');
		j$(".pbBottomButtons").css('margin-top','0px');
		j$(".oRight form").prepend("<div class=\"bPageTitle\"><div class=\"ptBody\"><div class=\"content\">"+
			"<img src=\"/s.gif\" class=\"pageTitleIcon\"><h1 class=\"pageType noSecondHeader\">"+
			"{!salesMeetingOffice}{!salesMeetingName}</h1></div></div></div>");
		j$(".pbBody input[type=text]").attr("size","15");
		
		j$(".readonlyField").css("background-color","white").css("border","0px").attr("readonly","readonly");
	});
</script>
<body>
	<apex:form id="massForm">
    	<apex:pageBlock title="{!$Label.VF_Easy_MassMaIncomeForecast_Title}" id="massEdit" mode="edit">
    		<apex:pageMessage summary="{!$Label.VF_Easy_MassMaIncomeForecast_Stock_explained}<br/>{!$Label.VF_Easy_MassMaIncomeForecast_Incremental_explained}" severity="INFO" strength="3" escape="false"/>
    		<apex:pageMessages id="messages"/>
    		<apex:pageBlockSection title="{!$Label.VF_Easy_MassMaIncomeForecast_Product}" columns="2">
			</apex:pageBlockSection>
    	<div class="customerScrollBar tableMarginBottom">
    		<apex:pageBlockTable value="{!productIafList}" var="piaf" id="ptable">
	        	<apex:column headerValue="{!$ObjectType.Income_And_Forecast__c.Fields.Product__c.Label}">
	        		<apex:outputField value="{!piaf.Product__c}" />
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.Income_And_Forecast__c.Fields.Stock_Overall__c.Label}">
	        		<apex:inputField value="{!piaf.Stock_Overall__c}" required="true" />
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.Income_And_Forecast__c.Fields.Stock_finished__c.Label}">
	        		<apex:inputField value="{!piaf.Stock_finished__c}" required="true" />
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.Income_And_Forecast__c.Fields.Stock_Not_Finished__c.Label}">
	        		<apex:inputField value="{!piaf.Stock_Not_Finished__c}" required="true" />
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.Income_And_Forecast__c.Fields.Incremental_Finished__c.Label}">
	        		<apex:inputField value="{!piaf.Incremental_Finished__c}" required="true" />
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.Income_And_Forecast__c.Fields.Incremental_Not_Finished__c.Label}">
	        		<apex:inputField value="{!piaf.Incremental_Not_Finished__c}" required="true" />
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.Income_And_Forecast__c.Fields.Forecast_This_Quarter_HQ_Distribute__c.Label}">
	        		<apex:inputField value="{!piaf.Forecast_This_Quarter_HQ_Distribute__c}" required="true" />
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.Income_And_Forecast__c.Fields.Forecast_Next_Quarter__c.Label}">
	        		<apex:inputField value="{!piaf.Forecast_Next_Quarter__c}" required="true" />
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.Income_And_Forecast__c.Fields.Q1_Target__c.Label}">
	        		<apex:inputField value="{!piaf.Q1_Target__c}" required="true"/>
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.Income_And_Forecast__c.Fields.H1_Target__c.Label}">
	        		<apex:inputField value="{!piaf.H1_Target__c}" required="true"/>
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.Income_And_Forecast__c.Fields.Annual_Target__c.Label}">
	        		<apex:inputField value="{!piaf.Annual_Target__c}" required="true"/>
	        	</apex:column>
    		</apex:pageBlockTable>
    	</div>
		<apex:pageBlockSection title="{!$Label.VF_Easy_MassMaIncomeForecast_Industry}" columns="2">
		</apex:pageBlockSection>
		<div class="customerScrollBar">
    		<apex:pageblockTable value="{!industryIafList}" var="iiaf" id="itable">
	        	<apex:column headerValue="{!$ObjectType.Income_And_Forecast__c.Fields.Industry__c.Label}">
	        		<apex:inputText value="{!iiaf.Industry__c}" styleClass="readonlyField"/>
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.Income_And_Forecast__c.Fields.Stock_Overall__c.Label}">
	        		<apex:inputField value="{!iiaf.Stock_Overall__c}"  required="true" />
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.Income_And_Forecast__c.Fields.Stock_finished__c.Label}" >
	        		<apex:inputField value="{!iiaf.Stock_finished__c}"  required="true" />
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.Income_And_Forecast__c.Fields.Stock_Not_Finished__c.Label}">
	        		<apex:inputField value="{!iiaf.Stock_Not_Finished__c}" required="true" />
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.Income_And_Forecast__c.Fields.Incremental_Finished__c.Label}">
	        		<apex:inputField value="{!iiaf.Incremental_Finished__c}" required="true"/>
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.Income_And_Forecast__c.Fields.Incremental_Not_Finished__c.Label}">
	        		<apex:inputField value="{!iiaf.Incremental_Not_Finished__c}" required="true"  />
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.Income_And_Forecast__c.Fields.Forecast_This_Quarter_HQ_Distribute__c.Label}">
	        		<apex:inputField value="{!iiaf.Forecast_This_Quarter_HQ_Distribute__c}" required="true" />
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.Income_And_Forecast__c.Fields.Forecast_Next_Quarter__c.Label}">
	        		<apex:inputField value="{!iiaf.Forecast_Next_Quarter__c}" required="true" />
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.Income_And_Forecast__c.Fields.Q1_Target__c.Label}">
	        		<apex:inputField value="{!iiaf.Q1_Target__c}" required="true"/>
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.Income_And_Forecast__c.Fields.H1_Target__c.Label}">
	        		<apex:inputField value="{!iiaf.H1_Target__c}" required="true"/>
	        	</apex:column>
	        	<apex:column headerValue="{!$ObjectType.Income_And_Forecast__c.Fields.Annual_Target__c.Label}">
	        		<apex:inputField value="{!iiaf.Annual_Target__c}" required="true"/>
	        	</apex:column>
    		</apex:pageblockTable>
    	</div>
    		
			<apex:pageBlockButtons >
				<apex:commandButton value="{!$Label.VF_Easy_Button_Save}" action="{!saveIncomeForecast}"/>
				<apex:commandButton value="{!$Label.VF_Easy_Button_Return}" action="{!cancel}"/>
			</apex:pageBlockButtons>
    	</apex:pageBlock>
	</apex:form>
</body>
</apex:page>