<apex:page standardController="Product_Details__c" recordSetVar="unused" sidebar="false">

<!-- for this page to work with a specific custom object, change standController="entityname" to custom object api name  
    For example, if custom object name is Warehouse__c, change first part of the first line to standardController="warehouse__c" -->

    
<apex:includeScript value="{!$Resource.UtilJS}" />
<apex:form >
<apex:pageBlock >
<apex:pageMessages />
<apex:pageBlock >

</apex:pageBlock>
<apex:pageBlockButtons >
<apex:commandButton value="Save" action="{!save}"/>
<apex:commandButton value="Return" action="{!cancel}"/>
</apex:pageBlockButtons>
<apex:pageBlockTable value="{!selected}" var="a" id="table">
<apex:column headerValue="{!$ObjectType.Product_Details__c.fields.name.label}">
<apex:outputField value="{!a.name}"/>
</apex:column>
<apex:column headerValue="{!$ObjectType.Product_Module__c.fields.name.label}">
<apex:inputField value="{!a.Product_Name__c}"/>
</apex:column>
<apex:column headerValue="{!$ObjectType.Product_Module__c.fields.Module_Name__c.label}">
<apex:inputField value="{!a.Module_Name__c}"/>
</apex:column>
<apex:column headerValue="{!$ObjectType.Product_Details__c.fields.Quantity__c.label}">
<apex:inputField value="{!a.Quantity__c}"/>
</apex:column>
<apex:column headerValue="{!$ObjectType.Product_Module__c.fields.List_Price__c.label}">
<apex:inputField value="{!a.List_Price__c}"/>
</apex:column>
</apex:pageBlockTable>
</apex:pageBlock>
</apex:form>
</apex:page>