<apex:page standardController="Case" extensions="SendSMSController" action="{!init}" tabStyle="Case">
 <!-- Begin Default Content REMOVE THIS -->
  <apex:pageMessages escape="false"/>
  <script language="javascript"><apex:outputText value="{!IF(smsTypeIsNull, msg, 'window.location.href='+path)}"/>;</script>
  
  <!-- End Default Content REMOVE THIS -->
</apex:page>